.reference-options-input{
    ion-grid{
        padding: 3px 0px !important;
        ion-col{
            padding: 0px;
        }
    }
    [header-input]{
        margin-left: 3px
    }
    p{
        padding: 0px;
        margin: 3px;
        font-size: 13px;
    }
    .button-icon{
        font-size: 30px;
        margin-top: 3px;
        display: block;
    }
}
