<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
                <ion-menu-toggle>
                    <ion-menu-button></ion-menu-button>
                </ion-menu-toggle>
            </ion-buttons>
            <ion-title>
                {{core().account?.name}}
            </ion-title>
    </ion-toolbar>    
</ion-header>  
<ion-content>    

	<div class="backgroud-wrapper" [ngStyle]="{'background-image' : 'url(' + core()?.account?.introBackground?._url + ')'}">

		<!--- 
		<slide-block [isInitialize]="core().isInitialize" [appid]="bannerAppid"></slide-block>
    
		<hr>

		--->
		
		<menu-tile-block *ngIf="core().menu" [flat]="false" [menu]="core().menu"></menu-tile-block>
	
	</div>

</ion-content>

