@keyframes trShimmer{
    0%{
        background-position: -800px 0
    }
    100%{
        background-position: 800px 0
    }
}

tr.mock-line
{
    height: 50px; /* change height to see repeat-y behavior */
    display: block;
    &:nth-child(odd){
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: trShimmer;
        animation-timing-function: linear;
        background: linear-gradient(to right, #f2f2f2 8%, #dddddd 18%, #eeeeee 33%) !important;
        background-size: 800px 50px;
        position: relative;
    }
}
