[only-next-pagination]{
    ion-toolbar{
        .allBatch{
            label{
                background: none;
                border: none;
                color: #fff;
                margin-left: 5px;
            }
        }
        .footerBar{
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            ion-icon{
                color: #fff;
                font-size: 25px;
                margin: 0 10px;
                cursor: pointer;
                &.noPrevPage, &.noNextPage{
                    opacity: 0.5;
                }
            }             
        }     
        .total, .none{
            font-size: 12px;
            color: #fff;            
            width: 10%;
            text-align: center;
        }   
    }    
}

@media all and (max-width: 767px) 
{
    [only-next-pagination]{
        ion-toolbar{
            .total, .none{
                width: 30%;
            }   
        }    
    }
}
