.video-upload-input{
    > .input-wrapper{
        &.no-editable{
			table{
				tr{
				    background: #f2f2f2;
				}
			}
		}
	}

	.attachment-input{
		left: 90px;
	}

	.boxes{
		table{
			display: grid;
			grid-template-columns: repeat(auto-fill, minmax(0px, 200px));
			justify-items: center;
			gap: 20px;
			tr{
				display: flex;
				height:auto !important;
				margin-right: 10px;
				td > div{
					margin: 0 !important;
				}
				.buttons-div{
					height: 100%;
					background: whitesmoke;
					flex-direction: column;
				}
				.no-items{
					height: 100%;
					align-items: center;
					padding: 0 10px;
				}
			}	
		}
	}

	table{
		tr{
			cursor: pointer;
			a{
				display: flex;
			}
			img{
				//max-width: 250px;
				max-height: 250px;
			}
			.sample{
				padding: 100px 50px;
			}			
		}
	}	
}

@media all and (max-width: 767px) 
{          
	.upload-json-input{
		table{
			tr{
				td{
					padding-left : 0px;
					&:before{
						padding:0;
						width:0;
					}
					.sample{
						padding: 100px 30px;
					}
				}					
			}	
		}
	}	
}
