.agree-input{
    label{
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .description
    {
        height: 400px;
        overflow: scroll;
        background: #fff;
        padding: 20px;
        border: solid 1px #d2d2d2;
        small{
            font-size: 16px;
            line-height: 30px;
        }
    }
}
