//@import '../../..//variables';
@import "./container/base.form.container.scss";
@import "./container/base.form.container.scss";
@import "./container/flat/flat.form.container.scss";
@import "./container/segment/segment.form.container.scss";
@import "./container/accordion/accordion.form.container.scss";
@import "./container/wizard/wizard.form.container.scss";
@import "./container/expand/expand.form.container.scss";
@import "./container/steps/steps.form.container.scss";

.app-access{
	form[dynamic-form]
	{
		.save-button{
			width: 100% !important;
		}
		.cancel-button{
			display: none !important;
		}
	}	
}

.buttons{
    display: flex;
    justify-content: end;
    width: 100%;
    ion-button{
        font-size: 16px;
        //padding: 0px 10px;
        //margin-right: 10px;
        --border-radius: 5px;
        &:last-child{
            //margin-right: 0px;
        }
    }
    .start{
        width: 50%;
    }
    .end{
        width: 50%;
        display: flex;
        justify-content: flex-end;
    }
    .save-button{
        --background: var(--background-save-button);
        --background-activated : var(--background-save-button);
        --background-focused : var(--background-save-button);	
        --background-hover: var(--background-save-button);
        --background-activated-opacity : 0.5;
        --background-focused-opacity : 0.5;		
        --background-hover-opacity:0.5;
        --border-radius: 5px;
        --color:var(--color-save-button);
        border-color:var(--background-save-button);
        --padding-start: 20px;
        --padding-end: 20px;
        height: 2rem;
        &:hover:not(.disable-hover)
        {
            opacity: 0.8;
        } 
        ion-icon{
            --color:var(--color-save-button);
        }
        //@include btn-border-drawing(gold, gold, 2px, bottom, right);
    }
    .cancel-button, .prev-button, .next-button{
        --background-hover:var(--background-cancel-button);
        --background: var(--background-cancel-button);
        --background-activated : var(--background-cancel-button);
        --background-focused : var(--background-v-button);	
        --background-hover: var(--background-v-button);
        --background-activated-opacity : 0.5;
        --background-focused-opacity : 0.5;		
        --background-hover-opacity:0.5;
        --border-radius: 5px;
        --color:var(--color-cancel-button);
        border-color: var(--background-cancel-button);
        --padding-start: 20px;
        --padding-end: 20px;
        height: 2rem;
        &:hover:not(.disable-hover)
        {
            opacity: 0.8;
        }
        ion-icon{
            --color:var(--color-cancel-button);
        }
        //@include btn-border-drawing(#eaa571, #eaa571, 2px, bottom, right);
    }
    .prev-button, .next-button{
        display: none;
    }
}

form[dynamic-form]
{
    display: block;
    padding: 0px;
    border-radius: 5px;
    color:var(--input-default-color);
	background-color: var(--background-form);

	ion-skeleton-text{
		width:100%;
		height:40px;
		margin-bottom: 10px;
	}

	.loading-container{
		padding: 50px;
		text-align: center;
	}

	.mat-tab-body, .mat-tab-body-wrapper, .mat-tab-body-content{
		overflow: visible;
	}

    .no-available{
        background: indianred;
        padding: 10px;
        color: #fff;
        border-radius: 5px;
	}

	input:not([readonly]){
		background-color: #fff;
	}
	
	.hidden{
		input, .item-header, ng-select, ion-toggle, .icon, [dynamic-list], 
		.add-button, textarea, ion-grid, attachment-input{
			display:none;
		}
	}
    
    &.load{
        display: none;
    }

    .body-form{
        padding: 0 15px;
        display: block !important;
    }

    .sub-header-form{
        margin: 20px;
        border: solid 1px #d2d2d2;
        width: calc(100% - 40px);
        background: #fff;
    }
    .footer-container{        
        .error{
            margin-left: 5px;
            display: inline-block;
            color: #fff;
        }        
    }
    /*bank-field{
        padding: 5px 0px !important;
        .field:nth-child(even){
            padding-right: 5px;
        }
        .field:nth-child(odd){
            padding-left: 5px;
        }
    }
    hidden-field{
        padding: 0px !important;
    }
    address-field{
         padding: 5px 0 !important;
    }

    button-icon-field{
        button{
            border: solid 1px;
            margin-top: 20px;
            height: 32px;
            margin-bottom: 0;
        }
    }
    .body-form{
        clear: both;
        display: flow-root;
        padding: 10px;
    }
    generate-password-field{
        input{
            width: 80% !important;
            float: left;
        }
        button{
            width: 18%;
            margin: 1px 0;
            border: solid 1px;
            height: 30px;
            float: left;
            border-right: 0;
            border-radius: 0;
            border-color: #d2d2d2;
            background-color: #fff;
        }
    }
   ion-select,
   date-select-field,
   ion-checkbox{
       button{
           display: none;
       }
   }
   .arrange-field{
       .display{
           label{
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                width: 100%;
                border: solid 1px #d2d2d2;
                height: 32px;
                padding: 7px 10px;
           }
       }
   }*/
}

@media all and (max-width: 767px) 
{
    form[dynamic-form]{
		margin-bottom: 20px; // BAR DAR UM ESPACO AOS BOTOES NO FOOTER
    }

    .buttons{
        width: 100%;
        ion-button{
            width: calc(50%);
            text-align: center;
            height: 30px;
        }
        .prev-button, .next-button{
            display: block;
        }
    }
}

@media only screen and (min-width: 768px)
{
    form[dynamic-form]{
        ion-col.col-partial{
                    max-width: none !important;
                    width: auto !important;
                    flex: 1 !important;
        }         
    }
}