.sum-form-output{
    position: relative;
    height: 25px;
    meter{
        position: absolute;
    }
    span{
        position: absolute;
        left: 5px;
        top: 6px;
        font-size: 12px;
    }
}
/*total-output{
    display: block;
    .wrap-progress{
        display: flex;
        align-items: center;
        width: 100%;
        progress{
            width: 95%;
            margin-right: 15px;
        }
    }
}*/
