.note-input{
	.note-type{
		background: darkseagreen;
		text-align: center;
		padding: 10px;
		display: block;
		border-radius: 10px;	
		color: #ffffff;		
	}
	.warning{
		.note-type{
			background: bisque;
			color: #333333;
		}
	}
	.danger{
		.note-type{
			background: indianred;			
		}
	}	
}
