grid-form-page{	

    .toolbar-searchbar{
        ion-searchbar{
            width: calc(100% - 40px);
            float: left;
        }
        .arrow{
            color: #fff;
            font-size: 25px;
            float: left;
            margin-top: 7px;
        }
    }

    ion-searchbar{
        .searchbar-input-container{
            background-color: #fff;
			border-radius: 5px;
			height: 30px !important;
        }
	}    	
}

@media (max-width: 767px) {

}
  

