.tab-partial{
	ion-segment{
		flex-direction: column;
		ion-segment-button{
			padding: 10px;
		}		
	}
}

@media (max-width: 767px) {
	.tab-partial{
		.row-tab{
			flex-direction: column-reverse;
		}
	}
}
  
