@import "./video.url/video.url.output";
@import "./reference.form/reference.form.output";
@import "./percentage/percentage.output";
@import "./sum.form/sum.form.output";
@import "./text/text.output";
@import "./rich.text/rich.text.output";
@import "./title/title.output";
@import "./multi.option/multi.option.output";
@import "./upload.json/upload.json.output";
@import "./image/image.output";
@import "./disc/disc.output";
@import "./question/question.output";
@import "./reference.list/reference.list.output";
@import "./reference.select/reference.select.output";
@import "./verify.payment/verify.payment.output";
@import "./download/download.output";
@import "./matrix/matrix.output";
@import "./avatar/avatar.output";
@import "./star/star.output";
@import "./sub.form/sub.form.output";
@import "./option/option.output";
@import "./data.form/data.form.output";
@import "./iframe/iframe.output";
@import "./button/button.output";
@import "./share.buttons/share.buttons.output";
@import "./select.icon/select.icon.output";
@import "./comment/comment.output";
@import "./integer/integer.output";
@import "./video.playlist/video.playlist.output";
@import "./date/date.output";
@import "./lock/lock.output";
@import "./url/url.output";
@import "./barcode/barcode.output";
@import "./fieldset/fieldset.output";
@import "./page.url/page.url.output";
@import "./youtube.live/youtube.live.output";
@import "./source.code/source.code.output";
@import "./audio/audio.output";
@import "./pdf/pdf.output";
@import "./menu/menu.output";
@import "./cron.job/cron.job.output";
@import "./agree/agree.output";
@import "./step.item/step.item.output";
@import "./object/object.output";
@import "./list.multi.select/list.multi.select.output";
@import "./charges.pagarme/charges.pagarme.output";
@import "./stock.products/stock.products.output";
@import "./stock.moviment/stock.moviment.output";
@import "./price.products/price.products.output";
@import "./tracking.correios/tracking.correios.output";
@import "./currency/currency.output"; 

.output{    
	padding: 10px;
    display: flex;
    p, h1, h2, h3, h4, h5, h6{
        margin: 0px;
    }
    hr{
        background: #666;
        margin: 20px 10px;
    }
}

@include style-meter();

@media (max-width: 767px) {
    p, h1, h2, h3, h4, h5, h6{
        white-space: pre-wrap;
    }
}
  