// FONTES //
@font-face {
    font-family: muliRegular;
    src: url('/assets/fonts/Muli-Regular.ttf'); 
}

@font-face {
    font-family: muliBold;
    src: url('/assets/fonts/Muli-Bold.ttf');
}

@font-face {
    font-family: muliItalic;
    src: url('/assets/fonts/Muli-Italic.ttf');
}

@font-face {
    font-family: muliSemiBold;
    src: url('/assets/fonts/Muli-SemiBold.ttf');
}

:root{
	--theme-color : #{$theme-color};
	--background-body : #{$background-body}; 
}

html, body{
    background: var(--background-body);
    -ms-touch-action: manipulation;
	touch-action: manipulation;	
}

ion-content {
    --background: var(--background-body);
    --overflow: scroll;
}

.label-partial label{
    width: 100%;
}

/* CUSTOM */
form{
	.header-container{
		display: none;
	}
	.mat-toolbar{
		background: var(--theme-color);
		color: #ffffff;
		text-align: justify;
	}
}

error-input {
    color: indianred !important;
}

.has-network menu-nav-block ion-footer{
	border-top: solid 1px var(--menu-color);
	ion-toolbar{
		--background : var(--menu-background-color);
		ion-button{
			--color: var(--menu-color);
		}
	}
}

ion-menu menu-nav-block .menu-list > li.children > a {
    border-bottom: var(--menu-color) solid 1px !important;
    border-top: var(--menu-color) solid 1px !important;
}

.solved-wrapper{
	border-top: solid 1px var(--menu-color) !important;
}   

/*.solved{
	color: #666666 !important;
	a{
		color: #666666 !important;
	}
}*/

/* center the blockquote in the page */
.blockquote-wrapper {
	display: flex;
 }
 
 /* Blockquote main style */
 .blockquote {
	position: relative;
    align-self: center
 }
 
 /* Blockquote header */
 .blockquote h1 {
    position: relative;
    //color: var(--p-color);
    font-size: 1.5rem;
    font-weight: normal;
    line-height: 1.3;
    margin: 0;
    border: 2px solid #fff;
    border: solid 2px;
    border-radius: 20px;
    padding: 0 15px;
	text-align: center;
	margin: 20px;
 }

 .blockquote h1 span{
	padding : 0;
	border-bottom:none;
 }
 
 /* Blockquote right double quotes */
 .blockquote h1:after {
	 content:"";
	 position: absolute;
	 //border: 2px solid var(--p-color);
	 border-radius: 0 50px 0 0;
	 width: 60px;
	 height: 60px;
	 bottom: -62px;
	 left: 50px;
	 border-bottom: none;
	 border-left: none;
	 z-index: 3; 
 }
 
 .blockquote h1:before {
	 content:"";
	 position: absolute;
	 width: 80px;
	 //border: 6px solid var(--theme-color);
	 bottom: -3px;
	 left: 50px;
	 z-index: 2;
 }
 
 /* increase header size after 600px */
 @media all and (min-width: 600px) {
	 .blockquote h1 {
		 font-size: 3rem;
		 line-height: 1.2;
	}
 
 }
 
 /* Blockquote subheader */
 .blockquote h4 {
	position: relative;
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0;
    z-index: 1;
    margin-left: 150px;
    //padding-left: 135px;
 }
 
  
 .blockquote h4:first-letter {
   margin-left:-12px;
 }

 /* TYPE 2 */
 blockquote.t2 {
	//color: var(--p-color);
    margin: 0 auto;
    text-align: justify;
    padding: 0px 10px 0;
    margin: 20px;
 }
 blockquote.t2 h1 {
	font-size: 4rem;
 }
 blockquote.t2 p {
	font-style: italic;
 } 
 
 blockquote.t2 p::before,
 blockquote.t2 p::after {
	content: "“";
    font-size: 5rem;
	margin: -1.2rem 0 0 -3rem;
    position: absolute;
	opacity: 0.5;
	width: 40px;
 }
 
 blockquote.t2 p::after {
	content: "”";
	margin: -1rem 0rem 0 0;
 }
 
 blockquote.t2 cite {
	font-size: 0.7rem;
	color: var(--font-color);
 }

.dynamic-viewer {
	.body-container > .row:nth-child(even){
		background: none;
		//color: #fff;	
	}
	.image-output p img{
		border: none;
	}
	.output p{ 
		color : var(--font-color-form);
	}
}

.series-app{
	[card-list-container] ion-card .card-content{
		background: var(--theme-color);
	}	
}

[card-list-container] ion-card .card-footer{
	ion-button{
		color: #ffffff;
	}
}

.download-output > p > span{
	background: var(--theme-color) !important;
	a{
		//color: #ffffff;
	}
}

ion-segment {
	border-radius: 0;
	background: #949495 !important;
	ion-segment-button{
		//height: 50px;
		//opacity: 0.8;
		--border-radius: 0;
		img{
			height: 40px;
		}
	}
}

ion-toolbar{
	ion-button{
		background: none !important;
	}
}

ion-action-sheet .action-sheet-title{
	background: steelblue !important;
}

ion-action-sheet .action-sheet-button{
	background: var(--theme-color) !important;
    //color: var(--p-color) !important;
}

label-input > .header-input{
	background-color: #666666 !important;
}

//.fieldset-input > .input-wrapper > .header-wrapper > .header-input{
	//background-color: #666666 !important;
//}

.source-code-output
{
	p,h1,h2,h3,h4,h5,h6{
		//color: #ffffff;
		margin: 20px !important;
		//text-align: justify;
	}
	a{
		//color: #ffffff;
		text-decoration: none;
	}
	.brands-list{
		display:flex;
		padding: 20px;
		flex-wrap: wrap;
	}
	.brands-list__item{
		text-align: center;  
		width: 50%;		
	}
	.brands-list__item img{
		width: 100px;
		border-radius: 50%;
		border: solid 1px #d2d2d2;
		padding: 5px;
		height: 100px;
	}
	.brands-list__item-name{
		text-align: center;
		//color: #fff;
		margin: 0px !important;
	}
	.box{
		margin: 20px;
		//background:var(--p-color);
		padding: 10px;
		text-align: center;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
	}
	.button{
		padding: 20px;
		width: 100%;
		background: var(--background-save-button);
		font-size: 16px;
		border-radius: 10px;
		display: block;
		text-align: center;
		color: var(--color-save-button);
		font-weight: bold;
	}
	.center{
		text-align: center;
	}
	.box-grid{
		display: flex;
    	overflow: scroll;
		img{
			width: 100px;
			height: 100px;
		}
		&.m-50{
			img{
				width: 50%;
				height: 50%;	
			}
		}
	}
	figure{
		padding: 20px;
		background: #f2f2f2;
		margin: 20px !important;
		text-align: center;
		border-top-right-radius: 10px;
		border-bottom-left-radius: 10px;
		label{
			padding-top: 20px;
			display: block;
		}
	}
	table{
		margin: 20px;
		color: #fff;
		width: calc(100% - 40px);
		tr{
			td{				
				border-bottom: solid 1px #fff;
				border-right: solid 1px #ffff;
				padding: 10px;
				&:first-child{
					background-color: #f2f2f2;
					border-bottom: solid 1px #333;
					color: #333;
					font-size: 12px;
					text-align: right;
					font-weight: bold;
				}
			}
			&:first-child{
				td{
					border-top: solid 1px #fff;					
				}
			}
			&:last-child{
				td{
					border-bottom: solid 1px #fff;
				}
			}
		}
	}
}