<ion-header>
	<ion-toolbar>
		<ion-title>
			{{form?.name}}
		</ion-title>
		<ion-buttons slot="end">
			<ion-button ion-button icon-only (click)="copyForm()">
				<ion-icon name="code-download-outline"></ion-icon>
			</ion-button>
			<ion-button ion-button icon-only (click)="pastForm()">
				<ion-icon name="code-working-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>	
<ion-content>
	<form dynamic-form
		  [form]="form"
		  [data]="data"
		  [acl]="acl"
		  (add)="onAdd($event)"
		  (set)="onSet($event)"
		  (close)="onClose()"
		  (rendererComplete)="onRendererComplete($event)"
		  class="form-form">
	</form>
</ion-content>
<ion-footer>
	<ion-toolbar #footer>		
	</ion-toolbar>
</ion-footer>	