viewer-chart-page{
    .chart-content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media (max-width: 767px) 
{
    viewer-chart-page{
        //--ion-padding : 0px;
    }
}