.avatar-output
{
    justify-content: center;
    img{
        width: var(--avatar-width);
        height: var(--avatar-width);
        border-radius: 50%;
        overflow: hidden;
        border: solid 1px #d2d2d2;
    }
    a{
        display: flex;
        position: relative;
        cursor: pointer;
    }
    label{
        cursor: pointer;
        text-align: center;
        top: 50px;
        left: 40px;
        line-height: 29px;
        text-transform: uppercase;
        color: #fff;
        position: absolute;
        display: none;
        ion-icon{
            font-size: 50px;
        }
    }
    &:hover{
        label{
            display: block;
        }
    }
}

.avatar-col{
    .label-partial{
        display:none;
    }
}
