.date-input{
    .matInput{
        width: 0; 
        height: 0; 
        padding: 0; 
        margin: 0; 
        border: none; 
        visibility: hidden;
        position: absolute;
    }
    .date{
        float: left;
    }
    .item-input{
        gap: 0 !important;
    }
    .icon{
        left: calc(100% - 35px);
		position: absolute;
		font-size: 25px;
		display: flex;
		height: 30px;
		align-items: center;
		color: var(--input-default-color);
		top: 2px;
    }
    .hasTime
    {
        .date{            
            width: 62%;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
        }
        .time{
            float: left;
            width: 38%;
            border-top-left-radius: 0;
            border-bottom-left-radius: 0;
            border-left: 0 !important;
        }
        .icon{
            left: calc(62% - 35px);
        }
    }    
}