label-input{
    padding: 0px;
    // margin-bottom: var(--box-padding);
	// margin-top: var(--box-padding);
	display: block;
    .header-input{
        border-top: solid 1px var(--input-default-color);
        border-bottom: solid 1px var(--input-default-color);
        padding: 7px 5px;
        background:  var(--background-header);
        border-radius: 5px;
        .label-title{
            color: var(--font-color-header) !important;
            font-size: 11px !important;
        }
        .item-header{
            padding-left: 0;
            .col{
                padding-left: 0;
            }
        }
    }
    icon-input{
        ion-icon{
            top:20px;
        }
    }
}

.label-col{
    padding: 0;
}

@media (max-width: 767px) {
    label-input{
		margin-bottom: 0;
		margin-top: 0;
	}
}

