@import "./avatar/avatar.modal";
@import "./iframe/iframe.modal";
@import "./viewer/viewer.modal";
@import "./pdf/pdf.modal";
@import "./agree/agree.modal";
@import "./gallery/gallery.modal";
@import "./coment.image/coment.image.modal";

ion-modal{ // DEOPIS REVER POIS PODE SER COLOCADO APENAS NO DESKTOP
    .ion-page{
        position: fixed;
        contain: initial;
        display: block;
        overflow: auto;
    }
    .modal-wrapper{
        --overflow : auto; // VERSAO MOBILE
		background: var(--background-content) !important;
	}
	.output{
		// p{
		// 	white-space: pre-wrap;
		// }
	}
	ion-content{
		//height: calc(100% - var(--height-menu-top));
	}
}

@media only screen and (min-width: 992px)
{
    /*.platform-core{
        ion-modal{
            width: 72%;
            height: 100%;
            left: 28%;
            top:0px;
            .modal-wrapper{
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
    }*/

    .plt-desktop, .plt-mobileweb{
        ion-modal{
            //.modal-wrapper{
               // --width:90vw;
                //--height:90vh;
            //}
            /* POR CAUSA DO MODAL: FORMFORM*/
            &.full{
                --width:95vw; 
                --height:95vh;
                ion-content{
                    height: calc(95vh - 94px);
                    &.no-footer{
                        height: calc(100vh - 80px);
                    }
                }
                .modal-wrapper{
                    width: 95%; // DEPOIS DEIXAR 100%
                    height: 95%; // DEPOIS DEIXAR 100%
                    left: 0;
                    top: 0;
                }
            }
            &.normal{
                .modal-wrapper{
                    width: 50%;
                    margin-top:100px;
                }
                ion-backdrop{
                    display:block;
                }
            }
        }
    }
}

@media only screen and (max-width: 991px)
{
    ion-modal{
        &.full{
            --width:100%; // USAR % POIS TEM HEADER E FOOTER DO SAFARI BROWSER
            --height:100%;
            .modal-wrapper{
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
            }
        }
    }
}

@media only screen and (min-width: 768px)
{
    ion-modal{

    }
}
