radio-player-block{
	height: 100vh;
    background: var(--background-color);
	ion-icon {
		color: white;
	}		 
	p.station-title {
		font-size: 18px;
		margin: 10px;
		color: white;
	}
		 
	ion-range {
		--knob-size : 20px;
		--ion-color-success: #fff;
	}
	
	ion-list {
		background: transparent;
	}
		 
	ion-item {
		--background: transparent;
		border: none;
	}

	ion-range{
		width: 90vw;
	}
		 
	.background-image {
		background-position: center center;
		background-size: cover;
		//background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('../../assets/img/SÃO-PAULO.jpg');
		height: 70vh;
		//animation: shrink 5s infinite alternate;
	}

	@keyframes shrink {
		0% {
		  background-size: 110% 110%;
		}
		100% {
		  background-size: 100% 100%;
		}
	  }
	
	.container{
		width: 100%;
	  	position: fixed;
	  	bottom: 100vw;
	}	  
	
	.circle {
		position: absolute;
		transform-origin: center center !important;
		width: 100vw; 
		height: 100vw;		 
		//border: 3px solid white;
		//border-radius: 100%;
		transition: all .5s ease !important;
	}

	h1 {
		margin: 0;
		padding: 20px;
		color: white;
		text-align: center;
		font-family: serif;
		letter-spacing: 5px;
	}
		 
	ion-avatar{
		position: absolute;
		width: 70px;
		height: 70px;
		box-shadow: 2px 2px 20px 2px rgba(250, 200, 130, 0.5);;
	}
	
	ion-toolbar {
		position: fixed;
		bottom: 0;
		--background: var(--theme-color)
	}
		 
	/*ion-avatar:nth-of-type(1){
		transform: rotate(90deg);
	}
		 
	ion-avatar:nth-of-type(2){  
		transform: rotate(150deg);
	}
		 
	ion-avatar:nth-of-type(3){
		transform: rotate(210deg);
	}
		 
	ion-avatar:nth-of-type(4){
		transform: rotate(270deg);
	}
		 
	ion-avatar:nth-of-type(5){
		transform: rotate(330deg);
	}
		 
	ion-avatar:nth-of-type(6){
		transform: rotate(390deg);
	}*/
}
	