[table-list-container], [flat-viewer-container]{
	th.image-col{
		.label-partial{
			display: none;
		}
	}
	td.image-col{
		width: 50px;
		.image-output{
			padding: 0;
			a{
				justify-content: center;
				img{
					max-height: 50px;
					max-width: 50px;
					margin: 5px;
					padding: 0;
					border: none;
					width: auto;
					height: auto;
				}	
			}			
		}
	}	
	.image-output{
		.no-image{
			height: 40px;
			width: 40px;
			ion-icon{
				font-size: 30px;
			}
		}
		a{
			img{
				border: none;
			}
		}
	}
}

.image-output {
    p{
        //min-height: 150px;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        justify-content: center;
        &.multiple{
            img{
                width: 250px;
                margin-right: 5px;
                margin-bottom: 5px;            
            }
        }
		a{
			//width: 100%;
			//height: 100%;
			display: inherit;
			width: 100%;
			img{
				width: 100%;
				height: 100%;
				padding: 5px;
				border: 1px solid #d2d2d2;
				margin-right: 5px;
				margin-bottom: 5px;            
			}	
		}
    }
	.no-image{
		height: 80px;
		width: 80px;
		display: flex;
		justify-content: center;
		align-items: center;
		ion-icon{
			font-size: 50px;
			color: #d2d2d2;
		}
	}
}

@media (max-width: 767px) {
    .image-col{
        padding: 0;          
    }
    div.image-output{
        padding: 0;
        img{
            margin: 0;                
        }
        .multiple{
            img{
                width: 100%;
                margin: 0;
            }       
        }
    }  
}
