[accordion-form-container]{
    mat-step-header{
		padding: 20px;
		background-color: var(--background-header) !important;
		border-bottom: 1px solid #fff;
		.mat-step-label{
			color: var(--font-color-header) !important;			
		} 
		.mat-step-icon{
			background-color: var(--font-color-header) !important;
			color: var(--background-header);
		}
		&:hover{
			//background-color: var(--background-header);
		}
	}
	.complete{
		mat-step-header{
			background-color: lightseagreen !important;
			.mat-step-label{
				.mat-step-text-label
				{
					display: flex;
					align-items: center;
					&:after{
						content: "✓";
						color: var(--font-color-header);
						font-size: 30px;
						margin-left: 10px;		
					}
			  }
			} 
		}		
	}
	.body-container{
		padding: 20px 0 0 0 !important;
	}
}
