.multi-checkbox-input{
	&.inline{
		.container-wrap{
			display: flex;
			flex-wrap: wrap;
			ion-row{
				flex: 1 0 15%;
				margin-top: 0px !important;
				margin-right: 10px;
			}
		}
	}
	&.no-inline{
		ion-grid{
			.header-input{
				display:none;
			}	
		}
	}
    .header-input{
        border:none;
    }
	.checkbox-object-input{
		.header-input{
			display: none;
		}
	}
    .container-wrap{
        ion-col{
            margin: 0px !important;
        }
        ion-row{
            margin-top: 15px;
            &:first-of-type{
                margin-top: 0px;
            }
        }
        .checkbox-option-input{
            margin-top: 0px;
        }
    }
}

@media (max-width: 767px) 
{
	multi-checkbox-input{
		&.inline{
			.container-wrap{
				ion-row{
					flex: 1 0 33%;
				}
			}
		}		
	}    
}
