.question-output{
    p{        
        padding: 0px;
		font-size: 12px;
		display: flex;
		flex-direction: column;
        label{
			border: solid 1px #d2d2d2;
			padding: 10px;
			margin-right: 5px;
			background: #fff;
			border-radius: 3px;
			text-transform: uppercase;
			margin-bottom: 10px;
			position: relative;
			&.selected{
				border: solid 2px #2b5178;
			}
			ion-icon{
				font-size: 30px;
				position: absolute;
				right: 5px;
				top: 4px;
				color: seagreen;	
			}
			span{
				display: block;
			}
			a{
				color: #333333;
			}
        }
    }
}
