<div header-input
	 [form]="form"
	 [formItem]="formItem"
	 (edit)="onEdit($event)"
	 (del)="onDel()">
</div>
<div class="item-input" [formGroup]="field.formGroup" [ngClass]="{'ng-submitted': submitted }">
	<input type="hidden" formControlName="{{formItem.name}}" (ngModelChange)="onModelChange($event)"/>
	<ion-grid>
		<ion-row cdkDropListGroup>
			<ion-col class="bag-items" size="6">
				<div class="bag-wrapper" [ngClass]="{'stick-container' : items.length <= modelItems.length}">
					<div class="header-step">
						<label>Campos</label>
						<ion-button (click)="addFormItem()" *ngIf="editFormItem">
							<ion-icon name="add-circle-outline"></ion-icon>
						</ion-button>
					</div>
					<div class="bag-container drop-col" 
						 cdkDropList				 
						 [id]="'itemsList'"
						 [cdkDropListData]="items" 
						 [cdkDropListConnectedTo]="getAllColIds()"
						 (cdkDropListDropped)="onColDrop(null, $event)">
						<div class="drag-col" *ngFor="let item of items; trackBy: trackById" cdkDrag>
							<label>								
								{{item.label}}
							</label>
							<ion-button (click)="setFormItem(item)" *ngIf="editFormItem">
								<ion-icon name="create-outline"></ion-icon>
							</ion-button>
							<ion-button *ngIf="item.default" (click)="delFormItem(item)">
								<ion-icon name="remove-circle-outline"></ion-icon>
							</ion-button>
						</div>
					</div>
				</div>
			</ion-col>
			<ion-col class="bag-steps" size="6">
				<!---				
				cdkDropList				 
						  [id]="'stepsList'"
						  [cdkDropListData]="stepsItems" 
						  [cdkDropListConnectedTo]="getAllStepIds()"
						  (cdkDropListDropped)="onStepDrop(null, $event)"
				-->
				<div [ngClass]="{'stick-container' : items.length > modelItems.length}">
					<ion-grid>
						<ion-row *ngFor="let step of stepsItems; trackBy: trackById">
							<ion-col>
								<ion-grid class="bag-wrapper">
									<ion-row>
										<ion-col class="header-step">
											<label>
												{{step.label}} <small>{{step.name || step.id}}</small>
											</label>
											<ion-button (click)="openStep(step)">
												<ion-icon name="create-outline"></ion-icon>
											</ion-button>
											<ion-button (click)="onDelStep(step)">
												<ion-icon name="remove-circle-outline"></ion-icon>
											</ion-button>
										</ion-col>
										<ion-col size="1" class="drag-step" cdkDrag>
											<ion-icon name="reorder-four-outline"></ion-icon>
										</ion-col>
									</ion-row>
									<ion-row>
										<ion-grid cdkDropList 
												  [id]="step.id"
												  [cdkDropListData]="step.matrix" 
												  [cdkDropListConnectedTo]="getRowIds()"
												  (cdkDropListDropped)="onColDrop(step, $event)">
	
											<!--- ROWS --->
											<ion-row *ngFor="let rows of step.matrix; trackBy: trackById">
												
												<ion-col *ngFor="let col of rows; trackBy: trackById">
	
													<ion-grid>
	
														<ion-row cdkDropList 
																 [id]="col?.id"
																 [cdkDropListData]="col" 
																 [cdkDropListConnectedTo]="getColIds()"
																 (cdkDropListDropped)="onColDrop(step, $event)"
																 cdkDropListOrientation="horizontal"
																 class="drop-col">
	
															<!--- COLS --->
															<ion-col class="drag-col" *ngFor="let item of col; trackBy: trackById" cdkDrag>
																<label> 
																	{{item.label}}
																</label>
																<ion-button (click)="setFormItem(item)" *ngIf="editFormItem">
																	<ion-icon name="create-outline"></ion-icon>
																</ion-button>
															</ion-col>
	
														</ion-row>
	
													</ion-grid>
												</ion-col>
												<ion-col size="1" class="drag-row" cdkDrag> 
													<ion-icon name="reorder-four-outline"></ion-icon>
												</ion-col>
											</ion-row>
										</ion-grid>
									</ion-row>
									<!--- ADD ROW --->
									<ion-row cdkDropList 
											 [id]="'newList' + step.id"
											 [cdkDropListConnectedTo]="getColIds()"
											 (cdkDropListDropped)="addRow(step, $event)"
											 class="new-row">
										<ion-col></ion-col>
									</ion-row>
								</ion-grid>
							</ion-col>
						</ion-row>
						<!--- ADD STEP --->
						<ion-row class="step">
							<ion-col>
								<label>
									<a (click)="openStep()">
										<ion-icon name="add-circle-outline"></ion-icon>
									</a>
								</label>
							</ion-col>
						</ion-row>
					</ion-grid>
				</div>				
			</ion-col>
		</ion-row>
	</ion-grid>
	<div class="error" *ngIf="submitted">
		<span *ngIf="field.formGroup.get(field.name).hasError('required')">Campo Obrigatório</span>
	</div>
</div>