.cdk-drag-preview {
	box-sizing: border-box;
	border-radius: 4px;
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
				0 8px 10px 1px rgba(0, 0, 0, 0.14),
				0 3px 14px 2px rgba(0, 0, 0, 0.12);
	padding: 10px;
	display: flex;
	align-items: center;
	background-color: #fff;
  }
  
  .cdk-drag-placeholder {
	opacity: 0;
  }
  
  .cdk-drag-animating {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }

  .cdk-drop-list-dragging {
	transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
  }
  
.base-step-input{	
    .item-input
    {
        > ion-grid{
            width: 100%;
            padding: 5px 0;
            ion-row{
                padding: 0 !important;
                border: none !important;
                flex-wrap: nowrap;
                ion-col{
                    padding: 0px;
                    border-right: 1px solid #fff;
                    max-width: 50vw !important;
                    ion-grid{
                        padding: 0px;
                    }
                }
            }
		}
		.stick-container{
			position: sticky;
			top: 0;			
		}
        .bag-container{
            min-height: 40px;
        }
        .bag-steps{
            .drag-col{
                width: 0px; /* PARA FAZER TER N COLUNAS */
            }
        }
        .bag-items{
            .drag-col{
                label{
                    width: 100%;
                }
            }
        }
        .bag-wrapper{
            border: solid 1px #d2d2d2;
            margin-bottom: 2px;
            .icon{
                float: right;
            }
            .header-step{
                //pointer-events: none;
                color:#333;
                display: flex;
                background: #d2d2d2;
                align-items: center;
                padding-left: 10px;
                margin-right: 1px;
                height: 45px;
                label{
					width: 100%;
					small{
						float: right;
						margin-right: 20px;
						margin-top: 5px;
					}
                }
                ion-button{
                    background: #666;
                    padding: 0;
                    margin: 0;
                    margin-left: 3px;
                }
            }
        }
        .new-row{
            ion-col{
				height: 40px;
				width: 100%;					
            }
        }
        .drag-step{
            cursor: move;
            display: flex;
            align-items:center;
            background-color: #666;
            color: #fff;
            ion-icon{
                pointer-events: none;
                margin-left: calc(50% - 8px);
            }
        }
        .drag-row{
            cursor: move;
            display: flex;
            align-items:center;
            background-color: seagreen;
            color: #fff;
            ion-icon{
                pointer-events: none;
                margin-left: calc(50% - 8px);
            }
        }
        .drag-col{
            display: flex;
            margin-top: 2px;
			min-height: 40px;
			cursor: pointer;
			background: #666;
            label{
                width: 100%;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                pointer-events: none;
                cursor: move;
                color:#fff;
                background: #55b279;
                padding: 10px;
            }
            ion-button{
                width: 40px;
                padding: 0px;
                margin: 0px;
                background: #666;
                height: 40px;
            }
		}
        .step{
            label{
                color: #333;
                padding: 5px;
                display: block;
                background: #d2d2d2;
                font-size: 30px !important;
                display: flex;
                a{
                    display: flex;
                }
            }
        }
    }
}
