.scan-button-input{
    ion-button{
        background-color: var(--input-default-color);
        border-radius: 5px;
        width: 100%;
        height: 42px;
        margin: 0;
        padding: 0;
        ion-icon{
            color: #fff !important;
            margin-right: 10px;
        }
    }
}
