.field-type-setting{
    .body-form{
        padding: 0px !important;
        ion-col{
            padding: 5px 0px !important;
            .label-title{
                margin-left: 5px;
            }
        }
    }
}
