.comment-input{
	form{
		width: 100%;
		display: flex;
		flex-direction: column;
		padding: 20px;
		background: #f2f2f2;
		border-radius: 10px;
		textarea {
			border: solid 1px var(--input-default-color);
			min-height: 50px;
			padding: 7px;
			font-size: 16px;
			color: #000;
			border-radius: 5px;
			resize: none;
			width:100%;
		}
		ion-button{
			width: 100px;
		}
	}
    .item-input{ 
		form{
			margin-left: 75px;
			margin-top: 20px;
			textarea {
				width:calc(100% - 75px);
			}
		}		
		&:nth-child(even) { background: #FFF }
		&:nth-child(odd)  { background: #f9f9f9 }
		ion-item{
			--background: none;
		}		
		.comment-button{
			margin: 10px 0;
			float: right;
			display: flex;
			justify-content: center;
			align-items: center;
			font-size: 12px;
			text-transform: uppercase;
		}
		.del-button{
			color: #333;
		}	
		.child-comments{
			margin-left: 75px;
		}
	}
}
