[calendar-list-container]{
    .calendar-box.month {
        display: flex;
    }

    .segment {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 10px;
    }

    .mbsc-lv-cont.mbsc-event-list {
        display: none;
    }

    ion-segment {
        width: 50%;
    }

    .month > div.mbsc-calendar {
        width: 30%;
    }

    .month > .tabela-box {
        width: 70%;
    }

    @media only screen and (max-width: 475px){
        ion-segment {
            width: 70%;
        }

        .month > div.mbsc-calendar {
            width: 100%;
        }
    
        .tabela-box {
            width: 100%;
        }
        .calendar-box {
            display: flex;
            flex-direction: column;
        }
    }

    /*.mbsc-event-txt{
        width: 100%;
        .set-button, .del-button{
            float: right;
            color: #000;
            border: #d2d2d2 1px solid;
            --background-hover:var(--background-color);
        }
        .category{
            font-weight: bold;
        }
    }*/
}
