@import "./container/pie/pie.chart.container.scss";
@import "./container/bar/bar.chart.container.scss";
@import "./container/line/line.chart.container.scss";
@import "./container/card/card.chart.container.scss";

[bar-chart-container]{
	overflow: scroll;
}

[dynamic-chart]{
    .containerChartTable{
        overflow: scroll;
        td, th{
            padding: 10px;
            border-right: solid 1px #d2d2d2;
            text-wrap: nowrap;
            font-size: 13px;
            text-align: center;
        } 
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0;
            margin: 0;
        }
        .positive{
            padding: 2px;
            color: green;
            font-weight: bold;
        }
        .negative{
            padding: 2px;
            color: red;
            font-weight: bold;
        }
        &:empty{
            display: none;
        }   
    }
    .progress-bar{
        text-align: center;
        span{
            padding: 2rem;
            display: block;
        }
    }
    .chart-container{
        position: relative;
    }
}

ion-tabs{
    [dynamic-chart]{
        margin-bottom: 30px;
    }
}
