.select-icon-output{
	padding: 0 10px !important;
    justify-content: center;
    img{
        max-width: 30px;
        max-height: 30px;
    }
}   

[tile-list-container], [card-list-container]
{
    .select-icon-output{
		p{
			font-size: 150px;
			color: #d2d2d2;
			//border: solid 1px #d2d2d2;
			display: flex;
			justify-content: center;
			align-items: center;
			cursor: pointer;
			min-height: 180px;	
			width: 100%;
			ion-icon{
				font-size: 100px;
			}			
		}
    }    
}