audio-player-block{
    ion-item{
        .item-inner{
            border: none !important;
            .controller{
                width: 100% !important;
            }
        }
        ion-icon{
            font-size: 55px !important;
            margin: 0 !important;
        }
    }
}
