@media (max-width: 767px) 
{
    viewer-document-page{
        --ion-padding : 0px;
        [segment-viewer-container]{
			.mat-tab-header{
				position: fixed;
				z-index: 999;		
                width: 100vw;
                border-top-left-radius: 0;
                border-top-right-radius: 0;
			}
			.mat-tab-body-wrapper{
				margin-top: 44px;
			}
		}		
    }
} 