grid-document-page{	
	.toolbar-buttons{
		//border-bottom: solid 1px #d2d2d2;
		//border-bottom: 0.55px;
		//--border-color: var(--ion-toolbar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2))));
		//--border-width: 0 0 0.55px;
	}

    .buttons-popover{
        display: none;
    }

    ion-title{
        ion-icon{
            margin-right: 10px;
        }
    }

    .toolbar-searchbar{
        ion-searchbar{
            width: calc(100% - 40px);
            float: left;
        }
        .arrow{
            color: #fff;
            font-size: 25px;
            float: left;
            margin-top: 7px;
        }
    }

	&.table-type{
		ion-content{
			--overflow: hidden;
		}			
	}

    ion-searchbar{
        .searchbar-input-container{
            background-color: #fff;
			border-radius: 5px;
			height: 30px !important;
        }
	}    
	
	ion-infinite-scroll{
		background: #fff;
	}
}

@media (max-width: 767px) {

    grid-document-page{
        .buttons-popover{
            display: block;
            margin-top: 6px;
        }
        .add-buttons, .other-buttons{
            display: none;
        }    
    }
}
  

