.download-output
{
	padding: 5px 10px !important;
    p{
        margin: 0px;
        padding: 0px;
        display: flex;
        flex-flow: wrap;
        .no-icon{
            border: solid 1px #d2d2d2;
			padding: 3px 5px;
			margin-right: 5px;
			margin-bottom: 5px;
			display: flex;
			align-items: center;
			background: #f9f9f9;
			border-radius: 5px;
			overflow: hidden;
			font-size: 9px;
			font-weight: bold;
            &.count{
                border: none;
                padding: 0px !important;
                background: none;
                ion-badge{
                    padding: 6px 10px;
                }
            }
		}	
		ion-button{		
			color:var(--color-save-button);
			--background: var(--background-save-button);
			--background-activated : var(--background-save-button);
			--background-focused : var(--background-save-button);	
			--background-hover: var(--background-save-button);
			--background-activated-opacity : 0.5;
			--background-focused-opacity : 0.5;		
			--background-hover-opacity:0.5;
			--border-radius: 5px;
			margin: 0;
			height: 100%;
			&.buy{
				--background: indianred;
				--background-activated : indianred;
				--background-focused : indianred;	
				--background-hover: indianred;
			}	
		}
    }
}

[card-list-container]
{
	.download-output
	{
		padding: 0px !important;		
		p{
			width: 100%;
			> span{
				width: 100%;
				ion-icon{
					font-size: 30px;
					color: var(--font-color);
					&.globe{
						color: midnightblue;
					}
					&.logo-youtube{
						color: orangered;
					}
					&.logo-facebook{
						color: cornflowerblue;
					}
					&.logo-instagram{
						color: darkorange;
					}
				}
			}			
		}
	}	
}
