form-register-page {
    .logo-intro{
        margin-top: 0;
    }
	ion-grid{
		background-size: cover !important;
		height: 100%;
	}
}

@media only screen and (max-width: 768px) {

    form-register-page{
        ion-grid{
            padding: 20px;
        }
    }
}
