.percentage-output{
    ion-button{
        margin: 0px;
    }
    .meter-wrapper{
		position: relative;
		width:100%;
		text-align:center;
		&.has-grafic{			
			meter{
				position: absolute;
				left: 0;
				top: -20px;
			}
			span{
				position: absolute;
				left: calc(50% - 50px);
				width: 100px;
				top: -9px;
				text-align: center;
			}
		}		
    }
}
