// FONTES //
@font-face {
    font-family: muliRegular;
    src: url('/assets/fonts/Muli-Regular.ttf'); 
}

@font-face {
    font-family: muliBold;
    src: url('/assets/fonts/Muli-Bold.ttf');
}

@font-face {
    font-family: muliItalic;
    src: url('/assets/fonts/Muli-Italic.ttf');
}

@font-face {
    font-family: muliSemiBold;
    src: url('/assets/fonts/Muli-SemiBold.ttf');
}

html, body{
    background: var(--outlet-header-background);
    -ms-touch-action: manipulation;
	touch-action: manipulation;	
}

ion-content {
	--background:var(--background-content);
	--color : #000000 !important; /* SISTEMA OPERACIONAL NO MODO DARK */
}

/* QUANDO USA IFRAME */
ion-app.app-iframe{
	ion-content{
		--keyboard-offset: 0!important;
    	--overflow: hidden;
	}	
}