<ion-header *ifAcl="'show_header_grid';acl:acl;value:true;">
	<ion-toolbar class="toolbar-buttons">
		<ion-buttons slot="start">
			<ion-menu-toggle>
				<ion-menu-button></ion-menu-button>
			</ion-menu-toggle>
			<ion-button *ngIf="hasBack()" ion-button icon-only (click)="back()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		
		<ion-title>
			<ion-icon [name]="core()?.currentMenu?.icon?.value"></ion-icon>
			<label>Vitrine</label>
		</ion-title>

		<filter-header-block [app]="app" 
							 [acl]="acl" 
							 [where]="where" 
							 (change)="filter()">
		</filter-header-block>
		
		<ion-buttons *ngIf="buttons && buttons.length > 0" slot="end" class="other-buttons">    
			<ion-button *ngFor="let item of buttons"
						icon-only
						hideDelay="0" showDelay="0" 
						matTooltip="{{item.name}}"
						(click)="item.click($event)">
				<ion-icon name="{{item.icon.value}}"></ion-icon>
			</ion-button>                                       
		</ion-buttons>

	</ion-toolbar>
	<ion-toolbar class="toolbar-searchbar" *ifAcl="'search_document';acl:acl;" [ngClass]="{'hide' : !showSearch}">
		<ion-searchbar animated 
					   placeholder="Buscar" 
					   showCancelButton="never"
					   [debounce]="1000"
					   [(ngModel)]="term"
					   (ionInput)="onSearch($event)">
		</ion-searchbar>
		<a class="arrow" (click)="onShowSearch()">
			<ion-icon name="caret-up-outline"></ion-icon>
		</a>
	</ion-toolbar>
</ion-header>						
<!--- SCROLL PARA NAVEGAÇÃO HORIZONTAL scroll-x="true" scroll-events="true" --->
<ion-content class="ion-padding" shadowCss=".scroll-x, .scroll-y{overscroll-behavior: auto !important;}">
	
	<div class="sort-container" cdkDropListGroup *ngIf="isLoad && items.length > 0">                                
		<div
			*ngFor="let item of items; let i = index"
			cdkDropList
			cdkDropListOrientation="horizontal"
			[cdkDropListData]="{item:item,index:i}"
			(cdkDropListDropped)="drop($event)">
			<div cdkDrag class="sort-box">                                        
				<img [src]="getUrl(item)"/>
				<label>{{item.name}}</label>
				<!-- <label>{{item[this.orderBy + this.suffixBy]}}</label> -->
			</div>
		</div>
	</div>

	<label *ngIf="isLoad && items.length == 0">Nenhum Produto Encontrado!</label>
	<label *ngIf="!isLoad">Carregando...</label>

	<ion-infinite-scroll
		*ngIf="isLoad && items.length > 0"
		threshold="100px" 
		(ionInfinite)="onNextPage()">
		<ion-infinite-scroll-content loadingText="Carregando..." loadingSpinner="dots"></ion-infinite-scroll-content>
	</ion-infinite-scroll>

</ion-content>