.textarea-input{
    textarea {
        background: #fff;
        border: solid 1px var(--input-default-color);
        min-height: 250px;
        padding: 7px;
        font-size: 16px;
        color: #000;
        border-radius: 5px;
        resize: none;
        width:100%;
    }
}
