[steps-form-container]{
	.body-container{
		padding: 10px 10px 0px !important;
	}
	.mat-horizontal-content-container{
		padding:0px;
		overflow: visible;
	}
	.mat-horizontal-stepper-content{
		margin-bottom:1px;
		overflow: visible;
	}
	.mat-stepper-horizontal, .mat-stepper-vertical{
		background-color: var(--background-form);
		overflow: hidden;
	}
	.mat-horizontal-stepper-header-container{
		display: none;
	}
	.cards-container{
		padding: 15px 0;		
		mat-card{
			margin-bottom: 15px;
			background: #d2d2d2;	
			padding: 0.5rem 1rem;		

			&:last-child{
				margin-bottom: 0px;
			}	
			mat-card-title{
				font-size: 14px;
				margin-bottom: 0px;
				margin-top: 0px;
				color: var(--input-default-color);
				color: #999;
				font-weight: bold;
				ion-icon{
					font-size: 20px;
				}			
				a{
					position: absolute;
					right: 10px;	
					color: var(--font-color-header);
				}
			}
			mat-card-content{
				margin: 10px 0;
				p{
					margin: 0;
				}
			}			
			&.complete{
				background: var(--background-header);
				color: var(--font-color-header);
				.mat-card-title{					
					color: var(--font-color-header);
					display: flex;
    				justify-content: space-between;
					align-items: center;
					a{
						color: var(--font-color-header);
					}
				}
			}
			&.current{
				background: var(--background-header);
				mat-card-title{
					color: var(--font-color-header);
				}
			}
		}
	}
}

@media all and (max-width: 767px) 
{
	[steps-form-container]{
		.body-container {
			padding: 0 !important;
		}
		.cards-container{			
			padding: 0 5px;
		}
	}
}