.checkbox-object-input{
    //margin-top: 18px; rever: tavez inline
    label{
        background: #fff;
        padding: 5px !important;
        border-radius: 10px;
        border: 1px #d2d2d2 solid;
        &:after{
            left: 20px !important;
        }
    }
    .header-input{
        display: none;
    }
    .content-input{
        clear: both;
    }
    &.view-edit{
        .label-title{
            border-bottom: solid 1px #d2d2d2;
            padding: 10px 0;
            min-height: 35px;
        }
    }
}
