.youtube-live-output{
    .video-wrapper{
        width: 100%;
        min-height: 300px;
        p{
            margin-top: 100px;
            text-align: center;
            font-size: 20px;
            text-transform: uppercase;
            color: #666;
            letter-spacing: 5px;
        }            
    }
}
