@import "../../auth/component/login/login.form.scss";
@import "../../auth/component/form.recovery.password/form.recovery.password.scss";
@import "../../auth/page/intro/intro.page.scss";
@import "../../auth/page/loading/loading.page.scss";
@import "../../auth/page/login/login.page.scss";
@import "../../auth/page/update/update.page.scss";
@import "../../auth/page/viewer.profile/viewer.profile.page.scss";
@import "../../auth/page/form.register/form.register.page.scss";
@import "../../auth/page/form.recovery.password/form.recovery.password.page.scss";
@import "../../auth/page/form.change.password/form.change.password.page.scss";

.logo-intro{
	margin-top: 100px;
    /* margin-bottom: var(--logo-intro-padding); */
    background: var(--intro-toolbar-background);
	color:var(--font-color-intro-toobar);
    opacity: 0.9;
    padding: 10px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    img{
        max-width: var(--logo-intro-max-width);
        max-height: var(--logo-intro-max-height);
    }
}

login-page, form-recovery-password-page, form-register-page, update-page{
    ion-content{
        --background : var(--intro-background);
    }
    /*.buttons{
        ion-button{
            width: calc(50% - 7px);
            text-align: center;
            --width : 100%;
        }
    }*/
    form[dynamic-form]
    {
        //background-color: var(--background-color-hover);
        //margin: 0px 10px;
        .header-form{
            background: var(--background-color-hover);
            .form-title{
                color: var(--font-color-hover);
            }
            .close-button{
                color: var(--font-color-hover);
            }
		}
		.header-container{
			display: none;
		}
        .title-container{
            display:none;
        }
        .steps{
			background: var(--background-form);
			opacity: 0.9;
        }
        .footer-form{
			background: var(--background-form);
			opacity: 0.9;
            .error{
                margin-top: 10px;
            }
        }
        .avatar-input{
            .item-input{
                .img-wrapper{
                    width: 100px;
                    height: 100px;
                    label{
                        top:0px;
                        left: 0px;
                    }
                }
            }
        }
    }
    .links{
        clear: both;
        a{
            color: var(--font-color);
        }
        text-align: center;
        margin-top: 30px;
    }
}
