  <ion-button color="primary" (click)="addFatherField()">
    <ion-icon slot="icon-only" name="add-outline"></ion-icon>
  </ion-button>

  <div *ngFor="let father of listForm">
    <form [formGroup]="father.jsonForm">

      <ion-grid>

        <ion-row>

          <ion-col>

            <ion-item>
              <ion-label position="stacked">Nome do campo</ion-label>
              <ion-input (ionChange)="buildJson()" (ionChange)="buildJson()" formControlName="fieldName"
                [value]="father.jsonForm.get('fieldName').value | lowercase">
              </ion-input>
            </ion-item>

            <ion-text
              *ngIf="father.jsonForm.get('fieldName').hasError('required') && father.jsonForm.get('fieldName').touched"
              color="danger">
              Obrigatório
            </ion-text>

          </ion-col>

          <ion-col>

            <ion-item>
              <ion-label position="stacked">Tipo do campo</ion-label>
              <ion-select formControlName="typeSelected" (ionChange)="typeChange(father,$event)">
                <ion-select-option *ngFor="let type of listOfTypes" [value]="type.value">
                  {{ type.label }}
                </ion-select-option>
              </ion-select>
            </ion-item>

          </ion-col>

          <ion-col>

            <ion-item *ngIf="father.jsonForm.get('typeSelected').value === 0">
              <ion-label position="stacked">Valor do campo</ion-label>
              <ion-input (ionChange)="buildJson()" formControlName="fieldValue"></ion-input>
            </ion-item>

            <ion-item *ngIf="father.jsonForm.get('typeSelected').value === 1">
              <ion-label position="stacked">Valor do campo</ion-label>
              <ion-input (ionChange)="buildJson()" type="number" formControlName="fieldValue"></ion-input>
            </ion-item>

            <ion-item *ngIf="father.jsonForm.get('typeSelected').value === 2">
              <ion-label position="stacked">Valor do campo</ion-label>
              <ion-select (ionChange)="buildJson()" formControlName="fieldValue">
                <ion-select-option [value]="true">True</ion-select-option>
                <ion-select-option [value]="false">False</ion-select-option>
              </ion-select>
            </ion-item>

            <ion-item *ngIf="father.jsonForm.get('typeSelected').value === 6">
              <ion-label position="stacked">Valor do campo</ion-label>
              <ion-datetime (ionChange)="buildJson()" displayFormat="dd/MM/yyyy" min="1900-12-31" max="2050-12-31"
                formControlName="fieldValue" placeholder="Valor do campo"></ion-datetime>

            </ion-item>

            <ion-text
              *ngIf="father.jsonForm.get('fieldValue').hasError('required') && father.jsonForm.get('fieldValue').touched"
              color="danger">
              Obrigatório
            </ion-text>

          </ion-col>

          <ion-col *ngIf="father.jsonForm.get('typeSelected').value === 3 
            || father.jsonForm.get('typeSelected').value === 4" size="1" style="padding: 0.5em;font-size: 24px;">
            <ion-icon style="cursor:pointer" color="medium" (click)="addSonField(father)" name="add-outline">
            </ion-icon>
          </ion-col>

          <ion-col size="1" style="padding: 0.5em;font-size: 24px;">
            <ion-icon style="cursor:pointer" color="medium" (click)="deleteItem(father)" name="close-outline"></ion-icon>
          </ion-col>

        </ion-row>

      </ion-grid>

    </form>
  </div>
