.upload-json-input{
    > .input-wrapper{
        &.no-editable{
			table{
				tr{
				    background: #f2f2f2;
				}
			}
		}

		&.boxes{
			.list-container{
				display: flex;
				// grid-template-columns: repeat(auto-fill, minmax(0px, 200px));
				justify-items: center;
				flex-wrap: wrap;
				gap: 20px;
				width: 100%;
				.cdk-drop-list-dragging{
					//flex-direction: row !important;
				}
				// .cdk-drag-placeholder{
				// 	float: left;
				// }
				.cdk-drop-list {
					width: auto !important;
					height: auto !important;
					flex-flow: row nowrap !important
				}
				.col-container{
					display: flex;
					height:auto !important;
					margin-right: 10px;
					.cell > div, .buttons-div > div{
						margin: 0 !important;
					}
					.buttons-div{
						height: 100%;
						background: whitesmoke;
						flex-direction: column;
						display: grid;
						align-items: center;
					}
					.no-items{
						height: 100%;
						align-items: center;
						padding: 0 10px;
					}
				}	
			}
		}
	
		&:not(.boxes) {
			.list{
				width: 100% !important;
				> div{
					width: 100% !important;
					.col-container{
						display: flex;
						flex-direction: row;	
						width: 100%;
						justify-content: space-between;		
						border-radius: 4px;
						.cell{
							display: flex;
							align-items: center;
							padding: 0 7px;
						}
					}
				}			
			}		
		}
	}

	.previewer{
		width: 100px;
		height: 100px;
		background-color: #f2f2f2;
	}	

	ion-button{
		--color:#333;
		--background-hover:var(--background-color-hover);
		--color-hover:var(--font-color-hover);
		--border-radius:0;
		--padding-bottom: 6px;
		--padding-top: 6px;
		border-left:solid 1px var(--input-default-color);
		margin: 0;
		height: 100%;
		&:hover{
			color:var(--font-color-hover);
			ion-icon{
				color:var(--font-color-hover) !important;
			}
		}        
	}

	.add-input-button {
		border: solid 1px var(--input-default-color);
		height: 33px;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		.col-container{
			width: 100%;
			.no-items{
				width: 100%;
				display: flex;
				align-items: center;
				padding: 7px;
				cursor: pointer;
			}
		}
		.buttons-col
		{
			display: flex;
			.buttons-div{
				margin:0px;
				display: flex;
				justify-content: flex-end;				
			};
		}
	}

	.list-container{
		.col-container{
			cursor: pointer;
			a{
				display: flex;
				color: var(--input-valid-color);
				text-decoration: none;
			}
			img{
				//max-width: 250px;
				max-height: 250px;
			}
			.sample{
				padding: 100px 50px;
			}
		}
	}	
}

// .cdk-drag-preview{
// 	.cell{
// 		height: 100%;
// 		width: 100%;
// 		.image{
// 			height: 100%;
// 			width: 100%;
// 			text-align: center;
// 		}
// 		.buttons-col{
// 			display: none
// 		}	
// 	}
// }

@media all and (max-width: 767px) 
{          
	.upload-json-input{
		.list-container{
			.col-container{
				.cell, .buttons-div{
					padding-left : 0px;
					&:before{
						padding:0;
						width:0;
					}
					.sample{
						padding: 100px 30px;
					}
				}					
			}	
		}
	}	
}
