ion-menu-toggle{
    ion-menu-button{
        color: var(--menu-color);
    }
}

.menu-content-open{
    pointer-events: auto !important;
}

ion-router-outlet{
    z-index: 2;
}

.has-network{
	menu-nav-block{
		ion-content{
			height: calc(100vh - var(--height-menu-top) * 2 - var(--ion-safe-area-top, 0));
		}
		ion-footer{
			border-top: solid 1px var(--menu-color);			
		}
	}
}

// MOBILE
ion-app{
	ion-split-pane{
		&:not(.has-menu){
			ion-menu{
				display: none !important;
			}
		}
		ion-menu{			
			&[side="start"]{
				max-width: 270px !important;	
			}
			z-index: 99;    
			.solved-wrapper{
				height: 25px;
				small{
					padding: 11px;
				}
			}
			ion-header{
				height: calc(var(--height-menu-top) + var(--ion-safe-area-top, 0));
				ion-toolbar{
					--min-height: var(--height-menu-top); //NÃO COLOCAR --ion-safe-area-top
					height: calc(var(--height-menu-top) + var(--ion-safe-area-top, 0));
					ion-button{
						&[icon-only]{
							width: var(--height-menu-top) !important;
							height: var(--height-menu-top) !important;	
						}
					}
				}			
			}		
			ion-footer{
				height: var(--height-menu-top);					
				ion-toolbar{ 
					--background: var(--menu-background-color);
					--min-height: var(--height-menu-top);
				}
			}	
			menu-nav-block{
				height: 100%;
				background: var(--menu-background-color);
				ion-toolbar{
					text-align:center;
					a{
						color: #fff;
					}
					.logo{
						max-height: calc(var(--height-menu-top) / 2 + 8px);
						padding: 3px;
					}
					label{
						overflow: hidden;
						display: inline-block;
						text-overflow: ellipsis;
						white-space: nowrap;
						width: 80%;
						cursor: pointer;
					}
				}
				ion-content{
					--background: var(--menu-background-color);
					overflow:scroll;				
					height: calc(100vh - var(--height-menu-top) - var(--ion-safe-area-bottom, 0) - var(--ion-safe-area-top, 0))
				}
				user-profile-block{
					a{
						position: relative;
						align-items: center;
						justify-content: center;
						label{
							position: absolute;
							bottom: 0;
							width: 100%;
							text-align: center;
						}
						.avatar{
							padding-bottom: 20px;
							img{
								width: 100px;
								height: 100px;
							}
						}
					}
				}
				.menu-list{
					list-style: none;
					padding: 0px;
					margin: 0px;
					margin-bottom: 70px;
					margin-top: -2px;
					img{
						max-width: 50px;
						max-height: 50px;
					}
					> li{						
						&:not(.children):hover{
							> a{
								background: var(--menu-background-color-hover);
								color : var(--menu-color-hover) !important;
							}
							> ul{
								display: block !important;
							}
						}         
						&.children{					                  
							> a{
								color : var(--menu-color);
								border-bottom:var(--menu-color) solid 1px;
								border-top: var(--menu-color) solid 1px;
								opacity: 0.5;
							}
						}   
						&.solved-wrapper{
							border-top: solid 1px var(--menu-color);
							//position: absolute; NÃO PODE SER ABSOLUTE
							//bottom: 0;
						}      
						> a{
							display: flex;
							padding: 11px 6px;
							color: var(--menu-color);	
							align-items: center;						
							ion-icon{
								margin-right: 8px;
							}
						}
						> ul{
							list-style: none;
							padding: 0px;
							margin: 0px;                    
							width: 100%;                    
							> li{
								&.separator{
									border-bottom: solid 1px var(--menu-color);
								}
								> a{                            
									color : var(--menu-color);
									display: flex;
									padding: 12px;
									align-items: center;
									ion-icon{
										margin-right: 10px;
									}
								}
								&.active{
									> a
									{
										background: var(--menu-background-color);
									}
								}
								&:hover{
									> a{
										background: var(--menu-background-color-hover);
										color : var(--menu-color-hover);
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

/* DESKTOP */
@media (min-width: 992px)
{
    ion-app{
        ion-split-pane{
			&.left-menu{
				&.has-menu{
					ion-menu{
						display: block !important;
					}
					ion-router-outlet:not(.menu-content-open){
						//margin-left: 270px;
					}
					ion-menu-toggle{
						display: none !important;
					}                			
				}
			}
            &.top-menu{ 
				&.has-menu{
					ion-menu-toggle{
						display: none !important;
					} 
					ion-menu{
						.solved-wrapper{
							display: none;
						}
						//z-index: 9999 !important;
						display: flex !important;
						position: fixed;
						width: 100%;
						max-width: 100% !important;
						--background: var(--menu-background-color);
						height: var(--height-menu-top);
						border: none;
						& + ion-router-outlet{
							margin-top: var(--height-menu-top);
							ion-title{
								text-align: left;
								//height: 40px;
								ion-icon{
									font-size: 20px;
									line-height: 30px;
									margin-right: 10px;
								}
							}
						}		
						menu-nav-block{
							height: auto;
						}
						.menu-list{
							margin-bottom: 0px;
							> li{
								float:left; 
								> a{
									background: var(--menu-background-color);
									color : var(--menu-color);
								}
								&:hover{  
									> a{
										background: var(--menu-background-color-hover);
										color : var(--menu-color-hover);
									}                              
									> ul{
										display: block !important;
									}
								} 
								&.children{
									border-bottom: none;
									> a{
										border-bottom:none;
										border-top: none;
										opacity: 1;
									}
								}   
								> ul{
									position: absolute;
									z-index: 9999;
									display: none;
									width: auto;
									background: var(--menu-background-color);
									color : var(--menu-color);
									> li 
									{
										> a{                                        
											margin: 3px;
											color : var(--menu-color);
										}
										&.active{
											> a
											{
												background: var(--menu-background-color);
											}
										}
										&:hover{
											> a{
												background: var(--menu-background-color-hover);
												color : var(--menu-color-hover);
											}
										}
									}
								}
							}
						}
						ion-header{
							width: 150px;
							position: absolute;						
						}
						ion-toolbar{
							--min-height: var(--height-menu-top); 
							--background: var(--menu-background-color);
						}
						ion-footer{
							display: none;							
						}
						ion-content{
							width: calc(100% - 150px);
							height: 100%;
							position: absolute;
							left: 150px;
							overflow: visible;
							border-bottom: var(--ion-toolbar-border-color, var(--ion-border-color, var(--ion-color-step-150, rgba(0, 0, 0, 0.2)))) solid 0.55px;
							/*&:after {
								left: 0;
								bottom: 0px;
								background-position: left 0 top -4px;
								position: absolute;
								width: 100%;
								height: 4px;
								background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAHBAMAAADzDtBxAAAAD1BMVEUAAAAAAAAAAAAAAAAAAABPDueNAAAABXRSTlMUCS0gBIh/TXEAAAAaSURBVAjXYxCEAgY4UIICBmMogMsgFLtAAQCNSwXZKOdPxgAAAABJRU5ErkJggg==);
								background-repeat: repeat-x;
								content: "";
							}*/
							user-profile-block{
								float: right;
								background: var(--menu-background-color);
								padding: 0;
								height: 38px;
								border: none;
								padding: 5px 10px;
								label{
									position:inherit;
								}
								.avatar{
									float: right;
									padding-bottom: 0px;
									img{
										width: 30px;
										height: 30px;
										padding: 0;
										margin: 0;
										border: none;
										max-width: none;
									}
								}
							}
							.alert-sound{
								float: right;
								font-size: 25px;
								color: var(--menu-color);
								display: flex;
								height: 40px;
								justify-content: center;
								align-items: center;
								padding: 10px;
							}
							/*ion-list{
								background: var(--menu-background-color);
								width: calc(100% - 200px);
								height: 56px;
								float: left;
								ion-item{
									float: left;
									margin-top: 5px;
									border: none;
									--border-style: none;
									--padding-start:0px;
									--inner-padding-end:10px;
								}
							}*/
						}                
					}
				}                                                      
            }            
        }
    }
}

@media only screen and (max-width: 991px)
{
}

@media only screen and (min-width: 768px)
{
}

@media only screen and (min-width: 576px)
{
}
