@media (max-width: 767px) { 
    // [table-list-container]{
    //     .date-col{
    //         width: 76px;
    //     }
    //     .date-output{           
    //         p{
    //             .day{
    //                 display: block;
    //                 font-size: 40px;
    //                 line-height: 30px;
    //                 .separator{
    //                     display: none;
    //                 }
    //             }
    //             .month, .year{
    //                 display: inline-block;
    //                 font-size: 12px;
    //             }
    //         }        
    //     }
    // }    
}
  