filter-chart-block{
  .filter-chart{
    display: flex;
    flex-direction: column;
    align-items: end;
    // gap: 0.5rem;
    // height: 55px;
    ion-segment{
        max-width: 600px;
        background: none;
        gap: 0.5rem;
    }
    .labels-chart{
        font-size: 0.8rem;
    }
  }
}
