[segment-form-container]{
}

@media only screen and (max-width: 767px)
{
	[segment-form-container]{
        .mat-tab-header{
            position: fixed;
            z-index: 999;		
            width: 100vw;
            border-top-left-radius: 0;
            border-top-right-radius: 0;
        }
        .mat-tab-body-wrapper{
            margin-top: 44px;
        }
    }	
}