.reference-form-output{
    &.mock{
        ion-button, .sum-form-output{
            display: none;
        }
    }
    ion-button{
        margin: 0px;
	}
	p{
		margin-bottom:10px;
	}
    .meter-wrapper{
        position: relative;
        height: 40px;
        meter{
            position: absolute;
        }
        span{
            position: absolute;
			left: calc(50% - 50px);
			top: 6px;
			width: 100px;
			text-align: center;
        }
    }
    /*.icons-buttons{
        text-align: center;
        ion-button{
            padding: 0px;
            margin: 0px;
            background: none;
            transition: none;
        }
    }*/
}
