.sum-documents-output{
    meter{
        width: 100%;

        &::-webkit-meter-bar {
            background: #EEE;
            /*box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;*/
            border-radius: 3px;
        }
        &::-webkit-meter-optimum-value {
            background: #77dd77; /* Green */
            border-radius: 3px;
        }

        &::-webkit-meter-suboptimum-value {
            background: #dddd77; /* Yellow */
            border-radius: 3px;
        }

        &::-webkit-meter-even-less-good-value {
            background: #dd7777; /* Red */
            border-radius: 3px;
        }
    }
}
/*total-output{
    display: block;
    .wrap-progress{
        display: flex;
        align-items: center;
        width: 100%;
        progress{
            width: 95%;
            margin-right: 15px;
        }
    }
}*/
