.reference-select-output{
     &:empty{
        display: none;
    }
    p{
        // margin: 0px;
        // padding: 0px;
        // display: flex;
        //flex-flow: wrap; ?? com foto tem quebra de linha             
        span{            
            //border: solid 1px #d2d2d2;
            // padding: 2px 10px;
            // margin: 3px;
            // display: flex;
            // align-items: center;
            // //background: #f9f9f9;
            // border-radius: 5px;
            // overflow: hidden;
            // font-size: 11px;      
            cursor: pointer;
            text-decoration: underline;
            &:empty{
                display: none;
            }
        }
        .has-photo
        {
			margin-right: 5px;
            img{
				border-radius: 50%;
				max-width: none;
				width: 30px;
				height: 30px;
            }
        }
	}
	.dynamic-viewer{
		width: 100%;
	}
}

@media (max-width: 767px) {
	
}
