viewer-profile-page{
    flat-viewer-container{
        > ion-grid{
            padding: 0px;
		}		
	}
	/*.body-container{ NO MOBILE BLACK NAO FICA BOM
		.row-partial, .row:nth-child(even){
			background: #fff !important;
			color: #333 !important;
		}			
	}
	.steps {
		background: #fff;
	}*/
    .buttons{
        display: flex !important;
		align-items: center;
		flex-direction: column;
		padding: 10px;
        ion-button{
            width: 200px;
        }
    }
}

@media only screen and (max-width: 768px) {

    viewer-profile-page{
        .buttons{
            ion-button{
                text-align: center;
                width : 99%;
            }
        }
    }
}
