filter-header-block{
	margin-left: 200px;
    display: block;
	.filter-bar{
		.filter-wrapper{
			display: flex;
			justify-content: flex-end;						
			.enabled{
				//background: var(--background-header);
				--color: var(--toolbar-color);
				font-size:12px;
			}
			.disabled{
				background: grey;
				color: var(--font-color-header);
				font-size:12px;
			}	
			.close-filter{				
				ion-icon{
					color: var(--toolbar-color);
					margin: 0;
				}
			}
		}
	}	
}
