.keyboard-is-open
{
    menu-footer-block{
        display: none;
    }

    .logged{
        &.has-footer{
            ion-router-outlet {
                bottom: 0px;
            }
        }
    }
}

//.logged{
    .has-footer{
        ion-router-outlet {
            bottom: var(--height-menu-footer);
        }
    }
//}
 
menu-footer-block{
    background: var(--menu-footer-background-color);
    position: absolute;
    bottom: 0;
    //padding-top: 5px;
    //padding-bottom: 5px;
    width: 100%;
	z-index: 9;
	border-top: solid 1px var(--menu-footer-color);
    /*user-profile-block{
        padding: 0;
        border: none;
        label{
            display: none;
        }
        .avatar
        {
            width: 90px;
            img{
                width: 50px !important;
                height: 50px !important;
                padding:0px;
                border: solid 2px #fff;
            }    
        }
    }*/
    .tabs-container {
        background: transparent;
        display: flex;
        overflow-x: scroll;
        overflow-y: hidden;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        height: var(--height-menu-footer);
        scrollbar-width: none; /* Firefox hide scroll bar */
        -ms-overflow-style: none;  /* IE 10+ hide scroll bar*/
        &::-webkit-scrollbar { /* WebKit hide scroll bar */
            width: 0;
            height: 0;
            display: none;
        }
        ion-tab-button{
            text-align: center;
            color: var(--menu-footer-color);
            font-family: "muliSemiBold";
            max-width: initial;
            &.icon{
                min-width: 90px;
            }
            ion-icon{
                font-size:30px;
                margin: 0px;
            }
            span{
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 5px;
            }
            &:first-child{
                margin-left: 13px;
            }
            &:last-child{
                padding-right: 13px;
            }
        }
    }

    img {
        max-width: 75px !important;
    }

}
