<div class="tabs" slot="bottom">
    <div class="tabs-container">
		<ion-tab-button *ngFor="let item of itens; trackBy: trackById;" (click)="openOptions(item)"
						class="{{'item-' + item.id}}"
                        [ngClass]="{'url':item.icon && item.icon._url, 'icon':item.icon && item.icon.value, 'selected' : item.selected}">
            <img *ngIf="item.icon && item.icon._url" [src]="item.icon._url"/>
            <ion-icon *ngIf="item.icon && item.icon.value" name="{{item.icon.value}}" class="icon icon-md item-icon"></ion-icon>
            <span>{{item.name | translate}}</span>
        </ion-tab-button>
        <!----
        <user-profile-block *ngIf="hasProfile" [user]="core().user"></user-profile-block>
        --->
    </div>
</div>
