.button-output{
	margin: 0 !important;
	justify-content: center;
	padding: 0 !important;
    width: 100%;
	/*ion-button{		
		color:var(--color-save-button);
		--background: var(--background-save-button);
		--background-activated : var(--background-save-button);
		--background-focused : var(--background-save-button);	
		--background-hover: var(--background-save-button);
		--background-activated-opacity : 0.5;
		--background-focused-opacity : 0.5;		
		--background-hover-opacity:0.5;
		--border-radius: 5px;
		margin: 0;
		height: 100%;
		&.buy{
			--background: indianred;
			--background-activated : indianred;
			--background-focused : indianred;	
			--background-hover: indianred;
		}		
	}*/
	a{
		display: flex;
		justify-content: center;
		align-items: center;
		color:var(--color-save-button) !important;
		background: var(--background-save-button);
		border-radius: 5px;
		padding: 10px;
		ion-icon{
			margin-right: 10px;
		}
	}
	.off{
		background-color: #666;
		color: #fff;
		font-size: 16px;
		display: flex;
		justify-content: center;
		align-items: center;
		padding: 10px 15px;
		border-radius: 5px;
	}
}
