<ion-header>
	<ion-toolbar>
		<ion-title>
			Campo
		</ion-title>
		<ion-buttons slot="end">
			<ion-button ion-button icon-only (click)="_onClose()">
				<ion-icon name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>	
<ion-content>
	<form dynamic-form
		  #dynamicForm
		  [data]="data"
		  [form]="form"                      
		  (add)="_onAdd($event)"
		  (set)="_onSet($event)"
		  (close)="_onCancel()"
		  (rendererComplete)="onRendererComplete($event)"
		  class="form-form">
	</form>
</ion-content>
<ion-footer>
	<ion-toolbar #footer>		
	</ion-toolbar>
</ion-footer>	