error-input{
    font-size: 11px;
    color: brown;
    span{
        padding: 5px;
        display: inline-block
    }
}

form[dynamic-form]
{
    .ng-valid{
        .error-container{
            display: none;
        }
    }
    .ng-submitted.ng-invalid{
        .footer-form{
            background-color: var(--input-invalid-color);
        }
        .error-container{
            background-color: var(--input-invalid-color);
            color: #fff;
            padding: 10px 20px;;
            font-size: 13px;
            &:empty{
                display: none;
            }
        }
    }
}

.input.col{
    &.fieldset-input{
        & > .input-wrapper{
            &.ng-valid{
                & > .header-wrapper{
                    & > .header-input{
                        //color: var(--input-valid-color);
                        //border-top: solid 1px var(--input-valid-color);
                        //border-bottom: solid 1px var(--input-valid-color);
                    }
                }
            }
            &.ng-submitted.ng-invalid{
                & > .header-wrapper{
                    & > .header-input{
                        //color: var(--input-invalid-color);
                        //border-top: solid 1px var(--input-invalid-color);
                        //border-bottom: solid 1px var(--input-invalid-color);
                    }
                }
            }
        }
    }
    &.data-form-input{
        & > .input-wrapper{
            &.ng-valid{
                .buttons{
                    a {
                        background-color: var(--input-valid-color);
                    }
                }
            }
            &.ng-submitted.ng-invalid{
                .buttons{
                    a{
                        background-color: var(--input-invalid-color);
                    }
                }
            }
        }
    }
    /*&.sub-form-input{
        & > .input-wrapper{
            &.ng-valid{
                > .item-input{
                    border: solid 1px var(--input-valid-color);
                }
            }
            &.ng-submitted.ng-invalid{
                > .item-input{
                    border: solid 1px var(--input-invalid-color);
                }
            }
        }
    }*/
    .input-wrapper{        
        &.ng-submitted.ng-invalid{
            color: var(--input-invalid-color);
            .label-title{
                color:var(--input-invalid-color);
            }
            input, textarea
            {
                border: solid 1px var(--input-invalid-color);
                color: var(--input-invalid-color);
            }
            ng-select{
                .ng-select-container{
                    border: solid 1px var(--input-invalid-color) !important;
                }
                .ng-value{
                    color: var(--input-invalid-color);
                }
                input{
                    border: none;
                }
            }
            .ng-dropdown-panel-items{
                .ng-option{
                    color: var(--input-invalid-color);
                }
            }
            ion-icon, ion-spinner{
                color: var(--input-invalid-color);
            }
            .label-radio{
                border: solid 1px var(--input-invalid-color);
                input:before{
                    border: solid 1px var(--input-invalid-color);
                }
            }
            .checkbox-input{
                input[type="checkbox"]:checked + label:before{
                    background-color: var(--input-invalid-color);
                }
                label{
                    border: solid 1px var(--input-invalid-color);
                }
            }
            table.list tr{
                border: solid 1px var(--input-invalid-color);
            }
		}
		&.ng-submitted.ng-valid{
            color:var(--input-valid-color);
            .label-title{
                color:var(--input-valid-color);
            }
            input, textarea
            {
                border: solid 1px var(--input-valid-color);
                color:var(--input-valid-color);
            }
            ion-icon, ion-spinner{
                //color: var(--input-valid-color);
            }
            .ng-dropdown-panel-items{
                .ng-option{
                    color: var(--input-valid-color);
                }
            }
            ng-select{
                .ng-select-container{
                    border: solid 1px var(--input-valid-color) !important;
                }
                .ng-value{
                    color: var(--input-valid-color);
                }
                input{
                    border: none;
                }
            }
            .checkbox-item[type=checkbox] + label
            {
                border: solid 1px var(--input-valid-color);
            }
            .label-radio{
                border: solid 1px var(--input-valid-color);
                input:before{
                    border: solid 1px var(--input-valid-color);
                }
            }
            table.list tr{
                border: solid 1px var(--input-valid-color);
            }
        }
    }

}
