.listPopover{
    --offset-x: -3rem;
}

list-popover{    
    ion-list{
        padding: 0 !important;
        ion-list-header{
            background-color: var(--background-color);
            color: var(--font-color);
			font-weight: bold;
			height: 40px;
			font-size: 1rem;
			align-items: center;
			ion-label{
				margin: 0;
				padding: 0;
			}
        }
        ion-item{
            //text-align: center;
            --inner-padding-bottom: 10px;
            --inner-padding-top: 10px;
            ion-buton {
			    color: var(--font-color);
		    }	
            span{
                padding-left: 0.5rem;
                text-wrap: nowrap;
            }
        }
    }    
}
