.wrapper-body-container{
    //box-shadow: var(--box-shadow);
    .body-container{
        padding: var(--box-padding) !important;
        ///width: calc(100% - var(--box-padding)); ? mobile não fica bom
    }        
}

.title-container{
    //box-shadow: var(--box-shadow);
    padding: var(--box-padding);
	margin-bottom: 5px;
	background-color: var(--background-header);
    label{
        font-size: 14px;
        font-weight: 500;    
        color: var(--font-color-header);
		cursor: pointer;
    }
    .icon{
        background-color: var(--font-color-header);
        width: 24px;
        border-radius: 50%;
        height: 24px;
        display: inline-flex;
        color: var(--background-header);
        justify-content: center;
        align-items: center;
        margin-right: 7px;
    }
}

.subheader-container{
	//box-shadow: var(--box-shadow);
    height: auto !important;
    font-size: 16px;
    line-height: 20px;
    padding: 16px !important;
    white-space: normal !important;
    font-weight: normal;
    //background: blanchedalmond; na viewer não fica legal
    &.image{
        justify-content: center;
        padding: 0px !important;
		height: auto;
    }
    figure {
        margin: 0 -15px !important;
	}
	ion-img{
		max-width: 300px; 
    	padding: 20px;
	}
}

.footer-container{
    //box-shadow: var(--box-shadow);
    padding: 5px var(--box-padding) !important;
	height: auto !important;
	opacity: 0.9;
	background: var(--background-footer);
    &.has-image{
        justify-content: center;
        padding: 10px;
        height: auto;
    }
}

.header-container{
    //box-shadow: var(--box-shadow);
    margin-bottom: 5px;
    color: var(--font-color-header);
    background: var(--background-header);
    border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	margin: 0;
	opacity: 0.9;
	height: 40px !important;
    button{
        color: var(--font-color);
    }
    h4{
        margin: 0px;
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
		width: 100%;
		font-size: 16px;
    }
}

.title-steps{
    background:  var(--input-disabled-background-color);
    border-top: solid 1px var(--input-default-color);
    border-bottom: solid 1px var(--input-default-color);
    padding: 7px 5px;
}

.steps{
    background-color: var(--background-form);
}

@media (max-width: 767px) {
    .header-container{
        justify-content: center;
    }

    .mat-vertical-content-container{
        margin-left: 0 !important;
    }
    .mat-vertical-content{
        padding: 0 !important;
    }

    .wrapper-body-container{
        //box-shadow: none;
        .body-container{
            background: none !important;
            //padding: var(--box-padding) var(--box-padding) 0 !important;
            .col-partial{
                //padding: 0;
                //margin-top: 5px;
            }
			.first-row{
				.col-partial:first-child{
					margin-top: 0px;
				}				
			}
        }        
    }

    .footer-container{
        //box-shadow: none;
    }

    .footer-container{
        padding: 5px var(--box-padding) !important;
    }
}
