@function color-yiq($color)
{
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

    @if ($yiq >= 150) {
        @return #111111;
    } @else {
        @return #FFFFFF;
    }
}

@mixin style-checkbox($width) {

    position: absolute; // take it out of document flow
    opacity: 0; // hide it
    width: 0;

      & + label {
        position: relative;
        cursor: pointer;
        padding: 0;
        display: flex;
        align-items: center;
      }

      // Box.
      & + label:before {
        content: '';
        margin-right: 10px;
        display: inline-block;
        vertical-align: text-top;
        width: $width;
        height: $width;
        min-width: $width;
        min-height: $width;
        background: white;
        border: solid 1px var(--input-default-color);
        border-radius: 5px;
      }

      // Box hover
      &:hover + label:before {
        background: cornflowerblue;
      }

      // Box focus
      &:focus + label:before {
        /*box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.12);*/
      }

      // Box checked
      &:checked + label:before {
        background: var(--input-valid-color);
      }

      // Disabled state label.
      &:disabled + label {
        color: var(--input-disabled-background-color);
        cursor: auto;
      }

      // Disabled box.
      &:disabled + label:before {
        box-shadow: none;
        background: var(--input-default-color);
      }

      // Checkmark. Could be replaced with an image
      &:checked + label:after {
        content: '';
        position: absolute;
        left: 12px;
        top: 48%;
        background: color-yiq($input-valid-color);
        width: 2px;
        height: 2px;
        box-shadow:
          2px 0 0 color-yiq($input-valid-color),
          4px 0 0 color-yiq($input-valid-color),
          4px -2px 0 color-yiq($input-valid-color),
          4px -4px 0 color-yiq($input-valid-color),
          4px -6px 0 color-yiq($input-valid-color),
          4px -8px 0 color-yiq($input-valid-color);
        transform: rotate(45deg);
      }
}

@mixin style-radio() {

    $custom-radio-size:                 20px;
    $custom-radio-border-width:         1px;
    $custom-radio-transition-speed:     100ms;
    $custom-radio-inset-shadow:         inset 0 .1em 1px -.1em rgba(0,0,0,.3);

    $custom-radio-pip-color:            $input-valid-color;
    $custom-radio-pip-size:             round($custom-radio-size * .6);

    // States
    $custom-radio-unchecked-bg:         white;
    $custom-radio-unchecked-border:     $input-default-color;

    $custom-radio-checked-bg:           mix($custom-radio-unchecked-bg, $custom-radio-pip-color, 60%);
    $custom-radio-checked-border:       $custom-radio-pip-color;

    $custom-radio-active-inset-shadow:  inset 0 0 2px 3px rgba(0,0,0,.1);

    $custom-radio-focus-shadow:         0 0 0 2px transparentize($input-valid-color, .5);

    $custom-radio-disabled-bg:          lighten($input-default-color, 91.8%);
    $custom-radio-disabled-pip-color:   lighten($input-default-color, 80%);


    // Check variable values
    @if ($custom-radio-size % 2 == 1) { @error '$custom-radio-size must be even'; }
    // round to nearest even number
    @if ($custom-radio-pip-size % 2 == 1) { $custom-radio-pip-size: $custom-radio-pip-size - 1; }

    position: relative;
    display: inline-block;

    width:  $custom-radio-size;
    height: $custom-radio-size;
    padding: 0px;
    margin-right: 10px;
    border-radius: 100%;
    outline: none !important;
    -webkit-appearance: none;
    cursor: pointer;

    &::before {
      position: relative;
      top:  -$custom-radio-border-width - 1;
      left: -$custom-radio-border-width;
      display: block;
      content: '';
      background: $custom-radio-unchecked-bg;
      border: $custom-radio-border-width solid $custom-radio-unchecked-border;
      border-radius: 100%;
      box-shadow: $custom-radio-inset-shadow;

      width:  $custom-radio-size;
      height: $custom-radio-size;
    }

    &:active::before {
      box-shadow: $custom-radio-inset-shadow,
                  $custom-radio-active-inset-shadow;
    }

    &:hover::before{
      background: #d2d2d2;
    }

    &:focus::before {
      box-shadow: $custom-radio-inset-shadow,
                  $custom-radio-focus-shadow;
    }

    &:checked::before {
      background: $custom-radio-checked-bg;
      border-color: $custom-radio-checked-border;
    }

    &:disabled::before {
      cursor: not-allowed;
      background-color: $custom-radio-disabled-bg;
      border-color: transparentize($custom-radio-unchecked-border, .2);
    }

    // Radio Pip
    // ---
    &::after {
      position: relative;
      top: -($custom-radio-size / 2) - $custom-radio-border-width;
      left: ($custom-radio-size / 2) - $custom-radio-border-width;


      display: block;
      content: '';

      background: $custom-radio-pip-color;
      border-radius: 100%;
      box-shadow: 0 1px 1px rgba(0,0,0,.1);

      width:  0;
      height: 0;
    }

    &:checked::after {
      transition: all ease-in-out $custom-radio-transition-speed 0;

      top:  floor(
              - ($custom-radio-size / 2)
              - ($custom-radio-pip-size / 2)
              - $custom-radio-border-width
              - .5
              - 1
            );

      left: floor(
              + ($custom-radio-size / 2)
              - ($custom-radio-pip-size / 2)
              - $custom-radio-border-width
              + 1
            );

      width:  $custom-radio-pip-size;
      height: $custom-radio-pip-size;
    }

    &:disabled::after {
      background: $custom-radio-disabled-pip-color;
    }
}

@mixin style-meter() {
	meter{
		width: 100%;
		height: 40px;
		//margin-bottom: 5px;
		&::-webkit-meter-bar {
			//background: #EEE;
			//box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
			//border-radius: 3px;
		}
	
		&::-webkit-meter-optimum-value {
			background: #86CC00; /* Green */
			border-radius: 3px;
		}
	
		&::-webkit-meter-suboptimum-value {
			background: #FFDB1A; /* Yellow */
			border-radius: 3px;
		}
	
		&::-webkit-meter-even-less-good-value {
			background: #CC4600; /* Red */
			border-radius: 3px;
		}
	
		/* For Firefox */
		//background: #EEE;
		//box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
		//border-radius: 3px;
	
		&::-moz-meter-bar {
			border-radius: 3px;
		}
	
		&:-moz-meter-optimum::-moz-meter-bar {
			background: #86CC00;
		}
	
		&:-moz-meter-sub-optimum::-moz-meter-bar {
			background: #FFDB1A;
		}
	
		&:-moz-meter-sub-sub-optimum::-moz-meter-bar {
			background: #CC4600;
		}
	}
}