icon-input{
    position: absolute;
    right: 0px;
    top: 0px;
    width: 50px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    this.formItem.name{
        position: absolute;
        top:3px;
        right: 30px;
        font-size: 40px;
        color: #666;
    }
    ion-icon{
        font-size: 25px;
    }
}
