@media print {	
	body * {
		box-shadow: none !important;		
	}
	ion-menu, ion-header, ion-footer, .buttons-col{
		display: none !important;
	}
	ion-app ion-split-pane.top-menu.has-menu ion-menu{
		display: none !important;
	}
	ion-app ion-split-pane.top-menu.has-menu ion-menu + ion-router-outlet{
		margin-top: 0;
	}

	.scroll-content {
		position: relative;
		overflow:visible!important;
	}
}