@import "./functions.scss";
@import "./responsive.scss";
@import "./container.scss";
@import "./ckeditor.scss";

@import "../../core/component/input/style.scss";
@import "../../core/component/setting/base.setting.scss";
@import "../../core/component/output/base.output.scss";
@import "../../core/component/block/style.scss";
@import "../../core/component/partial/base.partial.scss";
@import "../../core/component/pagination/next/next.pagination.scss";
@import "../../core/component/pagination/number/number.pagination.scss";
@import "../../core/component/pagination/only.next/only.next.pagination.scss";
@import "../../core/dynamic/form/dynamic.form.scss";
@import "../../core/dynamic/list/dynamic.list.scss";
@import "../../core/dynamic/viewer/dynamic.viewer.scss";
@import "../../core/dynamic/chart/dynamic.chart.scss";
@import "../../core/modal/style.scss";
@import "../../core/popover/style.scss";

@import "./print.scss";
@import "pretty-checkbox/src/pretty-checkbox.scss"; 

* {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

// CHECKBOX
.pretty
{
    margin-right: 0.3rem;
}

.pretty * {
    font-size: 1.3rem !important;
}

.pretty.p-bigger label:before{
    background-color: #fff;
    border-color: #fff;
    border: solid 1px #333;
}

.grecaptcha-badge{
    display: none;
}

/* IFRAME */
.wrapper-iframe{
    --overflow: hidden;
    width: 100%;
    height: calc(100vh - 220px); 
	margin: 0 !important;
	position: relative;
    iframe{
        width: 100%;
        height: 100%;
        border: none;
        position: absolute;
        bottom: 0;
        top: 0;
        left: 0;
        right: 0;
    }
}

.code-alert{
	.alert-wrapper{
		min-width: 500px;
		.alert-message{
			display: none;
		}
		textarea{
			height: 300px;
		}
	}
}

.has-footer{
    .wrapper-iframe{
        iframe, ngx-extended-pdf-viewer{
			width : 100%;
            height: calc(100vh - var(--height-menu-footer) - 57px); 
        }
    }
}

accordion-viewer-container{
    .wrapper-iframe{
        iframe
        {
            position: relative;
        }
    }
}

aw-wizard-navigation-bar.horizontal ul.steps-indicator li a .label{
	font-size: 10px;
    padding-top: 0px;
}

aw-wizard-navigation-bar.horizontal.large-empty-symbols ul.steps-indicator li .step-indicator{
	width: 40px;
    height: 40px;
    left: calc(50% - 20px);
	line-height: 36px;
	top: -45px;
}

@media (max-width: 767px) {
    .wrapper-iframe{
		height: calc(100vh - 130px); 
	}
}
/* END IFRAME */

figure{
    margin: 0;
}

.hide {
    display: none !important;
}

body{
	ion-app{
		p, label, h1, h2, h3, h4, h5, h6, ul, ion-title, small, ion-button{
			font-family:var(--ion-default-font);
		}
		p, ion-button, ion-title, ul, label, ::slotted(ion-icon)  {
			font-size: 14px !important; 
		}		
	}
}

ion-button{
    --background : none;
	--padding-top: 9px;
	--padding-bottom: 9px;
    --padding-end: 10px;
    --padding-start: 10px;
    --margin-top: 0px;
    --margin-end: 0px;
    --margin-start: 0px;
    --margin-bottom: 0px;
    --box-shadow: none;
}

ng-select, .ng-dropdown-panel-items {
	width: 100%;

	&.ng-select-disabled {
		.ng-select-container {
			background: #f2f2f2;
		}
	}

	.ng-clear-wrapper{
		z-index: 999;
	}
	
	.ng-has-value .ng-placeholder, &.ng-select-filtered .ng-placeholder{
		display: none !important;
	}

	.ng-placeholder {
		font-size: 14px;
		color: #777777;
		min-height: 30px;
		justify-content: center;
		display: flex;
		align-items: center;
	}

	.ng-value {
		font-size: 14px;
		top:0;
	}
	
	.ng-input{
		top: 0 !important;
	}

	&.ng-select-single {
		height: 34px !important;
	}

	.ng-select-container {
		min-height: 34px !important;		
		border: solid 1px var(--input-default-color) !important;
		align-items: center;
		justify-content: center;
		overflow: inherit;
		height: auto !important;
	}

	.ng-option{
		padding: 0px 10px;
		min-height: 34px;
		font-size: 14px;
		display: flex !important;
		flex-direction: column;
        white-space: initial !important;
		//align-items: center;
		&:nth-child(even) { background-color: #f9f9f9 !important }
		&:nth-child(odd)  { background-color: #FFF !important }
		.title-option{
			display: flex;
    		align-items: center;
			img{
				margin-right: 10px;
				border-radius: 50%;
			}	
		}
	}

	.ng-value{
        display: flex;
        align-items: center;
        ion-icon{
            margin-left: 5px;
            cursor: pointer;
        }
        .item-label{
            display: flex;
            align-items: center;
            padding: 3px 10px;
            border-radius: 5px !important;   
            &.disabled{
                background-color: #d2d2d2;
            } 
        }
		//min-height: 34px;
		img{ // THUMBS DE USUÄRIOS
			margin-right: 10px;
			border-radius: 50%;
			margin-left: 5px;
		}
	}

	.ng-value-container {   		  
		input {
			padding: 0;
			height: 34px;
		}
	}
	
	&.ng-select-multiple{
		.ng-value-container {      
			padding-top: 3px !important;     
			input {
				height: 26px;
			}
		}
		.ng-placeholder{
			top: 1px !important;
			padding-bottom: 2px !important;
		}
	}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.indexer-box{    
    width: 100%;
    height: 80vh;
    text-align: center;
    color: #666;
    display: flex;           /* establish flex container */
    flex-direction: column;  /* make main axis vertical */
    justify-content: center; /* center items vertically, in this case */
    align-items: center;
    &.finish{
        span{
            background-color: var(--background-color);
            color: var(--font-color);
        }
    }
    span{
		font-size: 100px;
        width: 300px;
        height: 300px;
        background-color: #f2f2f2;
        border-radius: 50%;
        display: flex;           /* establish flex container */
        flex-direction: column;  /* make main axis vertical */
        justify-content: center; /* center items vertically, in this case */
        align-items: center;
	}
	small{
		font-size: 16px;
		margin-top: 10px;
		color: var(--background-color);
	}
}

.bg-loading{
	--background : var(--loading-background-color);
	--spinner-color : var(--loading-font-color);
	opacity: 0.8;
}

//https://www.akveo.com/ngx-admin/
.blob-loading{
    .loading-wrapper{
        display: block;
        position: relative;
        //left: calc(50% - 150px);
        //top: calc(50% - 150px);
        width: 150px;
        height: 150px;
        //margin: -75px 0 0 -75px;
        border-radius: 50%;
        box-shadow: 0 3px 3px 0 #ff3d71;
        transform: translate3d(0,0,0);
        animation: spin 2s linear infinite;
        background : #fff;
        border-radius: 50%;
        opacity: 0.5;
        &:before{
            top: 5px;
            left: 5px;
            right: 5px;
            bottom: 5px;
            box-shadow: 0 3px 3px 0 #ffaa00;            
            animation: spin 3s linear infinite;
            box-sizing: border-box;
            content: '';
            position: absolute;
            border-radius: 50%;
        }
        &:after{
            top: 15px;
            left: 15px;
            right: 15px;
            bottom: 15px;
            box-shadow: 0 3px 3px 0 #0095ff;
            animation: spin 1.5s linear infinite;
            box-sizing: border-box;
            content: '';
            position: absolute;
            border-radius: 50%;
        }
    } 
}

/* RICHTEXT*/
[contenteditable] {
    -webkit-user-select: text;
    user-select: text;
}

.ql-size-large{
    font-size: 20px;
    font-weight: bold;
}
/* ------ */

.hover{
    cursor: pointer;
}

app-root:empty::after, ion-router-outlet:empty::after
{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: calc(50% - var(--box-padding));
    left: calc(50% - var(--box-padding));
    //font-size: 20px;
    //transform: translate(-50%, -50%);
    //color:var(--font-color);
    background-color: var(--background-color);
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

/* MATERIAL */
.mat-mdc-tab-header{
    background: var(--background-header);
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
	.mat-mdc-tab-header-pagination{
		border-color: var(--font-color-header);
	}
    .mdc-tab__text-label{
        height: 40px;
        color: var(--font-color-header) !important;
        opacity: 1;
        font-size: 16px;
    }
    .mdc-tab-indicator__content{
        border-color:var(--font-color-header) !important;
        background-color: var(--font-color-header) !important;
        height: 2px;
    }
}

.mat-mdc-expansion-panel{
    background-color: var(--background-form);
    .mat-mdc-expansion-panel-header{
        box-shadow: var(--box-shadow);
    }
}

mat-step-header{
    //box-shadow: var(--box-shadow); WIZARD TEM PROBLEMA
    //padding: var(--box-padding) !important;    
    .mat-mdc-step-icon-selected{
        background-color: var(--input-valid-color) !important;
        color: #fff;
	}
	.mat-mdc-step-icon-state-edit{
		background-color: var(--input-default-color) !important;
        color: #fff;
	}
}

.mat-mdc-stepper-vertical-line::before{
    top: 0 !important;
    bottom: 0 !important;
}

ion-alert{
    .alert-head{
        background: var(--background-header);
        .alert-title{
            color:var(--font-color-header) !important;
        }
    }
    .alert-message{
        padding: 25px !important;
        font-size: 16px !important;
        text-align: center;
    }
	.alert-button-group{
		button{
			color:#333 !important;
		}
	}
}

ion-searchbar{
    input{
        text-align: left !important;
    }
}

ion-tab-button{
    --color-selected:var(--font-color);
    &.tab-selected{
        color:var(--font-color);
    }
}

/*form[dynamic-form]:empty::before
{
    content: '';
    width: 40px;
    height: 40px;
    position: absolute;
    display: block;
    top: calc(50% - var(--box-padding));
    left: calc(50% - var(--box-padding));
    background-color: #d2d2d2;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}*/

@keyframes moveRight {
	50% { background-position: right; }
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}

a{
    cursor: pointer;
}	

.clearfix{
    clear: both;
}

.backgroud-wrapper{
	background : linear-gradient(to bottom, rgba(0,0,0,.3), rgba(0,0,0,.3));
	background-size: cover;
	animation: moveRight 120s infinite; 
	min-height: 100%;
}

tooltip-box{
    //left: 0 !important;
}

.solved{
    float: right;
    display: block;
    padding: 3px 0;
    clear: both;
	margin-right: 5px;
	color: var(--font-color);
	text-align: right;
    a{
        color: var(--font-color);
        text-decoration: none;
    }
}

ion-grid{
    width: 100%;
}

.text-center{
    text-align: center;
}

.embed-responsive{
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    .embed-responsive-item, iframe{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
		height: 100%;
		border:none;
	}
}

table{
    width: 100%;
    &.striped{            
        tr{
			//display: table-row;
			height: 40px;
            &:nth-child(even) { background: var(--background-column) }
            &:nth-child(odd)  { background: var(--background-column) }
            &:hover{
                background : palegoldenrod;
            }
            th{
                background: var(--background-color-hover);;
                color: var(--font-color-hover);
                text-align: left;
            }
        }
    }    
    &.no-output{
        td,th{
            padding: 10px;
        }        
    }
}

ion-segment{    
    ion-segment-button{
		--background: #fff;
    	--border-color:var(--background-color-hover) !important;
    	--background-checked:var(--background-header) !important;
        --indicator-color:var(--background-header) !important;
        --color-checked: var(--font-color-header) !important;
        max-width: 100%;
        --color:var(--font-color-hover) !important;
        border: none !important;
        .title-output p{
            color:var(--font-color-header) !important;
        }
        &.segment-button-checked{
            .title-output p{
                color:var(--font-color-hover) !important;
            }
        }
    }
}

ion-header, ion-footer{
	ion-toolbar{
		--background : var(--toolbar-background);
		--padding-bottom: 0;
		--padding-top: 0;
		ion-title{
			color: var(--toolbar-color);
		}
		ion-button{
			--color-activated : var(--toolbar-color);
			--color:var(--toolbar-color); 
		}
	}
}

ion-popover{
    ion-list{
        margin: 0px !important;
        ion-list-header{
            margin-bottom: 0px !important;
            border-bottom: 1px solid #dedede;
        }
        .button{
            cursor: pointer;
        }
    }
    ion-backdrop[disable-activated]{
        background: #333;
        opacity: 0.5;
    }
}

/*-----------------------*/
/*-ACTIONSHEET MODAL ----*/
/*-----------------------*/
ion-action-sheet {
    --width: 90% !important;
    .action-sheet-title {
        font: 20px muliRegular !important;
		color: var(--font-color-header) !important;
		background: var(--background-header) !important;
		padding: 10px !important;
		contain: none;
		border-bottom: 1px solid var(--background-header);
		margin: 0;
    }

    .action-sheet-button {
		font: 16px muliRegular !important;
		color: var(--font-color) !important;
		background: var(--background-color) !important;
		padding: 0 !important;
		contain: none;
		border-bottom: 1px solid var(--background-color);
		height: 50px !important;
    }
}

/* ANIMATION */
@keyframes fade {
	0%   {  opacity: 0  }
	100% {  opacity: 1  }
}

@keyframes slide-right {
    from {
        transform: translateX(400px);
    }
    to {
        transform: translateX(0px);
    }
}

@media (max-width: 767px) {
    
}
