@function color-yiq($color)
{
    $r: red($color);
    $g: green($color);
    $b: blue($color);

    $yiq: (($r * 299) + ($g * 587) + ($b * 114)) / 1000;

    @if ($yiq >= 150) {
        @return #111111;
    } @else {
        @return #FFFFFF;
    }
}

$theme-color: steelblue !default;
$theme-color-hover : whitesmoke !default;
$background-body:whitesmoke !default;
$background-content:whitesmoke !default;
$background-form:ghostwhite !default;
$background-column:#FFFFFF !default;
$font-family:muliRegular !default;

/* HEADER */
$background-header:lightslategray !default;

/* FOOTER */
$background-footer:whitesmoke !default;

/* AUTH */
$intro-background:steelblue !default;
$intro-toolbar-background:steelblue !default;
$logo-intro-max-width  : 300px !default;
$logo-intro-max-height : 100px !default;

/* LOADING */
$loading-background-color: steelblue !default;

/* MENU */
$height-menu-top:40px !default;
$menu-background:steelblue !default;
$menu-background-hover:whitesmoke !default;
$menu-footer-background:steelblue !default;
$menu-footer-color:color-yiq($menu-footer-background) !default;
$height-menu-foote:71px !default;

/* TOOLBAR */
$toolbar-background:steelblue !default;

/* INPUT */
$input-valid-color:forestgreen;//55b279
$input-invalid-color: brown !default;
$input-default-color:#666 !default;

/* BUTTONS */
$background-save-button:#55b279 !default;
$background-cancel-button:gray !default;

/* AVATAR */
$avatar-width:200px !default;

/* CHAT */
$chat-footer:#333 !default;

$input-disabled-background-color:ghostwhite;

:root, :host{

	--ion-default-font : #{$font-family};
    --box-shadow : 0 3px 1px -2px rgba(0,0,0,.2), 0 2px 2px 0 rgba(0,0,0,.14), 0 1px 5px 0 rgba(0,0,0,.12);

    --background-color:#{$theme-color};
    --background-color-hover:#{$theme-color-hover};
    --background-form:#{$background-form};
	--background-column:#{$background-column};
	--background-header:#{$background-header};
	--background-footer:#{$background-footer};
	--background-content:#{$background-content};
	--outlet-header-background:#{$background-body};

	//--color:#{color-yiq($theme-color)}; /* BUG: NAO SUBSCREVER O HOST */	
    --font-color:#{color-yiq($theme-color)};
    --font-color-hover:#{color-yiq($theme-color-hover)};
    --font-color-disabled:#{$input-disabled-background-color};
    --font-color-header:#{color-yiq($background-header)};
	--font-color-footer:#{color-yiq($background-footer)};
	--font-color-form:#{color-yiq($background-form)};

	/* MENU */
	--height-menu-top:#{$height-menu-top};
    --menu-background-color:#{$menu-background};
	--menu-background-color-hover:#{$menu-background-hover};
	--menu-footer-background-color:#{$menu-footer-background};
	--menu-color:#{color-yiq($menu-background)};
	--menu-footer-color:#{$menu-footer-color};
    --menu-color-hover:#{color-yiq($menu-background-hover)};
    --height-menu-footer:#{$height-menu-foote};
	//--ion-font-family: -apple-system, BlinkMacSystemFont, "Helvetica Neue", "Roboto", sans-serif;

	/* CHAT */
	--chat-footer:#{$chat-footer}; 
	
	/* LOADING */
	--loading-background-color:#{$loading-background-color};
	--loading-font-color:#{color-yiq($loading-background-color)};
	
	/* TOOLBAR */
	--toolbar-background:#{$toolbar-background};
	--toolbar-color:#{color-yiq($toolbar-background)};

	/* AVATAR */
	--avatar-width:#{$avatar-width};

    /* AUTH */
    --logo-intro-max-width:#{$logo-intro-max-width};
    --logo-intro-max-height:#{$logo-intro-max-height};
    --logo-intro-padding:30px;
    --intro-background:#{$intro-background};
	--intro-toolbar-background:#{$intro-toolbar-background};
	--font-color-intro:#{color-yiq($intro-background)};
	--font-color-intro-toobar:#{color-yiq($intro-toolbar-background)};

    /* INPUT */
    --input-valid-color:#{$input-valid-color};
    --input-invalid-color:#{$input-invalid-color};
    --input-default-color:#{$input-default-color};
    --input-disabled-background-color:#{$input-disabled-background-color};

    /* BUTTON */
    --background-save-button:#{$background-save-button};
    --background-cancel-button:#{$background-cancel-button};
    --color-save-button:#{color-yiq($background-save-button)};
    --color-cancel-button:#{color-yiq($background-cancel-button)};

    /* TILE */
    --tile-item-backgroud:var(--menu-background-color);
    --tile-item-backgroud-hover : var(--menu-background-color-hover);
    --tile-item-backgroud-no-active: #8d8d8d;

    --ion-tab-bar-background: var(--background-color);
    --ion-tab-bar-color: var(--font-color-hover);

    /* OTHER */
	--box-padding : 10px; 	
}

@media all and (max-width: 767px)
{
    :root, :host{
        /* OTHER */
        //--box-padding : 10px; 
    }
}