.label-partial
{
    //border-bottom: solid 1px #d2d2d2;
    //padding-bottom: 5px;
    margin: 10px 15px;
    display: flex;
    label{
		font-size: 11px !important;
		margin-bottom: 0px;
		margin-top: 0px;
		color: var(--input-default-color);
		font-weight: bold;
	}
	&.note-alert{
		background: cornsilk;
		padding: 10px;
		border-radius: 5px;
		border: solid 1px #d2d2d2;
		margin: 0;
		label{
			color: var(--input-default-color);
		}
	}
}   

@media (max-width: 767px) 
{
    .label-partial
    {
        white-space: pre-wrap;
    }   
}
  