.generate-password-input{
    ion-button{
        background-color: var(--input-default-color);
        border-radius: 3px;
        width: 100%;
        height: 35px;
        margin: 0;
        padding: 0;
        ion-icon{
            color: #fff !important;
            margin-right: 10px;
        }
    }
}
