attachment-input{
	position: absolute;
    top: 25px;
    right: 10px;
    a{
		font-size: 25px;
		color: var(--input-default-color);
		/* border: solid 1px var(--input-default-color); */
		border-radius: 50%;
		display: flex;
		width: 34px;
		height: 34px;
		justify-content: center;
		align-items: center;
        &:hover{
            background-color: var(--background-color-hover);
            color: var(--font-color-hover);
        }
    }
}
