.product-multi-select-input{

    .sort-loading{
      text-align: center;
    }
    
    .sort-container {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        gap: 10px;
        margin: 10px;
      }
      
      .sort-box {
        max-width: 200px;
        border: solid 1px #ccc;
        font-weight: bold;
        color: rgba(0, 0, 0, 0.87);
        cursor: move;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        background: #fff;
        border-radius: 4px;
        position: relative;
        z-index: 1;
        float: left;
        transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
        box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
          0 1px 5px 0 rgba(0, 0, 0, 0.12);

          img{
            max-width: 100%;
          }
          ion-icon{
            position: absolute;
            top: 2px;
            right: 2px;
            font-size: 25px;
            cursor: pointer;
          }
          label{
            position: absolute;
            bottom: 0;
            width: 100%;
            padding: 5px;
            background: #000;
            opacity: 0.5;
            color: #fff;
            font-size: 10px !important;
            height: 40px;
            display: flex;
            align-items: center;
            font-weight: lighter;
            justify-content: center;
          }
      }
      
      .sort-box:active {
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
        opacity: 0.6;
      }
      
      .cdk-drag-preview {
        box-sizing: border-box;
        border-radius: 4px;
        box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2),
          0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
          img{
            max-width: 100%;
          }          
      }
      
      .cdk-drag-placeholder {
        opacity: 0.3;
        position: relative;
        float: left;
      }
      
      .cdk-drag-animating {
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
      }
            
      .sort-box-placeholder {
        width: 200px;
        display: flex;
        justify-content: center;
        background: #ccc;
        border: dotted 3px #999;
        transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);        
      }
      
      .drop-list-item {
        display: flex;
        flex-direction: row;
      }    
}
/* ele fica fora do component, fica logo abaixo do body */
.cdk-drag-preview {
  img {
    max-width: 100% !important;
    max-height: 100% !important;
  }
  label{
    display: none;
  }
}
