.batchPopover{
	--width : auto;
}

[table-list-container], [calendar-list-container]
{
	height:100%;

    &.fixed-header
    {
        > .tabela-box
        {
            > table 
            {
                > thead
                {
                    th{
                        position: sticky;
                        top: 0;
						&.buttons-col{
							right: 0;
						}
						.buttons-div{
							display: flex;
							justify-content: space-between;
							.sort{
								opacity: 0.3;
								&.selected{
									opacity: 1;
								}
							}
						}
                    }                
                }  
				tr{
					td{
						&.buttons-col{
							position: sticky;
							right: -3px;
							.buttons-div:before{
								//box-shadow: -5px 0px 5px -3px #616161;
								content:"";
								position:absolute;
								pointer-events: none;
								left: -51px;								
								width: 50px;
								top:0;
								bottom:0;
							}	
						}
						&.select-col{
							width: 0;
						}
					}   
					&:nth-child(even) {
						td{
							&.buttons-col{
								.buttons-div:before{
									background: linear-gradient(to right, rgba(249, 249, 249, 0.6) 1%, rgba(249, 249, 249, 0.7) 70%, rgba(249, 249, 249, 0.9) 100%);
								}
							}						
						}
					}	
					&:nth-child(odd)  {  
						td{
							&.buttons-col{
								.buttons-div:before{
									background: linear-gradient(to right, rgba(255, 255, 255, 0.6) 1%, rgba(255, 255, 255, 0.7) 70%, rgba(255, 255, 255, 0.9) 100%);
								}
							}	
						}
					}	
					&:hover:not(.archive,.canceled,.selected,.release){
						td{
							&.buttons-col{
								background : rgba(238,232,170,1);
								//background : linear-gradient(to right, rgba(255,255,224,0.6) 1%,rgba(255,255,224,0.7) 70%,rgba(255,255,224,0.80) 100%);;
								.buttons-div:before{
									background : linear-gradient(to right, rgba(238,232,170,0.6) 1%,rgba(238,232,170,0.7) 70%,rgba(238,232,170,0.80) 100%);
								}
							}						
						}						
					}										
					&.archive{
						td{
							&.buttons-col{
								.buttons-div:before{
									background: linear-gradient(to right, rgba(176,196,222,0.6) 1%,rgba(176,196,222,0.7) 70%,rgba(176,196,222,0.80) 100%);
								}
							}				
						}	
					}
					&.canceled{
						td{
							&.buttons-col{
								.buttons-div:before{
									background: linear-gradient(to right, rgba(222,176,196,0.6) 1%,rgba(222,176,196,0.7) 70%,rgba(222,176,196,0.80) 100%);
								}
							}				
						}	
					}
					&.release{
						td{
							&.buttons-col{
								.buttons-div:before{
									background : linear-gradient(to right, rgba(238,232,170,0.6) 1%,rgba(238,232,170,0.7) 70%,rgba(238,232,170,0.80) 100%);
								}
							}				
						}	
					}
					&.selected{
						td{
							&.buttons-col{
								.buttons-div:before{
									background: linear-gradient(to right, rgba(143,188,143,0.6) 1%,rgba(143,188,143,0.7) 70%,rgba(143,188,143,0.80) 100%);
								}
							}				
						}	
					}
				}				  
            }
        }
	}
	
	.tr-expand{
		&.close{
			display: none;
		}
		&:hover{
			background: none;
		}
		> td{
			padding: 20px;
		}
		&.open{
			> td{
				background: #f2f2f2;
				color: var(--font-color-hover);
			}
		}
	}
 
    .table-level-2, .table-level-3, .table-level-4, .table-level-5{
        .tr-level-1, .tr-level-2, .tr-level-3, .tr-level-4, .tr-level-5, thead{
            //background-color: #333;
            //color: var(--font-color-header);
            ion-icon{
                //color: var(--font-color-header);
            }
            > th, td {            
                //border-left: 1px solid var(--font-color-header);
                //border-bottom: 1px solid var(--font-color-header);
            }
		}
		.tr-level-1{			
			> td{
				border-bottom-width: 2px;
			}
		}
		.tr-level-2{
			//opacity: 0.8;
			td{
				padding-left: 20px;
			}
			td:last-child{
				padding-left: 40px;
			}
		}
		.tr-level-3{
			//opacity: 0.6;
			td{
				padding-left: 40px;
			}
			td:last-child{
				padding-left: 80px;
			}
		}
		.tr-level-4{
			//opacity: 0.6;
			td{
				padding-left: 60px;
			}
			td:last-child{
				padding-left: 100px;
			}
		}
		.tr-level-5{
			//opacity: 0.6;
			td{
				padding-left: 80px;
			}
			td:last-child{
				padding-left: 120px;
			}
		}
	}

    tr.groupBy{
        background-color: var(--background-header) !important;
        color:var(--font-color-header);
        opacity: 0.9;
        font-weight: bold;
        font-size: 13px;
    }

    tr.archive{
			background: lightsteelblue !important;
        //background: darkseagreen !important;
    }

    tr.canceled{		
			background: #deb0c4 !important;
        //background: indianred !important;
    }

		tr.release{		
			background: palegoldenrod !important;
					//background: indianred !important;
		}

		tr.selected{		
			background: #8fbc8f !important;
					//background: indianred !important;
		}

    .tabela-box{
		height:100%;
		overflow-x: scroll;
        thead
        {
            background: var(--background-header);
            th{
                background: var(--background-header);
                label{
                    color: var(--font-color-header);
                }
                z-index: 9;
                ion-icon{
                    color: var(--font-color-header);
                }
				.label-partial{
					margin: 0 10px;
					display: flex;
    				align-items: center;
				}
            }
            .label-partial{
                border: none;
                small{
                    text-transform: uppercase;
                }
            }
        }
        th, td {            
    		border: 5px solid var(--background-content);
			border-radius: 10px;
            white-space: nowrap;
            &:first-child{
                //border-left: none;
            }
            a{
                color: #000;
            }		
			&.buttons-col{
				&.buttons-1{
					width: 40px;
				}
				&.buttons-2{
					width: 80px;
				}
				&.buttons-3{
					width: 120px;
				}
				&.buttons-4{
					width: 160px;
				}
				&.buttons-5{
					width: 200px;
				}
				&.buttons-6{
					width: 240px;
				}
				.buttons-div{
					display: flex;
					justify-content: flex-end;
				}
			}	
            &.avatar-col{
                border-right: none !important;
                width: 55px;
                padding: 0px !important;
                .label-partial{
                    label{
                        display:none !important;
                    }
                }
                .avatar-output{
                    padding: 0;
                    p{
                        display: flex;
                        img{
                            width: 30px;
                            height: 30px;
                            max-width: none;
                            margin: 0 10px;
                        }    
                    }
                }
            }
        }
		tr{
			&:nth-child(even) {
				td{
					&.buttons-col{
						background: rgb(249, 249, 249);
						border-left: #d2d2d2 1px solid;
						//vertical-align: top;
					}						
				}
			}	
			&:nth-child(odd)  {  
				td{
					&.buttons-col{
						background: rgb(255, 255, 255);
						border-left: #d2d2d2 1px solid;
						//vertical-align: top;
					}	
				}
			}		
			&.archive{
				td{
					&.buttons-col{
						background: lightsteelblue;
					}				
				}	
			}
			&.canceled{
				td{
					&.buttons-col{
						background: #deb0c4;
					}				
				}	
			}
			&.release{
				td{
					&.buttons-col{
						background: palegoldenrod;
					}				
				}	
			}
			&.selected{
				td{
					&.buttons-col{
						background: #8fbc8f;
					}				
				}	
			}
		}
    }
}

@media (max-width: 767px) {
	.tabela-box{
		table,
		tbody,
		tr,
		td {
		  display: block;
		  height:auto !important;
		  min-height: 40px;
		  padding: 5px 2px;
		}
		table {
		  //border-top: 1px solid #e8e8e8; /* optional */
		}
		thead {
		  display: none;
		}
		tr{
		  //background-color: #f9f9f9; /* optional */	
		  margin-bottom: 20px;
		  background:none !important;
		  &.groupBy{
			  display: none;
		  }
		  &:hover:not(.archive,.canceled,.selected,.release){
			  td{
				  &.buttons-col{
					  background : #fff !important;
				  }						
			  }						
		  }
		}
		td {
		  position: relative;
		  text-align: left;
		  padding: 0;
		  padding-left: calc(35%); 
		  width: auto !important;
		  background: #fff;
		  border: 2px solid var(--background-content) !important;
		  &.buttons-col{
			  border-left:none !important;
			  margin-left: 2px;
			  .buttons-div::before{
				  background:none !important
			  }
		  }
		  &.select-col{
			  display: none;
		  }
		}
		  td:before {
			  content: attr(data-label);
			  position: absolute;
			  white-space: nowrap;
			  top: 0;
			  bottom: 0;
			  left: 0;
			  width: 30%;
			  text-align: left;
			  padding: 10px;
			  font-weight: 600;
			  font-size: 12px;
			  border-right: 1px solid #e8e8e8;
		  }
		  .tr-expand{
			  > td{
				  padding: 0px !important;
			  }
		  }
	}	
}
/* Styles for normal mode (all are optional, presentational styles) */
// @media (min-width: 856px) {
//   th {
//     white-space: nowrap;
//     font-weight: 600;
//   }
//   th,
//   td {
//     padding: 7px 13px;
//     border: 1px solid #e8e8e8;
//   }
//     th:not(.align-start),
//     td:not(.align-start) {
//       text-align: center;
//     }
// }
