$theme-color : #292a2b !default;
$theme-color-hover:steelblue !default;
$background-header: steelblue !default;
$background-save-button:steelblue !default;
$background-cancel-button:#d2d2d2;
$background-content:#292a2b !default;
$background-form : #292a2b !default;
$background-body:  #292a2b !default;

/* LOADING */
$loading-background-color: steelblue !default;

/* INPUT */
$input-default-color:#d2d2d2;

/* AUTH */
$intro-background:#292a2b !default;

/* MENU */
$menu-background:#292a2b !default;
$menu-background-hover:steelblue !default;
$menu-footer-background:steelblue !default;
$menu-footer-color:#d2d2d2 !default;

/* TOOLBAR */
$toolbar-background:#292a2b !default;

/* INPUT */
$input-valid-color:forestgreen;//55b279
$input-invalid-color: brown !default;
$input-default-color:#fff !default;