$theme-color : lightseagreen !default;
$theme-color-hover:#f2f2f2;
$background-content:#d2d2d2 !default;
$background-save-button:#333333 !default;
$background-cancel-button:#d2d2d2;

/* HEADER */
$background-header: lightseagreen !default;

/* LOADING */
$loading-background-color: #333333 !default;

/* MENU */
$menu-background:lightseagreen !default;
$menu-background-hover:#333333 !default;
$menu-footer-background:#333333 !default;
$menu-footer-color:#d2d2d2 !default;

/* TOOLBAR */
$toolbar-background:lightseagreen !default;

/* INPUT */
$input-valid-color:forestgreen;//55b279
$input-invalid-color: brown !default;
$input-default-color:#666 !default;
