<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-toggle>
				<ion-menu-button></ion-menu-button>
			</ion-menu-toggle>
			<ion-button *ngIf="hasBack()" ion-button icon-only (click)="back()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			Nova Atualização
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ion-grid [backgroundSlider]="core()?.account?.background_update"> 
		<ion-row>
			<ion-col size-xs="12" size-ms="12" size-md="6" size-lg="6" size-xl="4"
					offset-xs="0" offset-ms="0" offset-md="3" offset-lg="3" offset-xl="4">
				<div class="logo-intro ion-text-center">
					<h1 *ngIf="!core()?.account?.logo && !core()?.account?.logoLogin">{{core()?.account?.name}}</h1>
					<img *ngIf="core()?.account?.logo && !core()?.account?.logoLogin" [src]="core()?.account?.logo?._url"/>
					<img *ngIf="core()?.account?.logoLogin" [src]="core()?.account?.logoLogin?._url"/>
				</div>
				
				<div class="content-wrapper">
					<p class="title">Acabamos de Atualizar Nosso App!</p>
					<p class="subtitle">Baixe Já!</p>

					<div class="store-inks">
						<a class="ios" *ngIf="core()?.isIOS || core()?.isWeb" target="_blank" href="{{core()?.account?.store_url_ios}}">
							<ion-icon name="logo-apple-outline"></ion-icon>
						</a>
						<a class="android" *ngIf="core()?.isAndroid || core()?.isWeb" target="_blank" href="{{core()?.account?.store_url_android}}">
							<ion-icon name="logo-android-outline"></ion-icon>
						</a>
						<a class="electron" *ngIf="core()?.isElectron || core()?.isWeb" target="_blank" href="{{core()?.account?.store_url_electron}}">
							<ion-icon name="desktop-outline"></ion-icon>
						</a>
					</div>
				</div>				
				
				<small *ngIf="core().solved" class="solved">
					<a target="_blank" href="{{core().solved.url}}">{{core().solved.name}}</a> {{core().versionApp}}<br>{{core().timezone.label}}
				</small>
			</ion-col>
		</ion-row>		
	</ion-grid>
</ion-content>