update-page {
	text-align:center;
	ion-grid{
		background-size: cover !important;
		height: 100%;
	}
	.title{
		font-size: 18px;
	}
	.subtitle{
		font-size: 18px;
	}
	.store-inks{
		margin-top: 50px;
		display: flex;
		font-size: 100px;
		justify-content: space-around;
	}
	a.ios{
		color: silver;
	}
	a.android{
		color: yellowgreen;
	}
	a.electron{
		color: #333;
	}
}

.menu-auth-update{
	ion-split-pane.top-menu.has-menu ion-menu{
		display: none !important;
	}

	ion-router-outlet{
		margin: 0 !important;
	}
}

@media only screen and (max-width: 768px) {

    update-page {
        ion-grid{
			padding: 20px;
        }
    }
}
