.barcode-output{
	min-width: 400px;
	position: relative;
	p, svg{
		width: 100%;
		cursor: pointer;
	}
	/*.print-button{
		display: none;
		font-size: 32px;
		position: absolute;
		z-index: 1;
		background: darkorange;
		color: #fff;
		padding: 10px;
		border-radius: 10px;
		right: 0;
	}
	&:hover{
		.print-button{
			display: flex;
		}		
	}*/
}