.fieldset-input{
    padding: 0px;
    margin: 0px;
    & > .input-wrapper{
        & > .header-wrapper{
            & > .header-input{
                /*border-top: solid 1px var(--input-default-color);
                border-bottom: solid 1px var(--input-default-color);
                padding: 7px 5px;
                background:  var(--input-disabled-background-color);
				margin-bottom: var(--box-padding);
				margin-top: var(--box-padding);*/
                .item-header{
                    padding-left: 0;
                    .col{
                        padding-left: 0;
                    }
                }
				.col-partial{
					border: none;
					border-radius: 0px;
				}
            }
            & > icon-input{
                ion-icon{
                    top:20px;
                }
            }
        }
    }
    .container-wrap{
		//border: solid 1px var(--input-default-color);
		//border-radius: 5px;
        .row-partial{
            .col-partial{
				border: none;
    			border-radius: 0px;
                /*&:first-child{
                    padding-left: 0px;
                }
                &:last-child{
                    padding-right: 0px;
                }*/
            }
        }
    }
}

@media (max-width: 575px) {
    .fieldset-input{
        .container-wrap{
            .row-partial{
                .col-partial{
                    padding-left: 0px;
                    padding-right: 0px;
                }
            }
        }
    }
}
