.signature-input{
    .item-input{
        text-align: center;
        background: #f2f2f2;
        padding: 15px;
        border: #333 1px solid;
        canvas{
            background: #fff;
			border: solid 1px #333;
			width: 500px;
			height: 200px;
        }
        a{
            position: absolute;
            right: 25px;
            bottom: 25px;
        }
    }
}

@media all and (max-width: 767px) 
{
	.signature-input{
		.item-input{
			canvas{
				width: 100%;
			}
		}
	}
}
