form-change-password-page{
    form{
        margin-top: 50px;
    }    
}

@media only screen and (max-width: 768px) {

    form-change-password-page{
        ion-grid{
            padding: 20px;
        }
    }
}
