[card-list-container]{
	.no-active{
		ion-card{
			background: var(--tile-item-backgroud-no-active);
			border : solid 1px #b2b2b2;
			img{
				-webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
				filter: grayscale(100%);
			}
			.question-reference-output {
				display:none;
			}	
		}
	}
	.add-button{
		.button-partial{
			height: 100%;
			justify-content: center;
			align-items: center;
			display: flex;
			background: var(--background-header);	
			border-radius: 10px;		
			ion-button{
				font-size: 40px !important;
				border: none;	
				color: var(--font-color-header);
				--background-hover:var(--background-header);
				height: 70px;
			}
		}
	}
    ion-card{
        margin: 0px;
        background: #ffffff;        
        ion-card-header{
            background: var(--background-header);
			color:var(--font-color-header);   
			padding: 5px;
			display: none;
            ion-card-title{
				font-size: 18px;
				margin: 0 3px;
				padding: 5px;
				&:empty{
					display: none;
				}
			}
			ion-card-subtitle{			
				display: flex;
				font-weight: normal;
				margin: 0 3px;
				padding: 0 5px 5px;	
				&:empty{
					display: none;
				}	
			}
            .output{
				padding: 0px 5px;
				color: var(--font-color-header);
				flex-direction: column;
				justify-content: center;
				width: 100%;
				margin: 0;
                &.title-output{
                    p{
                        color:var(--font-color-header);
                    }                    
                }
			}    
			&.has-header-content{
				display: block;
			}        
		}
		ion-button{
			width: 100%;
		}
		a{
			display: inherit;
		}
        ion-card-subtitle{
			margin: 0;
			display: flex;
			font-weight: normal;
            &:empty{
                display: none;
            }
        }
        .before-content, .after-content{
            .output{
                padding: 0;
                img{
                    padding: 0;
					border: none;
					margin: 0;
				}
            }
        }
        .card-content{
            background: #ffffff;
            padding: 10px;
            &:empty{
                display: none;
            }
            img{
                border: none;
            }
            .output{
                margin: 0 0 5px 0;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
        .card-footer{
            padding: 5px;
            display: flex;
            background: var(--background-header);
			flex-direction: row;
            &:empty{
                display: none;
            }
        }
    }
}

.reference-list-output{
	[card-list-container]{
		> ion-grid{
			padding: 0;
		}
	}	
}

@media (max-width: 767px) {
}
