message-page {
    .row{
        display: flex !important;
    }
    ion-input{
        padding: 0px !important;
        input{
            padding: 10px !important;
            margin: 0px !important;
            border: none !important;
            text-align: left !important;
        }
    }
    .button-full{
        margin: 0px;
        padding: 0px;
        height: 39px;
    }
    .grid{
        padding: 0px;
    }
    .col{
        padding: 0px !important;
    }
    .message-view {
		--background: #fff;
       .file-view{
           list-style: none;
           padding: 0;
       }
       .close{
			position: absolute;
			top: 15px;
			right: 10px;
        }
        .messages-last{
            clear: both;
        }
        .date{
            text-align: center;
            font-size: 11px;
            margin: 0;
            clear: both;
            padding: 10px 0;
            span{
                background-color: lightsteelblue;
                padding: 6px;
                border-radius: 5px;
            }
        }
        .messages {
            width: 100%;
            .message {
				float: left;
				clear: both;
				max-width: 90%;
				min-width: 230px;
				background: linen;
				margin-bottom: 25px;
				font-size: 16px;
				line-height: 20px;
				position: relative;
				padding: 5px 10px;
				color: #333;
				border-radius: 5px;
                &.me {
					float: right;
					background: whitesmoke;
					text-align: right;
				}
				.message-header{
					margin-bottom: 5px;
					ion-thumbnail{
						float: left;
						margin-right: 10px;
						width: 40px;
						height: 40px;
						img{
							border-radius: 50%;
							width: 100%;
							height: 100%;
						}
					}
					.name{
						font-weight: bold;
						text-align: left;
						margin-top: 0;
						color: green;
					}
					.time{
						font-size: 11px;
						text-align: left;
					}
					a{
						color: #333;
					}
				}
				.message-content{
				  	p{
						margin: 5px 0px;
					}					
					.text{
						text-align: left;
					}
				}
			}
      }
    }
    ion-footer{
        a{
            color: #fff;
        }
        .content{
            background: none;
            color: #fff;
        }
        .open-mic{
            .time{
                display: block;
            }
            .input-wrapper{
                display: none;
            }
            .actions-start{
                display: none;
            }
            .actions-end{
                width: 100%;
            }
            div.mic{
                position: relative;
                width: 100%;
            }
        }
        .close-mic{
            .time{
                display: none;
            }
        }
        ion-toolbar{
            padding: 0px;
			min-height: auto;
			--background: var(--chat-footer);
            &.toolbar-ios{
                padding: 0px;
                height: calc(54px + constant(safe-area-inset-top)) !important;
                min-height: calc(54px + constant(safe-area-inset-top)) !important;
            }
        }
        .item-inner{
            box-shadow: none !important;
        }
		.list-header{
			padding: 0px;
            margin: 0px;
            background: whitesmoke;
            color: #fff;
            .icon{
                color: #333;
            }
		}
		.spinner{
            margin: 0; 
            width: 80%;
            height: 100%;
            padding: 3px;
            margin-left: 10%;
            circle{
                stroke: #fff !important;
            }
		}
		ion-textarea{
			font-size: 16px !important;
			border: solid 1px #d2d2d2;
			border-radius: 5px;
			resize: none;
			background: #fff !important;
			width: 100%;
			color: #333;
			margin: 0 !important;
			//height: 40px;
			padding: 0 10px;
			textarea{
				min-height:auto;
			}
            &::-webkit-scrollbar-track
            {
            	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0);
            	background-color: #FFF;
            }

            &::-webkit-scrollbar
            {
            	width: 0px;
            	background-color: #FFF;
            }

            &::-webkit-scrollbar-thumb
            {
            	background-color: #FFF;
            }
		}
		.time{
			font-size: 20px;
    		padding: 8px;
            width: calc(100% - 50px);
            margin-top: 5px;
            text-align: center;
            .arrow{
                margin-left: 10px;
                font-size: 22px;
                position: absolute;
            }
			.label{
				font-size: 13px;
			}
		}
		.actions-start{
	    	font-size: 25px;
			margin: 0;
			position: relative;
			width: 50px;
            ion-spinner{
                color: #fff;
                font-size: 50px;
                position: absolute;
                left: 0;
                bottom: -15px;
            }
			.add{
				position: absolute;
                font-size: 40px;
                ion-icon{
                    position: absolute;
                    bottom: -20px;
                    left: 0;
                    &.icon-ios{
                        bottom: 6px;
                    }
                }
			}
			.mic{
				&.red{
                    color: brown !important;
                    width: 35px;
                    text-align: center;
                    position: absolute;
                    bottom: 6px;
                    &.icon-ios{
                        bottom: 6px;
                    }
				}
			}
		}
		.actions-end{
			margin: 0px;
	    	font-size: 25px;
	    	position: relative;
	    	width: 50px;
			.send{
				position: absolute;
                width: 50px;
                height: 100%;
                text-align: center;
                ion-icon{
					position: absolute;
					bottom: 4px;
					font-size: 30px;
					right: 5px;
                    &.icon-ios{
                        bottom: 6px;
                    }
                }
			}
			.mic{
                position: absolute;
                width: 50px;
                height: 100%;
                .mic-icon
                {
                    width: 50px;
                    height: 100%;
                    position: absolute;
                    right: 0px;
                    ion-icon{
                        bottom: 10px;
                        position: absolute;
                        left: calc(50% - 7.5px);
                        &.icon-ios{
                            bottom: 6px;
                        }
                    }
                }
			}
		}
	}
}
