[map-list-container]{
    div#maps {
       height: 100vh;      
    
    }

    .customMarker {
        position:absolute;
        cursor:pointer;
        background: var(--menu-background-color);
        width:100px;
        height:100px;
        /* -width/2 */
        margin-left:-50px;
        /* -height + arrow */
        margin-top:-110px;
        border-radius:100px;
        padding:0px;
    }

    .customMarker:after {
        content:"";
        position: absolute;
        bottom: -10px;
        left: 40px;
        border-width: 10px 10px 0;
        border-style: solid;
        border-color: var(--menu-background-color) transparent;
        display: block;
        width: 0;
    }

    .customMarker img {
        width:90px;
        height:90px;
        margin:5px;
        border-radius:100px;
    }

    div#infoWindow {
       display: flex;
       align-items: center;
       justify-content: center;
       
       img {
        width: 50px;
        border-radius: 100px;
       }

       div.info {
           margin: 0;

           .name {
               margin: 0;
               font-weight: bold;
               font-family: muliRegular;
           }
           
           .address{
            margin: 0;
            font-style: italic;;
           }
        }
    }
       

} 
