.reference-select-input{
    .header-container{
        display: none;
    }
    .wrapper-body-container{
        margin: 0px 5px 0;
        box-shadow: none !important;
    }
    .ng-value{
        background-color: #ebf5ff;
        padding: 0.1rem 0.3rem;
        cursor: pointer;
    }
}