viewer-modal{
	background: var(--background-form);
    ion-content{
		--ion-padding: 0;
		height: calc(100vh - 144px);
    }
	[segment-viewer-container]{
		.mat-tab-header{
			border-radius: 0;
		}
	}
}

@media (max-width: 767px) {
	viewer-modal{
		[segment-viewer-container]{
			.mat-tab-header{
				position: fixed;
				z-index: 999;		
				width: 100vw;
				border-top-left-radius: 0;
    			border-top-right-radius: 0;
			}
			.mat-tab-body-wrapper{
				margin-top: 44px;
			}
		}		
		ion-content{
			height: calc(100vh - 44px);
		}
	}
}