<ion-header>
	<ion-toolbar>
		<ion-title>
			Cache
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
	<div class="form-wrapper">

			<div class="buttons">
					<ion-button color="dark" (click)="onClearCache()">
							<ion-icon name="refresh-circle-outline"></ion-icon>
							Limpar Cache
					</ion-button>
			</div>			

	</div>

</ion-content>