.bg-dark {
    height: 100%;
    background-color: black;

    div {
        img.img-coment {
            max-width: 300px;
            max-height: 300px;
        }

    }

    .commentary-fixed {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;

        input {
            width: 90%;
            border-right: 0;
            border-radius: 5px 0 0 5px;
        }

        button {
            height: 3.1em;
            width: 10%;
            border: solid 1px var(--input-default-color);
            border-left: 0;
            background-color: var(--form-panel);
            color: white;
        }
    }

}