.upload-json-output
{
	p{
        margin: 0px;
        padding: 0px;
        font-size: 12px;
        display: flex;
        flex-flow: wrap;
        span{
            border: solid 1px #d2d2d2;
            padding: 5px 10px;
            margin-right: 5px;
            margin-bottom: 5px;
            display: flex;
            align-items: center;
            background: #f9f9f9;
            border-radius: 5px;
            overflow: hidden;
            &.count{
                border: none;
                padding: 0px !important;
                background: none;
                ion-badge{
                    padding: 6px 10px;
                }
            }
        }
    }
}
