.avatar-input{
    .item-input{
		display: flex;
		justify-content: center;
        .img-wrapper{
            cursor: pointer;
            width: var(--avatar-width);
            height: var(--avatar-width);
            border-radius: 50%;            
            border: solid 1px #d2d2d2;
			position: relative;
			&.has-photo{
				overflow: hidden;
			}
            &::before{
                background-color: #000;
            }
            &.disabled{ 
                pointer-events: none;
            }           
            img{
                cursor: pointer;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
            }
            &:hover{
                label{
                    display: block;
                }
            }
        }
	}
	error-input{
		width: 100%;
		display: block;
		text-align: center
	}
}
