.rich-text-output{
	background: #ffffff;
	margin: 0 !important;
	padding: 20px;
    img{
        padding: 5px;
		border: 1px solid #d2d2d2;
		width: 100%;
    }
    h1,h2,h3,h4,h5,h6{
        margin: 20px 0 !important;
        span{
            border-bottom: solid 1px #d2d2d2;
            padding: 3px;
        }
        strong{
            background: #f2f2f2;
            width: 100%;
            display: block;
            padding: 10px;    
            border-bottom: solid 1px #d2d2d2;
        }
    }
    p{
		margin-bottom: 20px !important;
    }
    h3{
       border-left: solid 5px #333333;
       padding-left: 10px;
	}
	video{
		width: 100%;
	}
}
