.url-output{
    p{
        overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap !important;
        width: 100%;    
		.label{
			padding-left: 10px;
		}
        ion-icon{
            font-size: 25px;
            color: #333333;
            &.globe{
                color: midnightblue;
            }
            &.logo-youtube{
                color: orangered;
            }
            &.logo-facebook{
                color: cornflowerblue;
            }
            &.logo-instagram{
                color: darkorange;
            }
        }
    }
}

[table-list-container]{
	.url-output{
		padding: 0;
		a{
			display: flex;
			ion-icon{
				height: 30px;
			}
		}
	}
}