.list-multi-select-input{
	table{
		tr{
			td{
				height: 50px;
				&:first-child{
					width: 50px;
					padding: 0 10px;
					font-size: 11px;
					font-weight: bold;
				}				
			}
		}
	}
	.item-input{
		border: solid 1px var(--input-default-color);
    	border-radius: 5px;
		table{
			width: calc(100% - 10px);
		}
	}
}

@media (max-width: 767px) 
{
	.list-multi-select-input{
		table{
			tr{
				margin-bottom: 0px;
				td{
					padding-left : 0px;
					&:before{
						padding:0;
						width:0;
					}
					&:first-child{
						padding-top: 10px;
					}
					.sample{
						padding: 100px 30px;
					}
				}					
			}	
		}
	}
}
