.title-output{
    p{
        //padding: 5px 0px; por causa do title
        margin: 0px;
        /*overflow: hidden;
        display: inline-block;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 100%;*/
        font-size: 1rem;
        //color:var(--font-color-header);
    }
}
