wizard-viewer-container{
    aw-wizard{
        aw-wizard-navigation-bar{
            &.vertical{
                background: var(--menu-background-color);
                padding: 20px;
                margin-left: 20px;
                li{
                    padding-bottom:20px !important;
                    &.editing, &.done, &.current{
                        .step-indicator{
                            border-color:var(--input-valid-color) !important;
                        }
                        .label{
                            color:var(--input-valid-color) !important;
                        }
                    }
                    a{
                        color: var(--menu-color) !important;
                    }
                }
            }
            &.horizontal{
                margin: 0;
                li{
                    &.editing, &.done, &.current{
                        .step-indicator{
                            border-color:var(--input-valid-color) !important;
                            color:var(--input-valid-color) !important;
                        }
                        .label{
                            color:var(--input-valid-color) !important;
                        }
                    }
                }
            }
        }
    }
}
