[wizard-form-container]{
	.body-container{
		padding: 10px 10px 0px !important;
	}
	.mat-horizontal-content-container{
		padding:0px;
		overflow: visible;
	}
	.mat-horizontal-stepper-content{
		margin-bottom:1px;
		overflow: visible;
	}
	.mat-stepper-horizontal, .mat-stepper-vertical{
		background-color: var(--background-form);
	}
}