.grid-setting{
    ion-button{
        --background-hover: var(--background-color);
        --color-hover: var(--background-color-hover);
        --border-radius: 0;
        margin: 0;
        width: 100%;
        background-color: #fff;
        border: solid 1px var(--input-valid-color);
        border-radius: 5px;
        height: 40px;
    }
    .has-grid
    {
        ion-button{
            background: var(--input-valid-color);
            ion-icon{
                color: #fff !important;
            }            
        }
    }
}
