form-recovery-password-page{
	ion-grid{
		background-size: cover !important;
		height: 100%;
		padding: 0;
		> ion-row{
			height: 100%;
		}
		.form-box{
			background: var(--intro-background);
			opacity: .9;
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
		}
		form{
			background: none !important;
			margin: 0 50px;
			.wrapper-body-container{
				box-shadow: none !important;
			}
			.steps{
				background: none !important;			
			}
			mat-toolbar.footer-container{
				background: none !important;
				box-shadow: none !important;
				padding: 0 !important;
			}
			.body-container{
				padding: 0 10px !important;
			}
			.buttons{
				justify-content: center;
				flex-direction: column-reverse;
				align-items: center;
				margin-top: 10px;
				.cancel-button{
					padding: 0;
					margin: 0;
					width: calc(100% - 30px);
				}
				.save-button{
					padding: 0;
					margin: 0;
					width: calc(100% - 30px);
					margin-bottom: 10px;
					--background: #3333 !important;
				}
			}
			.ng-submitted.ng-invalid .error-container{
				background: none !important;
				color: var(--input-invalid-color) !important;
				padding: 0 20px 10px !important;
				text-align: end;
			}
		}
		.logo-intro{
			margin-top: 0;
			padding: 0;
		}
	}
}

@media only screen and (max-width: 768px) 
{
    form-recovery-password-page {
        ion-grid{
			padding: 0px;
        }
		.form-box{
			opacity: 1;
		}
		form{
			margin: 0 20px !important;
			.buttons{
				.save-button, .cancel-button{
					width: calc(100% - 20px) !important;
				}				
			}
		}
    }
}
