chat-page {
    ion-content{
        ion-list
        {
            background: none;
            ion-item{
                --background: whitesmoke;
                --min-height:100px;
                --border-radius:10px;
                margin-bottom: 15px;
                img{
                    border-radius: 50%;
                    width: 100%;
                    height: 100%;
                }
                .content-text{
                    margin-left: 20px;
                    .name{
                        margin: 0 0 5px 0;
                    }
                    p{
                        overflow: hidden;
    	                display: inline-block;
    	                text-overflow: ellipsis;
    	                white-space: nowrap;
	                    width: 65vw;
                        margin: 0px;
                    }
                }
            }
        }
    }
    /*ion-input{
        padding: 0px !important;
        input{
            margin: 0px !important;
            border: none !important;
            text-align: left !important;
        }
    }
    .button-full{
        margin: 0px;
        padding: 0px;
        height: 39px;
    }
    .grid{
        padding: 0px;
    }
    .col{
        padding: 0px !important;
    }
    .list{
        .item{
            margin-bottom: 10px;
        }
    }
    .message-view {
      .messages {
        width: 100%;
        .message {
          width: 70%;
          padding: 5px 10px;
          background: #666;
          color: #fff;
          border-radius: 5px;
          margin: 5px;
          float: left;
        }
        .message.me {
          float: right;
          background: #e5134e;
          color: #fff;
          text-align: right;
        }
      }
  }*/
}
