.price-products-output{
    ul{
		list-style: none;
		padding: 0;
		margin: 0;
		a{
			display: flex;
			align-items: center;
			ion-badge{
				margin-right: 5px;
			}
		}
	}
}

@media (max-width: 767px) { 
}