.column-order-popover{
    ion-list{
        padding: 0px;
        --padding-start:10px;
        ion-list-header{
            background: var(--menu-background-color);
            color: var(--menu-color);
            .close{
                font-size: 20px;
                margin-right: 10px;
                margin-top: 5px;
                color: var(--menu-color);
            }
        }
        .footer{
            padding: 0px;
            ion-button{
                width: 100%;
            }
        }
    }
}
