agree-modal{
    .zoom{
		height: 100% !important;
	}
    ion-content{
        height: calc(100% - 44px) !important;
    }
	ion-footer{		
		.ion-toolbar{
			padding: 0 20px !important;
			display: flex;
			justify-content: space-between;
			height: 44px;
			background: var(--menu-background-color);
			label{
				color: #fff;
			}
			input[type=checkbox] + label:before{
				width: 20px;
				height: 20px;
				min-width: 20px;
				min-height: 20px;
			}
			input[type=checkbox]:checked + label:after {
				left: 7px;
			}
			ion-button{
				border: solid 1px #fff;
				border-radius: 5px;
				padding: 0 20px;
				margin-left: 10px !important;
				color: #fff;
			}
		}		
	}	   
}

@media (max-width: 767px)
{
    agree-modal{
		ion-content{
			height: calc(100% - 90px) !important;
		}
		ion-footer{		
			.ion-toolbar{
				padding: 10px 20px !important;
				display: flex;
				height: 90px;
				background: var(--menu-background-color);
				flex-direction: column;
				justify-content: space-between;
			}		
		}	   
	}
}

