.dynamic-viewer{      
    .col-partial
    {
        //display: flex;
        //align-items: center;
        /*> .label-partial{
            padding: 5px 10px;
            font-weight: bold;
            /*& ~ div{
                padding: 6px 5px;
            }*/
        //}
        &.dataform-col{
            padding: 0;
            > .label-partial{
                display: none;
            }
            > .data-form-output{
                width: 100%;
                padding: 0px;
            }
        }
        &.label-col{
            background: var(--background-header);
            .label-partial{                
                margin: 10px 10px;
                label{
                    color: var(--font-color-header);
                }
            }
            .text-output{
                display: none;
                color: var(--font-color-header);
            }
        }
        &.table3x3-col, &.disc-col{
            > .output{
                width: 100%; 
            }
        }
    }
    .body-container{    
        //padding: 0px !important; NÃO FICA BOM NO DESKTOP
       > .row{
            //border-bottom: solid 1px #ffffff;
            //background: #ffffff;
            //padding: 0px;
            //.col-label{
              //  font-weight: bold;
            //}
            //&:last-child{
               // border-bottom:none;
            //}
            //&:nth-child(even) {background: #ffffff}
            //&:nth-child(odd)  {background: #ffffff;}
       }
   }
}

