[card-chart-container]{
	&:empty{
			padding: 0;
	}
	.flex {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 1rem;
      }

      .flex-item {
        //margin: 0.5rem;
        border-radius: 1rem;
        flex: 1;
        min-width: 18%;
		flex-direction: column;
		padding: 0.8rem;
        display: flex;
        place-items: center;
        place-content: center;
        gap: 0.2rem;
        &.noValue{
            background-color: #d2d2d2;
            color: #000;            
        }
        p{
            padding-top: 0.5rem;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            position: relative;
            span{
                text-align: center;                
            }
            .count{
                position: absolute;
                right: 1.2rem;
                top: 4px;
                font-size: 1rem;
            }
        }
        small{
            display: flex;
            align-items: center;
            justify-content: center;
            font-style: italic;            
        }
		label{
			font-size: 1rem !important;			
            text-align: center;
		}
		span{
			font-size: 1.1rem;
            display: flex;
            align-items: center;
            gap: 0.2rem;
            small{
                font-size: 0.7rem;
            }
		}
  }
}

@media only screen and (max-width: 992px) 
{
    [card-chart-container]{
        .flex{
            flex-direction: column;
            gap: 1rem;
        }
    }
}