.object-output{
    p{        
        padding: 0px;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
        label{
			border: solid 1px #d2d2d2;
			padding: 2px 10px;
			margin-right: 5px;
			background: #fff;
			border-radius: 3px;
			font-size: 9px !important;
			text-transform: uppercase;
			font-weight: bold;
			span{
				display: block;
			}
			a{
				color: #333333;
			}
        }
    }
}

@media (max-width: 767px) { 
    .object-output{
        p{
			label{
				margin-bottom: 10px;
			}
		}
    }
}    