:host {
	.chart-content{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    h6{
        padding: 0;
        margin: 0;
        text-align: center;
    }
}

@media only screen and (max-width: 992px) 
{
    :host {
        
    }
}