<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-toggle>
				<ion-menu-button></ion-menu-button>
			</ion-menu-toggle>
			<ion-button *ngIf="hasBack()" ion-button icon-only (click)="back()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			Dashboard
		</ion-title>
		<!-- <filter-header-block [filters]="filters"
							 [acl]="filterAcl"
							 [where]="where" 
							 (change)="doFilter()">
		</filter-header-block>  -->
	</ion-toolbar>
</ion-header>
<ion-content class="ion-padding">

		<div class="chart-content">

				<filter-chart-block [chart]="chart1" 
													  [filter]="filter"
														(change)="onFilter($event)"/> 

				<div #dynamicChart
					  *ngIf="chart1"
						dynamic-chart
						chartHeight="auto"
						[chart]="chart1"
						[data]="chartData1">
				</div>

				<div #dynamicChart
						*ngIf="chart2"
						dynamic-chart
						chartHeight="50vh"
						[chart]="chart2"
						[data]="chartData2">
				</div>

				<h6 *ngIf="chart3">Recebimento da Semana / Pagar.me</h6>

				<div #dynamicChart
						*ngIf="chart3"
						dynamic-chart
						chartHeight="50vh"
						[chart]="chart3"
						[data]="chartData3">
				</div>

				<analytics-viewer-block event="month" [isInitialize]="isInitialize"/>

		</div>		

</ion-content>