/*.app-access{
	form-document-page{
		ion-header{
			display: none !important;
		}
	}
}*/

form-document-page{
	.alert-message{
		text-align: center;
		font-size: 20px;
		display: flex;
		align-items: center;
		margin-top: 20px;
		flex-direction: column;
		span{
			border-radius: 10px;
			border: solid 1px #d2d2d2;
			width: 50%;
			padding: 10px;
			background: antiquewhite
		}
		a{
			display: block;
    		margin-top: 20px;
		}
	}
}

@media (max-width: 767px) 
{
    form-document-page{
		--ion-padding : 0px;
		.alert-message{
			span{
				width: 80%;
			}
		}
    }
} 