.phone-input{
	.has-country{
		.country{
			width: 50px;
			height: 34px;
			/* border: #d2d2d2 solid 1px; */
			position: absolute;
			left: 0;
			cursor: pointer;
			border-bottom-right-radius: 0;
			border-top-right-radius: 0;
			border-right: none;
			padding-right: 0 !important;
			text-align: center;
		}
		.phone{
			margin-left: 47px;
			width:calc(100% - 47px);
		}	
	}
}
