.multi-option-output{
    p{        
        padding: 0px;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
		gap: 5px;
        label{
			//border: solid 1px #d2d2d2;
			//padding: 2px 10px;
			//margin-right: 0.3rem;
			//background: #fff;
			//border-radius: 3px;
			//font-size: 9px !important;
			//text-transform: uppercase;
			//font-weight: bold;
			//display: flex;
			//text-decoration: underline;
			span{
				display: block;
			}
			&.disabled{
				background-color: #d2d2d2;
			}
			a{
				color: #333333;
				text-align: center;
				img{
					max-width: 50px;
    				max-height: 50px;
				}
			}
        }
    }
}

@media (max-width: 767px) { 
    .multi-option-output{
        p{
			label{
				margin-bottom: 10px;
			}
		}
    }
}    