.list-multi-radio-input{
    .items-label{
        font-size: 11px;
        margin-bottom: 5px;
        color: var(--input-default-color);
        font-weight: bold;
        margin-left: 5px;
        display: inline-block;
    }
    .items-input{
        .label-radio{
            display: flex;
            align-items: center;
            margin-top: 15px;
            background: #fff;
			color: #333;
            padding: 6px;
            border-radius: 10px;
            border: 1px solid var(--input-default-color);
            &:first-of-type{
                margin-top: 0px;
            }
            &.disabled{
                background-color: var(--input-disabled-background-color);
            }
        }
    }
    &.inline{
        .items-input{
            display: flex;
            flex-wrap: wrap;
            gap: 1rem;
            .label-radio{
                display: inline-flex;
                align-items: center;
                background: #fff;
                padding: 6px 12px 6px 6px;
                border-radius: 5px;
                border: 1px #666 solid;
                margin-top: 0px;
                &:last-child{
                    margin-right: 0px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px){
	.list-multi-radio-input{
		&.inline{
			.items-input{
				display: block;
                padding: 5px 10px;
				.label-radio{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0px !important;
					}
				}
			}
		}
	}    
}
