.sub-form-output{
    flex-direction: column;
    [dynamic-list]{
        width: 100%;
    } 
    ion-grid{
        padding: 0px;
	}
    .check-search{
        margin-bottom: 10px;
    }
	.p-modal{
		display: flex;
		justify-content: center;
		width: 100%;
		height: 31px;
		align-items: center;
		font-size:20px !important;
	}
	.tabela-box{
		overflow-x: hidden !important;
	}
	.col-partial, .row-partial th{
        border: 1px solid var(--background-content) !important;
        border-radius: 0 !important;
	}
}

td.subform-col{	
    > .label-partial{
        background: var(--background-header);        
        margin: 10px 2px !important;
        padding: 10px;
        label{
            color: var(--font-color-header);
        }
    }
}

@media (max-width: 767px) { 
    .subform-col{
        > .label-partial{
           justify-content: center;
        }
    }
}