.card-partial{
	ion-card-title{
		> p, > span{
			overflow: hidden;
			display: inline-block;
			text-overflow: ellipsis;
			white-space: nowrap;
			width: 100%;		
		}
	}
}

@media (max-width: 767px) {
    .card-partial{
		ion-card-title{
			p, span{
				white-space: normal;
			}
		}
	}
}
