.sub-form-input{
	.body-container{
    padding: 0 !important;
	}
		> .input-wrapper{
			> .item-input{
						flex-direction: column;
			}
		}
	.footer-container{
		background: none;
		padding: 0 0.3rem 0.3rem !important;
		.buttons{
			.save-button{
				--background-hover:var(--background-cancel-button);
				--background: var(--background-cancel-button);
				--background-activated : var(--background-cancel-button);
				--background-focused : var(--background-v-button);	
				--background-hover: var(--background-v-button);
				--background-activated-opacity : 0.5;
				--background-focused-opacity : 0.5;		
				--background-hover-opacity:0.5;
				--border-radius: 5px;
				--color:var(--color-cancel-button);
				border-color: var(--background-cancel-button);
				--padding-start: 1rem;
				--padding-end: 1rem;
				height: 2rem;
				&:hover:not(.disable-hover)
				{
					opacity: 0.8;
				}
				ion-icon{
					--color:var(--color-cancel-button);
				}
			}
			.cancel-button{
				height: 2rem;	
			}
		}
	}
    > .input-wrapper{
        table, ion-grid{						
            tr{
                width: 100%;
				height: 33px;                
                table-layout: fixed; //display: table; ESTAVA DEIXANDO O FORM COM COLUNAS IGUAIS
                td{
					> div{
						margin: 0px 10px;
						overflow: hidden;
						white-space: pre-wrap;						
						&.buttons-div{
							margin:0px;
							ion-button{
								--padding-bottom: 6px;
								--padding-top: 6px;	
							}	
						}
					}
                }
				&.empty-row{
					display: flex;
					td:nth-of-type(1){
						width: calc(100% - 41px);
					}
					.label-partial{
						height: 32px;
						label{
							width: 100%;
							height: 100%;
							display: flex;
							align-items: center;
							cursor:pointer;
						}
					}
				}
            }
        }
		.tabela-box{
			overflow-x: auto;
			td{
				&:first-child{
					border-left: none;
				}
			}
			th{
				border-top: none;
				&:first-child{				
					border-left: none;
				}
			}
		}
		form{	
			width: 100%;
			//margin-bottom: 20px;
			mat-toolbar{
				//padding: 0 !important;
				//margin: 0 !important;
				.buttons{
					justify-content: flex-end;
					ion-button{ 
						width: 100px;
					}	
				}
			}
		}        
    }
	.inline{
		> .item-input{
			display: flex;
			& > form{
				width: 50%;
			}
			& > [dynamic-list]{
				width: 50%;
				margin-left: 20px;
			}
		}
	}
}

@media (max-width: 767px) {
    .sub-form-input{
        > .input-wrapper{
            .add-button{
                width: 100%;
            }
            > .item-input{
                border: none !important;
            }
        }	
		.inline{
			> .item-input{
				display: flex;
				flex-direction: column;
				& > form{
					width: 100%;
				}
				& > [dynamic-list]{
					width: 100%;
					margin-left: 0px;
				}
			}
		}
    }
}
