.button-partial{
    //padding: 0px 3px !important;
    ion-button{
        //color:var(--background-color);
        --color:#333;
        --background-hover:var(--background-color-hover);
        --color-hover:var(--font-color-hover);
        --border-radius:0;
        //border-left:#d2d2d2 1px solid;
        margin: 0;
		height: 100%;
		&:hover{
			color:var(--font-color-hover);
			ion-icon{
				color:var(--font-color-hover) !important;
			}
		}        
    }
}

.card-footer{
    .button-partial{
        ion-button{
            border-left: none;
            border-right: var(--font-color-header) 1px solid;
			color: var(--font-color-header);
        }        
    }
}

