[expand-form-container]{
    mat-panel-title{
		align-items: center;
	}
	mat-expansion-panel-header{ 
		&:hover, &:focus{
			background-color: var(--background-header) !important;
		}		
	}
	.mat-expansion-panel-header-description, 
	.mat-expansion-indicator::after{
		color:var(--font-color-header);
	}
	.mat-expansion-panel-spacing{
		margin: 0;
	}
	.complete{
		background-color: lightseagreen !important;
		&:hover, &:focus{
			background-color: lightseagreen !important;
		}
		ion-icon{
			color: var(--font-color-header);
			font-size: 30px;
		}			
	}
}
