[table-list-container], [flat-viewer-container]{
    .reference-list-output{
        div{
            .list-items{
                flex-flow: nowrap;
            }
        }
    }
}

.reference-list-output{
	padding: 5px;
    &:empty{
        display: none !important;
    }
    > div{   
        display: flex;
        justify-content: center;
        align-items: center;
        .count{
            border: none;
            padding: 0px !important;
            background: none;
            margin-right: 5px;
            ion-badge{
                padding: 3px 6px;
            }
        }
        .list-items{
            margin: 0px;
            padding: 0px;
            font-size: 12px;
            display: flex;
            flex-flow: wrap;
            span{
                //border: solid 1px #d2d2d2;
                // padding: 2px 10px;
                // margin: 3px;
                // display: flex;
                // align-items: center;
                // //background: #f9f9f9;
                // border-radius: 5px;
                // overflow: hidden;
                // font-size: 11px;      
                cursor: pointer;  
                text-decoration: underline;
                &:empty{
                    display: none !important;
                }
            }    
        }
        &.has-photo
        {
            span{
                padding: 2px 10px 2px 5px;
                img{
                    margin-right: 5px;
                    border-radius: 50%;
                }
            }
        }
    }
    [dynamic-list]{
        width: 100%;
        > div{
            width: 100%;
            [table-list-container], [calendar-list-container]{
                width: 100%;
            }
        }
    }
}

table{
	.reference-list-output{
		> p{
			flex-flow: nowrap;
		}
	}
}

@media (max-width: 767px) { 
    .output.reference-list-output{
        margin: 0;
        p{
            span{
                padding: 0;
            }
        }
    }

    table{
        .reference-list-output{
            > div{
                p{
                    flex-flow: wrap;
                }                
            }
        }
    }
}
