ion-tabs{
    [dynamic-list]{
        margin-bottom: 30px;
    }
}

[tile-list-container]{
    .add-button{
        float: right;
        border: solid 1px #d2d2d2;
    }
    .tile-box{
        /*overflow:auto;
        color:#{color-yiq($theme-color)};
        border-top : solid 1px #d2d2d2;*/
        > .col-partial > table{
            box-shadow: var(--box-shadow);
            padding: 0px;;
            margin-right: 20px;
            margin-bottom: 20px;
            background: #fff;
            //border : solid 1px #d2d2d2;
            //margin-right: -1px;
            //margin-top: -1px;            
        }        
        .col-Image, .col-Avatar, .col-SelectIcon{
            .label-partial{
                display: none;
            }           
        }
        /*.output{
            margin-bottom: 5px;
            > p{
                margin: 0px;
            }
        }*/
        .option-output > p
        {
            text-align: center;
        }        
        /*&:not(.no-active):hover{
            background: var(--tile-item-backgroud-hover);
            color:#{$theme-color};
            .select-icon, ion-button, .title-output h6, .text-output h6{
                color:#{$theme-color} !important;
            }
        }*/
        &.no-active{
            background: var(--tile-item-backgroud-no-active);
            border : solid 1px #b2b2b2;
            img{
                -webkit-filter: grayscale(100%); /* Chrome, Safari, Opera */
                filter: grayscale(100%);
            }
            .question-reference-output, {
                display:none;
            }
        }
        .buttons{
            float: right;
            margin: 0;
            .button-icon-partial{
                float  : left;
                padding: 0 !important;
                ion-button{
                    width: 40px;
                }
            }
        }
    }
}
