slide-block{
	position: relative;
	display: block;
	.swiper-wrapper{		
		//transform: none !important;
		ion-slide{
			width: 100% !important;
		}
	}
	.swiper-pagination{
		--bullet-background-active : var(--background-color);
	}
	.swiper-button-prev, .swiper-button-next{
		background: none !important;
		opacity: 0.8;
		display: block;
		height: 32px !important;
		width: 32px !important;
		cursor: pointer;
		font-size: 30px;
	}
}

@media only screen and (max-width: 991px)
{
}

@media only screen and (min-width: 768px)
{
}

@media only screen and (min-width: 576px)
{
}
