@import "../../document/component/import.document/import.document.scss";
@import "../../document/page/grid.document/grid.document.page.scss";
@import "../../document/page/viewer.document/viewer.document.page.scss";
@import "../../document/page/viewer.chart/viewer.chart.page.scss";
@import "../../document/page/form.document/form.document.page.scss";

.breadcrumb{
    padding: 0;
    margin: 5px 14px;
    font-size: 10px;
    list-style: none;
    li{ 
        float: left;
    }
}
.setting-viewer{
    .toolbar-background{
        background: goldenrod;
    }
}

ion-title{
    text-align: center;
}
