.agree-output {
	padding: 0 10px;
	.description
    {
        height: 400px;
        overflow: scroll;
        background: #fff;
        padding: 20px;
        border: solid 1px #d2d2d2;
        small{
            font-size: 16px;
            line-height: 30px;
        }
    }	
}