.disc-output{
    position: relative;
    h6{
        background: #f2f2f2;
        padding: 10px 15px;
        margin: 0;
    }
    ion-grid{
        width: 100%;
    }
    .label-c, .label-d, .label-s, .label-i{
        position: absolute;
        font-size: 15vw;
        width: calc(50% - 3vw);
        height: calc(50% - 3vw);
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
    }
    .label-c{
        top: 3vw;
        left: 3vw;
    }
    .label-d{
        top: 3vw;
        right: 3vw;
    }
    .label-s{
        left: 3vw;
        bottom: 3vw;
    }
    .label-i{
        right: 3vw;
        bottom: 3vw;
    }
    .wrap-table{
        //padding: 3vw;
    }
    .header-e, .header-d, .footer-e, .footer-d{
        position: absolute;
        width: 50%;
        height: 3vw;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        font-size: 2vw;
        font-weight: bold;
        display: none;
    }
    .header-d{
        right: 0px;
    }
    .footer-e{
        bottom: 0px;
    }
    .footer-d{
        bottom: 0px;
        right: 0px;
    }
    .left-a, .left-b, .right-a, .right-b{
        position: absolute;
        width: 3vw;
        height: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: #333;
        font-size: 2vw;
        font-weight: bold;
        display: none;
    }
    .left-b{
        bottom: 0px;
    }
    .right-a{
        right: 0px;
    }
    .right-b{
        right: 0px;
        bottom: 0px;
    }
    .disc-table{
        width: 100%;
        tr{
            &:first-child{
                border-top: solid 1px #d2d2d2;
            }
        }
        td{
            background: #f9f9f9;
            text-align: center;
            border-right: solid 1px #d2d2d2;
            border-bottom: solid 1px #d2d2d2;
            width: 1vw;
            height: 2vw;
            margin: 0px;
            padding: 0px;
            &:first-child{
                border-left: solid 1px #d2d2d2;
            }
            &.active{
                background-color: gold;
                border-right: solid 1px #333;
                border-bottom: solid 1px #333;
            }
            &.axis-x{
                border-bottom: solid 3px #333;
            }
            &.axis-y{
                border-right: solid 3px #333;
            }
        }
    }
}
