bible-block{
	width: 100%;
    height:100%;	
	background: #f2f2f2;
	ion-select{
		--placeholder-opacity: 1;
		font-size: 14px;
	}
	.books{		
		display: flex;
		justify-content: space-between;
		background: #333;
		color: #f2f2f2;		
	}
	.verses{
		text-align: justify;
		padding: 0 20px;
		overflow: scroll;
		height: 100%;
		height: calc(100% - 42px);
	}
}

@media only screen and (max-width: 991px)
{
}

@media only screen and (min-width: 768px)
{
}

@media only screen and (min-width: 576px)
{
}
