.reference-fields-input{
    .item-input{
        height: 400px;
        overflow: scroll;
        border: solid 1px #d2d2d2;
        padding: 10px;
        border-radius: 5px;
        background: #fff;
        .item{
            margin-bottom: 10px;
            padding-bottom: 10px;
            border-bottom: solid 1px #d2d2d2;
            .buttons{
                font-size: 20px;
                margin-top: 5px;
                text-align: right;
                a{
                    margin-top: 5px;
                    margin-right: 10px;
                }
            }
        }
        .drag-row{
            cursor: move;
            display: flex;
            align-items:center;
            .col-move{
                display: flex;
                align-items: center;
                justify-items: center;
                pointer-events: none;
                ion-icon{
                    margin-right: 20px;
                }
            }
        }
    }
    .sub-fields{
        padding: 0px !important;
        .item{
            margin-top: 10px;
            padding-top: 10px;
            border-top: solid 1px #d2d2d2;
            border-bottom: none;
            margin-bottom: 0px;
            padding-bottom: 0px;
            margin-left: 50px;
        }
    }
    .footer-input{
        a{
            font-size: 25px;
            display: block;
        }
    }
}
