[next-pagination]{
    mat-paginator{
        background: var(--background-footer) !important;  
        color:var(--font-color-footer);
        .mat-select-arrow, .mat-select-value{
            color:var(--font-color-footer);
        } 
        .mat-form-field-appearance-legacy .mat-form-field-underline
        {
            background-color:#fff;
		}
		.mat-paginator-container{
			height: 40px;
			min-height: 40px;
			justify-content: center;
		}
		.mat-paginator-page-size-select{
			height: 40px;
			margin: 0;
		}
        button[disabled="false"]
        {
            color:var(--font-color-footer) !important;
        }
    }    
    /*ul{
        padding: 5px;
        list-style: none;
        text-align: center;
        font-size: 30px;
        margin: 0px;
        li{
            display: inline-block;
            margin-right: 30px;
            a{
                display:block;
                margin-top: 8px;
                color:var(--font-color-footer);
            }
            .disabled{
                color: var(--color-disabled);
            }
        }
    }*/
}
