user-profile-block{
    padding: 10px 10px 20px 10px;
    border-bottom: solid 1px #fff;
    text-align: center;
    display: block;
    margin-bottom: 1px;
    a{
        display: flex;
        align-items: center;
        img{
            max-width: none;
            padding: 5px;
            border-radius: 50%;
            border: solid 1px #fff;
            margin: 10px;
        }
        label{
            color: var(--menu-color);
			margin-right: 10px;
			text-align: right;
			font-size: 9px !important;
			small{
				font-size: 8px;
				display: block;
			}
        }
    }
}
