:host {
	ion-content {
	  --padding-top: 0;
	  --padding-start: 0;
	  --padding-end: 0;
	}

	.qrcode{
		text-align: center;
		margin-top: 100px;
		.off{
			color: red;
			font-weight: bold;
		}
		.on{
			color: green;
			font-weight: bold;
		}
		.time{
			display: flex;
			justify-content: center;
			span{
				display: block;
				padding: 20px;
				background-color: #333;
				color: #fff;
				font-size: 50px;
				width: 100px;
				height: 100px;
				border-radius: 50%;
			}
		}
	}
}