<ion-header>
	<ion-toolbar>
		<ion-title>
			Whatsapp
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
	<div class="qrcode">
		<img *ngIf="!status" src="{{image}}"/>
		<p class="time" *ngIf="!status"><span>{{time}}</span></p>
		<p class="on" *ngIf="status">Conectado</p>
		<p class="off" *ngIf="!status">Desconectado</p>		
	</div>	

</ion-content>