.table-input{ 
	input{
		border: none !important;
	}
	tr:not(.empty-row){
		td{
			border-left: solid 1px;
			> div{
				margin: 0 !important;
			}
		}	
	}
	.buttons-div{
		// REVER CONFLITO COM O TABLE DINAMICO
		//background-color: #f2f2f2;
		input{
				background-color: #f2f2f2 !important;
		}
	}
}

@media (max-width: 767px) {
    .table-input{
        
    }
}
