@import "./container/base.viewer.container.scss";
@import "./container/flat/flat.viewer.container.scss";
@import "./container/segment/segment.viewer.container.scss";
@import "./container/accordion/accordion.viewer.container.scss";
@import "./container/slide/slide.viewer.container.scss";
@import "./container/wizard/wizard.viewer.container.scss";

.dynamic-viewer{
	.label-partial{
		margin: 10px 10px 0;
	}
}

@media (max-width: 767px) {
	.dynamic-viewer{
		.wrapper-body-container{
			.body-container{
				padding: 0 !important;
			}        
		}
	}
}