.matrix-input{
	> .input-wrapper{
			.item-input{
					flex-direction: column;
			}
	}
	.grid-matrix{
		border: solid 1px var(--input-default-color);
		padding: 10px !important;
		border-radius: 5px;
		background: #fff;
		min-height: 34px;
		.data-form-input{
			.body-container{
				padding: 0 !important;
				.upload-json-input{
					padding: 10px
				}
				.image-col{
					border: solid 1px;
					border-radius: 0;
				}
			}				
			.wrapper-body-container{
				box-shadow: none;
			}
			.col-partial{
				border: none !important;
				border-radius: 0;
			}	
		}
		form{
			width: 100%;
		}
		.variant{
			justify-content: center;
			align-items: center;
    		display: flex;
			&:empty{
				display: none;
			}
			label{
				//background-color: var(--background-form);
				//padding: 10px;
				//border-radius: 5px;
				font-weight: bold;
				font-size: 11px !important;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: center;
				&:empty{
					display: none;
				}
			}
		}
	}
}
