.menu-output{
	.menu-tile{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		width: 100%;
		li{
			width: 33.33%;
			a{
				color:var(--background-header);
				text-align: center;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 10px;
				flex-direction: column;
				font-weight: bold;
				p{
					margin-top: 5px;
					margin-bottom: 0;
				}
				ion-icon{
					width: 100%;
					font-size: 200px;
				}	
			}
		}
	}
}

@media only screen and (max-width: 991px)
{
}

@media only screen and (min-width: 768px)
{
}

@media only screen and (min-width: 576px)
{
}
