.reference-text-input{
    .header-container{
        display: none;
    }
    .wrapper-body-container{
        border: solid 1px;
        margin: -1px 5px 0;
        box-shadow: none !important;
    }
    .item-input{
        flex-direction: column;
        align-items: flex-start !important;
    }
    .dynamic-viewer{
        width: 100%;
    }
    .clearIcon{
        position: absolute;
        right: 10px;
        top: 10px;
        color: #333;
        font-weight: bold;        
    }
    icon-input{
        position: absolute;
        right: 10px;
        top: 5px;
    }
    &.has-add, .has-set{
        .clearIcon{
            right: 50px;
        }
    }
}