.toggle-input{
	.label-title{
		text-align: center;
	}
    .item-input{
		align-items: center;
		justify-content: center;
		display: flex;
        button{
            display: none;
        }        
	}
	ion-toggle{
		--background-checked	 : var(--input-valid-color);
		--track-background-checked : var(--input-valid-color);
	}
	ion-checkbox{
		position: absolute;
		right: 10px;
		--background-checked	 : var(--input-default-color);
		--track-background-checked : var(--input-valid-color);
		//--border-color-checked : var(--input-default-color);
	}
}
