@media (min-width: 767px) {
	[flat-form-container]{
		.horizontal-steps{		
			.wrapper-body-container{
				display: flex;
				.steps{
					flex: 1 1 30%;
					&:nth-child(even) { background: #f9f9f9 }
					&:nth-child(odd)  { background: #FFF }
				}
			}		
			.buttons{
				justify-content: flex-start;
				flex-direction: row-reverse;
			}
		}
	}		
}