.reference-multi-checkbox-input{
    ul{
        width: 100%;
        list-style: none;
        margin: 0;
        padding: 0;
        li{
            ion-searchbar{
				padding: 0px;
				--background: #fff;
				.searchbar-input-container{
					height: 44px;
					border: solid 1px var(--input-default-color);
					border-radius: 5px
				}
				button{
					position: absolute;
				}
            }
            img{
                border-radius: 50%;
                margin-right: 10px;
            }
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0px;
            }
			.level-2{
				margin: 10px 20px;
			}
			.level-3{
				margin: 10px 20px;
			}
        }
    }
}
