.select-partial{
	display: flex;
	justify-content: center;
	align-items: center;
	
    // .checkbox-item[type=checkbox]{
	//     height: 32px;
	// 	width: 45px;
	// 	& + label{
	// 		border: none;
	// 		background: none;
	// 		margin-left: 5px;
	// 		&:before{
	// 			margin-right: 0;
	// 		}
	// 	}
	// }
}