@import "./base.step.input";
@import "./header/header.input";
@import "./agree/agree.input";
@import "./avatar/avatar.input";
@import "./label/label.input";
@import "./checkbox/checkbox.input";
@import "./checkbox.object/checkbox.object.input";
@import "./checkbox.title/checkbox.title.input";
@import "./rich.text/rich.text.input";
@import "./fieldset/fieldset.input";
@import "./reference.step/reference.step.input";
@import "./column.grid/column.grid.input";
@import "./error/error.input";
@import "./star/star.input";
@import "./hidden/hidden.input";
@import "./hidden.label/hidden.label.input";
@import "./question/question.input";
@import "./scan.button/scan.button.input";
@import "./radio/radio.input";
@import "./date/date.input";
@import "./textarea/textarea.input";
@import "./time.seconds/time.seconds.input";
@import "./reference.multi.checkbox/reference.multi.checkbox.input";
@import "./reference.options/reference.options.input";
@import "./fields/fields.input";
@import "./reference.fields/reference.fields.input";
@import "./comment/comment.input";
@import "./reference.arrange/reference.arrange.input";
@import "./reference.text/reference.text.input";
@import "./reference.select/reference.select.input";
@import "./reference.coupon/reference.coupon.input";
@import "./multi.checkbox/multi.checkbox.input";
@import "./generate.password/generate.password.input";
@import "./scale/scale.input";
@import "./geolocation/geolocation.input";
@import "./password/password.input";
@import "./select.icon/select.icon.input";
@import "./confirm.password/confirm.password.input";
@import "./sub.form/sub.form.input";
@import "./toggle/toggle.input";
@import "./upload.json/upload.json.input";
@import "./icon/icon.input";
@import "./signature/signature.input";
@import "./source.code/source.code.input";
@import "./data.form/data.form.input";
@import "./note/note.input";
@import "./attachment/attachment.input";
@import "./reference.multi.select/reference.multi.select.input";
@import "./calendar.form/components/calendar-form/calendar-form.component";

textarea,
select,
input,
button {
    outline: none;
}

.links-bar{
    text-align: right;
    margin: 0 5px 0 0;
}

[readonly] {
    background: #f2f2f2;
}

.col-buttons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 0;

    a {
        font-size: 25px;
        text-align: right;
        padding: 0;
        margin-right: 5px;
        display: flex;
        align-self: center;
    }
}

.ng-dropdown-panel-items{
	font-size: 14px;
}

ion-row:has(.hidden-input) {
    display: none;
}

.hidden{
	display: none;
}

input {
    width: 100%;
    padding: 8px;
    border: solid 1px var(--input-default-color);
    font-size: 14px;
    color: #333;
    border-radius: 4px;
}

input[type="checkbox"] {
    @include style-checkbox(33px);
}

input[type="radio"] {
    @include style-radio();
}

form.onSave()[type="checkbox"] {
    @include style-checkbox(21px);

    & + label {
		background: #fff;
		color: #333;
		padding: 5px 5px 4px 5px !important;
        border-radius: 5px;
        border: 1px solid var(--input-default-color);
        width: 100%;
        user-select: none;	
        &:after {
            left: 12px !important;
        }
    }
}

.input.col {
    width: 100%;

    .input-wrapper{
        position: relative;
        &.has-attachments{
            margin-right: 50px;
        }
    }

    .item-input {
        position: relative;
        &.icon {
            input {
                padding-right: 50px;
            }
        }
    }

    :not(.sub-form-input) {
        .item-input {
            ion-grid {
                padding: 0px;

                ion-col {
                    &:first-child {
                        padding-left: 0px;
                    }

                    &:last-child {
                        padding-right: 0px;
                    }
                }
            }
        }
    }

    .has-add{
        ng-select{
            width: calc(100% - 50px);
            .ng-value{
                z-index: 999;
            }
            .icon-input{}
        }
        icon-input{
            cursor: pointer;
        }
	}
	    
    .label-title{
        font-size: 12px;
        margin-bottom: 0px;
        margin-top: 0px;
        color:var(--input-default-color);
        //font-weight: bold;
        /*button{
            float: right;
            padding: 0;
            margin: 0;
            width: 20px;
            height: 20px;
            color: #666;
            font-size: 10px;
        }*/
    }

    .radio-input,
    .disc-input,
    .dna-input,
    .question-input,
    .table3x3-input {
        .label-title {
            border-bottom: solid 1px var(--input-default-color);
            padding: 10px 0;
        }

        label {
            display: flex;
            align-items: center;
            margin: 10px 0;
        }
    }

    .radio-inline-input,
    .scale-input {
        .label-title {
            border-bottom: solid 1px var(--input-default-color);
            padding: 10px 0;
        }

        label {
            display: flex;
            align-items: center;
            margin: 10px 20px 10px 0;
            float: left;
            min-height: 32px;
        }
    }

    ion-grid.list {
        padding: 0px;
        margin: 0px;

        ion-row {
            border-bottom: solid 1px #d2d2d2;
            padding: 5px 0;

            ion-col {
                padding-top: 0px;
                padding-bottom: 0px;
                align-items: center;
                display: flex;
                &.text {
                    display: flex;
                    align-items: center;

                    label {
                        padding: 5px 10px;
                    }
                }

                &:first-child {
                    padding-left: 0px;
                }

                &:last-child {
                    padding-right: 0px;
                }

                &.del-button,
                &.add-button,
                &.set-button,
                &.open-button,
                &.edit-button,
                &.icon-button{
                    margin-top: 3px;
                    font-size: 30px;
                    text-align: center;

                    a {
                        margin: 0;
                        border: none;
                        width: 100%;
                        font-size: 24px;

                        .icon {
                            margin-top: 2px;
                        }
                    }
                }
            }
        }

        &.display {
            .item {
                background: #fff;
                padding: 7px 10px;
                margin: 0 5px;
                border-radius: 5px;
                border: solid 1px #d2d2d2;

                &:first-child {
                    margin-left: 0px;
                }

                &:last-child {
                    margin-right: 0px;
                }
            }
        }
    }
}

/* DRAGULAR */
/*.gu-transit {
    background-color: brown !important;
    color: #fff;
    opacity: 0.5;
    min-height: 40px;
    padding: 10px;
    margin: 0px;
}

.gu-mirror {
    min-height: 40px;
    padding: 10px;
    margin: 0px;
    background-color: brown !important;
    color: #fff;
    font-size: 14px;
    min-height: auto !important;

    .icon {
        display: none;
    }
}*/

@media all and (max-width: 767px) 
{
    .input.col{
        .label-title{
            font-size: 11px;
        }
    }         
}

