[slide-list-container]{
	.swiper-button-prev, .swiper-button-next{
		background-color: #fff;
		opacity: 0.8;
		display: block;
		height: 60px !important;
		width: 40px !important;
	}
    ion-card{
        margin: 0px;
        background: #ffffff;
        width: 100%;
        .card-header{
            background: var(--background-header);
			color:var(--font-color-header);    
			padding: 5px;
			display: none;
            ion-card-title{
				font-size: 18px;				
				&:empty{
					display: none;
				}
			}
			ion-card-subtitle{
				&:empty{
					display: none;
				}	
			}
			&.has-header-content{
				display: block;
			}        
        }
        .card-content{
            background: #ffffff;
            padding: 10px;
            img{
                border: none;
			}
			&:empty{
				display: none;
			}
        }
        .card-footer{
            padding: 5px;
            display: flex;
            background: var(--background-footer);
            ion-button{
                color:var(--font-color-footer);
			}
			&:empty{
                display: none;
            }
        }
    }
}
