[tab-list-container]{
	ion-segment{
		ion-segment-button{
			//min-height: auto;
			flex:1;
			/*.title-output{
				overflow: hidden;
				display: inline-block;
				text-overflow: ellipsis;
				white-space: nowrap;
				width: 100%;
			}*/
		}
	} 
    ion-card{
        margin: 0px;
        background: #ffffff;
        .card-header{
            background: var(--background-header);
            color:var(--font-color-header);
            padding: 5px;
            ion-card-title{
                font-size: 18px;
            }
        }
        .card-content{
            background: #ffffff;
            padding: 10px;
            img{
                border: none;
            }
            .output{
                margin: 0 0 5px 0;
                &:last-child{
                    margin-bottom: 0px;
                }
            }
        }
        .card-footer{
            padding: 5px;
            display: flex;
            background: var(--background-footer);
            ion-button{
                color:var(--font-color-footer);
            }
        }
    }
}
