login-page {
	ion-grid{
		background-size: cover !important;
		height: 100%;
		padding: 0;
		> ion-row{
			height: 100%;
		}
	}
	.form-box{
		background: var(--intro-background);
		opacity: .9;
		display: flex;
		flex-direction: column;
		justify-content: center;
		height: 100%;
	}
	.note{	
		text-align: center;
	}
	form{
		background: none !important;
		margin: 0 50px;
		.wrapper-body-container{
			box-shadow: none !important;
		}
		.steps{
			background: none !important;			
		}
		mat-toolbar.footer-container{
			background: none !important;
			box-shadow: none !important;
			padding: 0 !important;
		}
		.body-container{
			padding: 0 10px !important;
		}
		.buttons{
			justify-content: center;
			.cancel-button{
				display: none;
			}
			.save-button{
				padding: 0;
				margin: 0;
				width: calc(100% - 30px);
				--background: #333;
				color: #fff;
				--background-activated: 1;
			}
		}
		.ng-submitted.ng-invalid .error-container{
			background: none !important;
			color: var(--input-invalid-color) !important;
			padding: 0 20px 10px !important;
			text-align: end;
		}
	}
	.logo-intro{
		margin-top: 0;
		padding: 0;
	}
	.solved{
		color:var(--font-color-intro);
		text-align: center;
    	margin-top: 5px;
		a{
			color:var(--font-color-intro);	
		}
	}
	ion-button.save-button{
		//--background: #3333 !important;
		margin: 0 1rem !important;
	}
	.register, .recovery-password{
		/*ion-button{		
			color: #fff;
			--background-hover: var(--background-header);
			--border-radius: 5px;
			border-radius: 5px;
			margin: 0;
			height: 100%;
			--padding-top: 10px;
			--padding-bottom: 10px;
			--padding-start: 20px;
			--padding-end: 20px;
			background: var(--background-header);
			opacity: 0.7;
		}*/
	}
}

@media only screen and (max-width: 768px) {

    login-page {
        ion-grid{
			padding: 0px;
        }
		ion-content{
			--keyboard-offset: 0 !important;
		}
		.form-box{
			opacity: 1;
		}
		form{
			margin: 0 20px;
			.buttons{
				.save-button{
					width: calc(100% - 20px) !important;
				}				
			}
		}
    }
}
