<ion-header *ifAcl="'show_header_form';acl:acl;value:true;">
	<ion-toolbar *ngIf="core().isMobile() && core().hasGuestUser()">
		<ion-buttons slot="start">
			<ion-menu-toggle>
				<ion-menu-button></ion-menu-button>
			</ion-menu-toggle>
			<ion-button *ngIf="hasBack()" ion-button icon-only (click)="back()">
				<ion-icon name="arrow-back-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
		<ion-title>
			Login
		</ion-title>
	</ion-toolbar>
</ion-header> 
<ion-content class="login-page">
	<ion-grid [backgroundSlider]="core()?.account?.background_login"> 
		<ion-row *ngIf="!loading">
			<ion-col *ngIf="!isPrivateMode" class="form-box" size-xs="12" size-ms="12" size-md="6" size-lg="6" size-xl="4"
					offset-xs="0" offset-ms="0" offset-md="0" offset-lg="0" offset-xl="0">
				<div class="logo-intro ion-text-center" *ngIf="form">
					<h1 *ngIf="!core()?.account?.logo && !core()?.account?.logoLogin">{{core()?.account?.name}}</h1>
					<img *ngIf="core()?.account?.logo && !core()?.account?.logoLogin" [src]="core()?.account?.logo?._url"/>
					<img *ngIf="core()?.account?.logoLogin" [src]="core()?.account?.logoLogin?._url"/>
				</div>
				<div login-form
					 #loginForm 
					 [app]="app"
					 [data]="data"
					 [form]="form"
					 [acl]="acl"
					 (cancel)="onCancel()"
					 (login)="onLogin($event)">
				</div>   
				<small *ngIf="core().solved" class="solved">
					<a target="_blank" href="{{core().solved.url}}">{{core().solved.name}}</a> {{core().versionApp}}<br>{{core().timezone.label}}
				</small>
				<div class="links">
					<p *ngFor="let app of registers" class="register {{app.value}}">
						<a (click)="onRegister(app)">{{app.label | translate}}</a>
					</p>
					<p class="recovery-password" *ifAcl="'recovery_password';acl:acl;">
						<a (click)="onRecovery()">{{'Esqueceu sua senha?' | translate}}</a>
					</p>
				</div>
			</ion-col>
			<ion-col *ngIf="isPrivateMode" class="form-box" size-xs="12" size-ms="12" size-md="6" size-lg="6" size-xl="4"
					offset-xs="0" offset-ms="0" offset-md="0" offset-lg="0" offset-xl="0">
				<p class="note">Para acessar a plataforma<br>é necessário ativar os cookies no navegador!</p>
			</ion-col>
			<ion-col size-xs="12" size-ms="12" size-md="6" size-lg="6" size-xl="8">

			</ion-col>
		</ion-row>		
	</ion-grid>
</ion-content>