.data-form-input{
    .buttons{
        border-radius: 5px;
        padding: 0px !important;
        min-height: 40px;
        a{
            background-color: var(--input-default-color);
            color:var(--font-color);
            border-radius: 5px;
            width: 100%;
            height: 100%;
            display: block;
            padding: 11px;
            &:hover{
                background-color: var(--background-color-hover);
                color: var(--font-color-hover);
            }
            ion-icon{
                color: var(--font-color) !important;
                margin-right: 10px;
            }
        }
    }
	.wrapper-body-container{			
		padding: 0px !important
	}		
}

.dataform-col{
    + .attachments-partial{
        display:none;
    }
}
