[number-pagination]{
    ion-toolbar{
        .allBatch{
            label{
                background: none;
                border: none;
                color: #fff;
                margin-left: 5px;
            }
        }
        .controller{        
            display: flex;
            justify-content: center;
            a{
                padding: 5px 10px;
                color: #fff;
                border: solid 1px #555;
                display: flex;
                align-items: center;
                &.selected{
                    background-color: #fff;
                    color: var(--background-footer);
                }
            }
        }
        .total, .none{
            font-size: 12px;
            color: #fff;            
            width: 10%;
            text-align: center;
        }   
    }    
}

@media all and (max-width: 767px) 
{
    [number-pagination]{
        ion-toolbar{
            .none, .firstPage, .lastPage{
                display: none !important;
            }   
            .total{
                width: 30%;
                text-align: right;
                padding-right: 10px;
            }
        }    
    }
}


// [number-pagination]{
//     display: flex;
//     background-color: var(--background-footer);
//     justify-content: center;
//     padding: 0.5rem;
//     .page-container{
//         display: flex;
//         justify-content: center;
//         width: 100%;
//         .controller{        
//             display: flex;
//             justify-content: center;
//             a{
//                 padding: 5px 10px;
//                 color: #fff;
//                 border: solid 1px #555;
//                 &.selected{
//                     background-color: #fff;
//                     color: var(--background-footer);
//                 }
//             }
//         }
//         .total{
//             color: #fff;
//             display: flex;
//             align-items: center;
//         }
//     }
// }
