.checkbox-input{
    margin-top: 20px;
    .header-input{
        display: none !important;
    }
    &.size-12{
        margin-top: 11px; /* INPUT DE 12 */
    }
    &.view-edit{
        .label-title{
            border-bottom: solid 1px var(--input-default-color);
            padding: 10px 0;
            min-height: 35px;
        }
    }
}
