div[header-input]{
	min-height: 20px;
    .information{
        cursor: pointer;
    }
    .description{
        margin-bottom: 5px !important;
        ion-col{
            padding: 0 5px;
            border-top: solid 1px #d2d2d2;
        }
    }
    ion-grid{
        padding: 0px;
        ion-col{
            padding: 3px;
        }
        .buttons{
            text-align: right;
            min-width: 60px;
            a{
                margin-left: 5px;
            }
        }
    }
}

@media (max-width: 767px) {
    div[header-input]{
        ion-grid{
            ion-col{
                padding: 3px 0;
            }
        }
    }
}

