iframe-modal{
    ion-content{
        --overflow: hidden;
        height: calc(100% - 60px);
        iframe{
            width: 100%;
            height: 100%;
            border: none;
            position: absolute;
            bottom: 0;
            top: 0;
            left: 0;
            right: 0;
        }
    }
}
