.list-multi-select-output{
    .list-items{        
        padding: 0px;
        font-size: 12px;
        display: flex;
        flex-wrap: wrap;
		margin-bottom: 10px;
        label{
			border: solid 1px #d2d2d2;
			padding: 2px 10px;
			margin-right: 5px;
			background: #fff;
			border-radius: 3px;
			font-size: 9px !important;
			text-transform: uppercase;
			font-weight: bold;
			display: flex;
			span{
				display: block;
			}
			a{
				color: #333333;
				text-align: center;
				img{
					max-width: 50px;
    				max-height: 50px;
				}
			}
        }
    }
}

@media (max-width: 767px) { 
    .list-multi-select-output{
        .list-items{
			label{
				margin-bottom: 10px;
			}
		}
    }
}    