.star-input{
	.stars{
		display:flex;
		justify-content: center;
	}
	.star {
		color: #888888;
		cursor: pointer;
		font-size: 30px;
		transition: color .4s ease-in-out;
	}
	.star.active {
		color: #FFD600;
	}
}