.verify-payment-output{
	i{
		display: block;
		user-select:all;
	}
	span{
		display: block;
		margin-top: 10px;
	}
	.boleto-button{
		background: darkgreen;
		color: #fff;
		padding: 10px;
		display: inline-block;
		border-radius: 5px;
		text-decoration: none;
		margin-bottom: 10px;
	}
}

[table-list-container]{
	.verify-payment-output{
		span{
			display: none;
		}
	}	
}