[table-list-container], [flat-viewer-container]{
	.matrix-output{
		padding: 0;
		.grid-matrix{
			padding: 0;
			ion-col{				
				.image-col{
					img{
						width: 40px;
						height: 40px;
					}
				}
			}
		}
	}
}

.matrix-output{
	margin: 0;
	.grid-matrix{
		//border: solid 1px var(--input-default-color);
		//padding: 10px !important;
		//@at-root: 5px;
		//background: #fff;
		min-height: 34px;
		> ion-row{
			border-bottom: solid 3px #f2f2f2;
			&:last-child{
				border-bottom: none;
			}
		}
		&.inline{
			display: flex;
			flex-direction: row;
			ion-row{
				flex-direction: column;
				border: none;
				ion-col{
					flex: auto !important;
					max-width: initial !important;
					width: initial !important;
					label{
						flex-direction: row !important;
						small{
							margin-left: 2px;
						}
					}		
				}	
			}			
		}
		&.onlyOne{
			.image-output{
				a{
					display: none;
					&:nth-child(1){
						display: flex !important;
					}
				}
			}
		}
		&.noVariant{
			.variant{
				display: none !important;
			}
		}
		.col-partial{
			border: none;
			background-color: var(--background-column);
			border-radius: 0;
		}
		.wrapper-body-container{
			box-shadow: none;
		}		
		.variant{
			justify-content: center;
			align-items: center;
    		display: flex;
			&:empty{
				display: none;
			}
			label{
				// background-color: var(--background-form);
				// padding: 10px;
				// border-radius: 5px;
				display: flex;
				justify-content: center;
				flex-direction: column;
				align-items: center;
				&:empty{
					display: none;
				}
			}
		}
		.output{
			padding:0 !important;
			justify-content: center;
		}
		.image-col{
			border: solid 1px var(--background-form);
			border-radius: 0;
			.label-partial{
				display: none;
			}
			img{
				max-width: 80px;
				max-height: 80px;
				margin:0px;
			}	
		}
		.data-form-output{
			width: 100%;
			.label-partial{
				margin: 0 0 10px;
    			font-weight: bold;
				justify-content: center;
			}
		}
		[dynamic-viewer]{
			width: 100%;
			.wrapper-body-container{
				padding-bottom: 0px;
				.body-container{
					padding: 0 !important;
				}
			}
		}
	}
}