.question-input{
    .label-title{
		padding-top: 10px;
    }
    .item-input{
        label{
            display: flex;
            align-items: center;
            margin-top: 15px;
            background: #fff;
            padding: 10px;
            border-radius: 10px;
            border: 1px #d2d2d2 solid;
        }
        ion-icon{
            position: absolute;
            right: 20px;
        }
    }
}
