.integer-output{
	user-select: none;
	.input-wrapper{
		display: flex;
		align-items: center;
		width: 100%;
		a{
			display: flex;
			ion-icon{
				font-size: 30px;
			}	
		}
		[readonly] {
			text-align:center;
		}
	}	
}
