.source-code-input{
    ngx-monaco-editor {
		height: 400px !important;
		.monaco-editor{
			width: 100% !important;
			height: 100% !important;
		}
	}
	.image-upload{
        position: absolute;
        font-size: 20px;
        right: 0px;
        top: -20px;
        z-index: 1;
    }
}
