<ion-header>
	<ion-toolbar>
		<ion-title>
			{{form?.name}}
		</ion-title>
		<ion-buttons slot="end">
			<ion-button ion-button icon-only (click)="copyForm()" *ngIf="core()?.user?.isMaster()">
				<ion-icon name="code-download-outline"></ion-icon>
			</ion-button>
			<ion-button ion-button icon-only (click)="pastForm()" *ngIf="core()?.user?.isMaster()">
				<ion-icon name="code-working-outline"></ion-icon>
			</ion-button>
			<ion-button ion-button icon-only (click)="_onClose()">
				<ion-icon name="close-outline"></ion-icon>
			</ion-button>
		</ion-buttons>
	</ion-toolbar>
</ion-header>	
<ion-content [ngClass]="{'no-footer' : !hasFooter()}">
	<form dynamic-form
		  #dynamicForm
		  [data]="data"
		  [form]="form"                      
		  (add)="_onAdd($event)"
		  (set)="_onSet($event)"
		  (close)="_onCancel()"
		  (rendererComplete)="onRendererComplete($event)"
		  class="form-form">
	</form>
</ion-content>
<ion-footer *ngIf="hasFooter()">
	<ion-toolbar #footer>		
	</ion-toolbar>
</ion-footer>	