.form-form-popover{
	overflow: hidden !important;
	/*ion-content{
		overflow: scroll;
	}*/
	> ion-footer{
		.next-button, .prev-button{
			display: none;
		}	
	}
	> ion-content{
		height: calc(100vh - 94px);
		> form{
			> .form-container{
				> [flat-form-container], [segment-form-container]{
					> div{
						> .wrapper-body-container{
							padding-bottom: 140px;
						}
						// > mat-toolbar{
						// 	position: fixed;
						// 	bottom: 0;
						// 	z-index: 999;
						// 	width: calc(100% - 15px);
						// }
						> .error-container{
							position: fixed;
							bottom: 57px;
							width: calc(100% - 15px);
							z-index: 99;
							&:empty{
								display: none;
							}
						}
					}
				}
				> [segment-form-container]{
					> div{
						> .mat-tab-header{
							border-radius: 0;
						}
						// > .mat-tab-header{
						// 	position: fixed;
						// 	width: calc(100% - 15px);
						// 	z-index: 9999;
						// }	
						> .mat-tab-body-wrapper{
							margin-top: 41px;
						}
					}					
				}
			}
		}
	}	
}

// ion-popover{
// 	.form-form-popover{
// 		ion-content{
// 			overflow: scroll;
// 		}
// 	}	
// }

@media only screen and (max-width: 767px)
{
	.form-form-popover{
		[segment-form-container]{
			.mat-tab-header{
				position: fixed;
				z-index: 999;		
				width: 100vw;
				border-top-left-radius: 0;
    			border-top-right-radius: 0;
			}
			.mat-tab-body-wrapper{
				margin-top: 44px;
			}
			.error-container{
				width: 100% !important;
				bottom: 48px !important;
			}
		}
		> ion-header{
			ion-buttons{
				padding-right: 10px;
			}
		}
		> ion-content{
			height: calc(100% - 92px - var(--ion-safe-area-top, 0) - (var(--ion-safe-area-top, 0) / 2));
		}
		> ion-footer{
			.next-button, .prev-button{
				display: block;
			}	
		}	
	}
}
