.reference-step-input{
    .item-input
    {
        > ion-grid{
            width: 100%;
            padding: 5px 0;
            ion-row{
                padding: 0 !important;
                border: none !important;
                flex-wrap: nowrap;
                ion-col{
                    padding: 0px;
                    border-right: 1px solid #fff;
                    ion-grid{
                        padding: 0px;
                    }
                }
            }
        }
        .bag-container{
            min-height: 40px;
        }
        .bag-steps{
            .drag-col{
                width: 0px; /* PARA FAZER TER N COLUNAS */
            }
        }
        .bag-wrapper{
            border: solid 1px #d2d2d2;
            .icon{
                float: right;
            }
            .header-step{
                //pointer-events: none;
                color:#333;
                padding: 10px;
                display: block;
                background: #d2d2d2;
                ion-icon[name="reorder-four"]{
                    float:right;
                }
            }
        }
        .add-drag-row{
            height: 40px;
            .drag-col{
                width: 100%;
            }
        }
        .drag-step{
            cursor: move;
            display: flex;
            align-items:center;
            background-color: #666;
            color: #fff;
            ion-icon{
                pointer-events: none;
                margin-left: calc(50% - 8px);
            }
        }
        .drag-row{
            cursor: move;
            display: flex;
            align-items:center;
            background-color: seagreen;
            color: #fff;
            ion-icon{
                pointer-events: none;
                margin-left: calc(50% - 8px);
            }
        }
        .drag-col{
            min-height: 40px;
            label{
                float: left;
                overflow: hidden;
                display: inline-block;
                text-overflow: ellipsis;
                white-space: nowrap;
                pointer-events: none;
                cursor: move;
                color:#fff;
                background: #55b279;
                padding: 10px;
                width: 100%;
            }
        }
        .step{
            label{
                color: #333;
                padding: 5px;
                display: block;
                background: #d2d2d2;
                font-size: 30px;
                display: flex;
                a{
                    display: flex;
                }
            }
        }
    }
}
