@import "./container/table/table.list.container.scss";
@import "./container/card/card.list.container.scss";
@import "./container/slide/slide.list.container.scss";
@import "./container/tile/tile.list.container.scss";
@import "./container/tab/tab.list.container.scss";
@import "./container/calendar/calendar.list.container.scss";
@import "./container/map/map.list.container.scss";

[dynamic-list]{
	width: 100%;
	height: 100%;
	> div {
		height: 100%;
	}
    .info{
        background: #fff;
        padding: 15px;
        margin-bottom: 15px;
        font-size: 16px;
	}	
	.empty-row{
		border: solid 1px var(--input-default-color);
		height: 40px;
		td{
			border: none;
			ion-button{
				border-left: solid 1px var(--input-default-color);
			}
		}
	}
}
