.radio-input{
    .item-input{
        flex-direction: column;
        .label-radio{
            display: flex;
            align-items: center;
            //margin-top: 15px;
            background: #fff;
			color: #333;
            padding: 6px;
            border-radius: 10px;
            border: 1px solid var(--input-default-color);
            width: 100%;
            // &:first-of-type{
            //     margin-top: 0px;
            // }
            &.disabled{
                background-color: var(--input-disabled-background-color);
            }
        }
    }
    &.inline{
        .item-input{
            flex-direction: row;         
            .label-radio{
                display: inline-flex;
                align-items: center;
                //margin-right: 10px;
                margin-bottom: 0px;
                background: #fff;
                padding: 6px;
                border-radius: 10px;
                border: 1px #666 solid;
                width: 100%;
                margin-top: 0px;
                &:last-child{
                    margin-right: 0px !important;
                }
            }
        }
    }
}

@media only screen and (max-width: 992px){
	.radio-input{
		&.inline{
			.item-input{
				display: block;
				.label-radio{
					margin-bottom: 20px;
					&:last-child{
						margin-bottom: 0px !important;
					}
				}
			}
		}
	}    
}
