:host {
	ion-content {
	  --padding-top: 0;
	  --padding-start: 0;
	  --padding-end: 0;
	}

	.form-wrapper{
		padding: 50px;		
		display: flex;
		justify-content: center;
		.buttons{
			width: 50%;
			gap: 1rem;
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: column;
			ion-button{
				width: 100%;
				ion-icon{
					margin-right: 1rem;
				}
			}
		}
	}
}