<ion-header>
	<ion-toolbar>
		<ion-title>
			Bling
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
	<div class="form-wrapper">

			<div class="buttons">
					<ion-button color="dark" (click)="onSyncProducts()">
							<ion-icon name="refresh-circle-outline"></ion-icon>
							Sincronizar Produtos					
					</ion-button>

					<ion-button color="dark" (click)="onSyncStock()"> 
							<ion-icon name="refresh-circle-outline"></ion-icon>
							Sincronizar Estoque					
					</ion-button>
			</div>			

	</div>

</ion-content>