gallery-modal{
    ion-content{
        --overflow: hidden;
        height: calc(100% - 60px);
        .swiper-button-prev, .swiper-button-next{
			background-color: #fff;
			opacity: 0.8;
            display: block;
            height: 60px !important;
            width: 40px !important;
        }
        .swiper-slide img{
            width: auto;
            max-width: 100vw;
            height: auto;
            max-height: 100vh;
        }
    }    
}
