<ion-content class="container">
	<mat-tab-group [selectedIndex]="selectedIndex">
		<mat-tab label="Meus Cursos">
			<div class="content my-courses">
				<div dynamic-list [grid]="gridCourses" [collection]="courses" (viewer)="onViewer($event)"></div>
			</div>
		</mat-tab>
		<mat-tab label="Financeiro">
			<div class="content my-courses">
				<div dynamic-list [grid]="gridFinancial" [collection]="financial"></div>
			</div>
		</mat-tab>
		<mat-tab label="Meus dados">
			<form dynamic-form #registerForm  [form]="registerForm" [data]="core().user"></form>
		</mat-tab>
		<mat-tab label="Logout">
			<div class="buttons">
				<a (click)="push('logout', {appid:'users'})" class="btn-confirm logout">fazer logout</a>
			</div>
		</mat-tab>
	</mat-tab-group>		
</ion-content>