.checkbox-title-input{
    .label-title{
        border-bottom: solid 1px #d2d2d2;
        padding: 10px 0;
    }
    label{
        display: flex;
        align-items: center;
        margin: 10px 0;
    }
    .item-header{
        .description{
            display: none;
        }
    }
}
