loading-page{
    ul{
        list-style: none;
        margin: 0;
        padding: 0;
        width: 100%;
        text-align: center;
        padding-top: 40vh;
        font-size: 30px;
        li{
            margin-bottom: 15px;
            ion-button{
                min-width:100px;
                --color: #333;
                --border-color: #333;
                --color-focused: #333;
            }
        }
    }
    .login{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5rem;
        ion-button{
            width: 300px;
        }
    }
}
