menu-tile-block{
	.menu-tile-flat{
		list-style: none;
		margin: 0;
		padding: 0;
		display: flex;
		flex-wrap: wrap;
		li{
			width: 10%;
			a{
				color:#333;
				text-align: center;
				display: flex;
				flex-wrap: wrap;
				justify-content: center;
				padding: 20px;
				flex-direction: column;
				p{
					margin-top: 5px;
					margin-bottom: 0;
				}
				ion-icon{
					color:#333;
					width: 100%;
					font-size: 40px;
				}	
			}
		}
	}
	.menu-tile {
        width: 100%;
        display: flex;
        align-items: stretch;
        justify-content: space-between;
        flex-wrap: wrap;
		list-style: none;
		padding: 0;
		label{
			width: 100%;
			background: var(--toolbar-background);
			color: var(--toolbar-color);
			text-align: center;
			padding: 10px;
			font-weight: bold;
			border-top-right-radius: 10px;
			border-top-left-radius: 10px;
		}
		.item-tile {
			margin: 10px;
			flex: 1;
			min-width: 20%;
			display: flex;
			place-items: center;
			flex-direction: column;
			border: solid 1px #d2d2d2;
			border-radius: 10px;
			.sub-menu-tile{
				list-style: none;
				margin: 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;
				align-items: stretch;
        		justify-content: center;
				li{
					a{
						color:#333;
						text-align: center;
						display: flex;
						flex-wrap: wrap;
						flex: 1;
						justify-content: center;
						padding: 20px;
						flex-direction: column;
						p{
							margin-top: 5px;
							margin-bottom: 0;
						}
						ion-icon{
							color:#333;
							width: 100%;
							font-size: 40px;
						}	
					}
				}
			}
		}
	}      
}

@media only screen and (max-width: 991px)
{
	menu-tile-block{
		.menu-tile-flat{
			li{
				width: 25%;
			}
		}
	}
}

@media only screen and (max-width: 768px)
{
	menu-tile-block{
		.menu-tile-flat{
			li{
				width: 33.3%;
			}
		}
	}
}

@media only screen and (max-width: 576px)
{
}
