<ion-header>
	<ion-toolbar>
		<ion-title>
			Timezone
		</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
	
	<div class="form-wrapper">
		<form dynamic-form
				#dynamicForm
				[form]="exportForm"
				[data]="data"
				(set)="onSave($event)"
				class="login-form">
		</form>
	</div>

</ion-content>