:host {
	ion-content {
	  --padding-top: 0;
	  --padding-start: 0;
	  --padding-end: 0;
	}

	.form-wrapper{
		padding: 50px;
		display: flex;
		justify-content: center;
		form{
			width: 600px;
		}
	}
}