@import "./column.order/column.order.popover.scss";
@import "./field.form/field.form.popover.scss";
@import "./form.filter/form.filter.popover.scss";
@import "./form.form/form.form.popover.scss";
@import "./list/list.popover.scss";

ion-popover{
	.output{
		p{
			white-space: pre-wrap;
		}
	}	
	&.right-popover{
		--width: 400px;
		--height: 100vh;
		--max-height: 100vh;
		--offset-x: calc(50vw - 200px);
		&::part(content){ // REMOVE BLOCO
			overflow: hidden;
			//right: 0 !important;
			//left: auto !important;
			//top: 0 !important;	
			// .popover-viewport{
			// 	overflow: scroll;
			// }		
		}
		/*.popover-viewport{
			top: 0px !important;
			bottom: 0px;
			left: auto !important;
			right: 0px;
			--width: 400px;
			--min-width: 400px;
			--min-height: 400px;
			--max-height: 100%;
			animation: slide-right 0.4s ease;
			box-shadow: -1px 5px 10px 1px #333333
		}
		.field-options{
			padding: 0px;
		}
		form{
		}*/
		ion-toolbar{
			ion-button{
				width: 50%;
			}
		}
	}
}

@media only screen and (min-width: 992px)
{
}

@media only screen and (max-width: 991px)
{
}

@media only screen and (min-width: 768px)
{
}
