.attachments-partial
{
    width: 100%;
    .wrapper-attachments.has-attachments
    {
        width: 100%;
        padding: 10px;
        background: floralwhite;
        border-radius: 10px;
        margin: 6px;
        border: #666 solid 1px;
        display: flex;
        .wrapper-media, .wrapper-comment{
            max-width: 250px;
            min-width: 250px;
        }
        .wrapper-comment{
            position: relative;
            background: papayawhip;
            padding: 10px;
            max-width: 250px;
            border-radius: 10px;
            ion-icon{
                position: absolute;
                right: -5px;
                top: -5px;
                font-size: 18px;
                color:orangered;
                cursor: pointer;
                z-index: 999;
            }
        }
        .videos, .images, .gallery, .audios, .documents, .comment, .bonus{
            margin: 0;
            margin-right: 10px;
            position: relative;
            display: flex;
            flex-wrap: wrap;
            ion-badge{
                position: absolute;
                bottom: -10px;
                right: -5px;
                z-index: 9;
            }
            a{
                position: relative;
                display: inline-block;
                border-right: 0;
            }
            .remove-button{
                position: absolute;
                top: -5px;
                right: -5px;
                background: darkred;
                color: #fff;
                font-size: 18px;
                border-radius: 50%;
                cursor: pointer;
                z-index: 999;
            }
        }
        video{
            max-width: 250px;
            max-height: 250px;
            padding: 5px;
        }
        img{
            padding: 5px;
        }
        .comment, .bonus{
            small{
                position: relative;
                background: papayawhip;
                padding: 10px;
                border-radius: 10px;
                cursor: pointer;
                display: inline-block;
                width: 100%;
            }
        }
        .documents{
            span{
                cursor: pointer;
                .wrapper-media{
                    text-decoration: none;
                    background: darkseagreen;
                    padding: 10px;
                    color: #fff;
                    border-radius: 10px;
                }
            }
        }
        .videos{
            > span{
                position: relative;
                display: inline-block;
                border: solid 1px #d2d2d2;
                margin-left: 10px;
                cursor: pointer;
                &:last-child{
                    border-right: solid 1px #d2d2d2;
                }
                .play-button{
                    font-size: 50px;
                    position: absolute;
                    top: 100px;
                    left: 50px;
                    color: #fff;
                }
            }
        }
        .images, .galley{
            > span{
                border: solid 1px #d2d2d2;
                border-radius: 10px;
                position: relative;
                display: inline-block;
                margin-left: 10px;
                margin-bottom: 10px;
                cursor: pointer;
                &:last-child{
                    border-right: solid 1px #d2d2d2;
                }
                div{
                    text-align: center;
                }
                small{
                    display: block;
                    background: papayawhip;
                    padding: 10px;
                    word-wrap: break-word;
                    width: 100%;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    padding-right: 40px;
                    min-height: 35px;
                }
                ion-icon{
                    position: absolute;
                    right: 5px;
                    bottom: 1px;
                    font-size: 30px;
                    cursor:pointer;
                }
            }
        }
        audio{
            max-width: 200px;
            height: 38px;
        }
    }
}
