.video-url-output{
	position: relative;
    .video-wrapper{
        width: 100%;
    }
	.plyr__poster{
		background-size: cover;
	}
}

@media (max-width: 767px) {
    .videourl-col{
        padding: 0px;        
    }
    div.video-url-output{
        margin: 0px;
    }    
}