.time-seconds-input{
    .input-col{
        input{
            float: left;
            width: calc(100% - 75px) !important;
            border-right: 0 !important;
            border-bottom-right-radius: 0 !important;
            border-top-right-radius: 0 !important;
        }
        label{
            width: 75px;
            background: #fff;
            height: 40px;
            display: inline-flex;
            align-items: center;
            border: solid 1px var(--input-default-color);
            color: var(--input-default-color);
            border-radius: 5px;
            border-left: 0;
            border-bottom-left-radius: 0;
            border-top-left-radius: 0;
        }
    }
}
